Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Tell me when it came back, not when it blinked
  custom_components/spook/ectoplasms/spook/triggers/flapping.py
  custom_components/spook/ectoplasms/spook/triggers/recovered.py
  custom_components/spook/ectoplasms/spook/triggers/stale.py
  custom_components/spook/icons.json
  custom_components/spook/target_watching.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_recovered.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Carry the return itself, not just the news of it
  custom_components/spook/ectoplasms/spook/triggers/recovered.py
  tests/ectoplasms/spook/triggers/test_recovered.py
Due: ruff-check, ruff-format, pylint

Ask Home Assistant which members a group can hold
  custom_components/spook/group_members.py
  documentation/integrations/group.md
  tests/ectoplasms/group/services/test_members.py
Due: ruff-check, ruff-format, pylint

Never show a member again, because nobody knows who hid it
  custom_components/spook/ectoplasms/group/services/add_members.py
  custom_components/spook/group_members.py
  documentation/integrations/group.md
  tests/ectoplasms/group/services/test_members.py
Due: ruff-check, ruff-format, pylint

Two names for one member is still one member
  custom_components/spook/ectoplasms/group/services/add_members.py
  custom_components/spook/ectoplasms/group/services/remove_members.py
  custom_components/spook/ectoplasms/group/services/set_members.py
  custom_components/spook/group_members.py
  documentation/integrations/group.md
  tests/ectoplasms/group/services/test_members.py
Due: ruff-check, ruff-format, pylint

Change a group's members while the house is running
  custom_components/spook/ectoplasms/group/services/__init__.py
  custom_components/spook/ectoplasms/group/services/add_members.py
  custom_components/spook/ectoplasms/group/services/remove_members.py
  custom_components/spook/ectoplasms/group/services/set_members.py
  custom_components/spook/group_members.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/group.md
  tests/ectoplasms/group/services/__init__.py
  tests/ectoplasms/group/services/test_members.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Home Assistant cannot say "and" over time
  custom_components/spook/ectoplasms/spook/triggers/all_of.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_all_of.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Test the two paths review could see were untested
  tests/ectoplasms/spook/triggers/test_all_of.py
Due: ruff-check, ruff-format, pylint

One dance, not three copies of it
  tests/ectoplasms/spook/triggers/test_all_of.py
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/ectoplasms/spook/triggers/test_watchdog.py
  tests/nested_trigger_helpers.py
Due: ruff-check, ruff-format, pylint

A motion sensor does not report motion once
  custom_components/spook/ectoplasms/spook/triggers/debounce.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_debounce.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

The order Home Assistant fills a selector in is not an update
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

The order Home Assistant fills a selector in is not an update (#1597)
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

The last firing comes through whole, and nothing to wait out is refused
  custom_components/spook/ectoplasms/spook/triggers/debounce.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_debounce.py
Due: ruff-check, ruff-format, pylint

A motion sensor does not report motion once (#1588)
  custom_components/spook/ectoplasms/spook/triggers/debounce.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_debounce.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

fix: use prefix matching for NEVER_AN_ENTITY to cover this.entity_id* variants
  custom_components/spook/action_extraction.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/template_extraction.py
Due: ruff-check, ruff-format, pylint

Add a HACS button that checks all repositories for updates now
  custom_components/spook/ectoplasms/hacs/__init__.py
  custom_components/spook/ectoplasms/hacs/button.py
  custom_components/spook/ectoplasms/hacs/entity.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/hacs.md
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Update documentation/enhanced_integrations.md
  documentation/enhanced_integrations.md
Due: none

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Filter out disabled entities in entity list
  custom_components/spook/ectoplasms/hacs/button.py
Due: ruff-check, ruff-format, pylint

Test that a selector outside the input block keeps its order
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Portuguese)
  custom_components/spook/integrations/spook_inverse/translations/pt.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/integrations/spook_inverse/translations/fi.json
Due: check-json

Translated using Weblate (English (United Kingdom))
  custom_components/spook/integrations/spook_inverse/translations/en_GB.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh-Hans.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
