Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Stop reading the device registry as a mapping
  custom_components/spook/core_compat.py
  custom_components/spook/ectoplasms/homeassistant/device.py
  custom_components/spook/entity_filtering.py
  tests/device_registry_helpers.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
  tests/test_core_compat.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Stop reading the device registry as a mapping (#1471)
  custom_components/spook/core_compat.py
  custom_components/spook/ectoplasms/homeassistant/device.py
  custom_components/spook/entity_filtering.py
  tests/device_registry_helpers.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
  tests/test_core_compat.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Handle child devices in the device actions
  custom_components/spook/core_compat.py
  custom_components/spook/ectoplasms/homeassistant/device.py
  custom_components/spook/ectoplasms/homeassistant/services/add_device_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_device_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  tests/ectoplasms/homeassistant/services/test_device.py
  tests/test_core_compat.py
Due: ruff-check, ruff-format, pylint

Cover the child device walks with a mocked registry
  tests/ectoplasms/homeassistant/test_device.py
Due: ruff-check, ruff-format, pylint

Handle child devices in the device actions (#1474)
  custom_components/spook/core_compat.py
  custom_components/spook/ectoplasms/homeassistant/device.py
  custom_components/spook/ectoplasms/homeassistant/services/add_device_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_device_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  tests/ectoplasms/homeassistant/services/test_device.py
  tests/ectoplasms/homeassistant/test_device.py
  tests/test_core_compat.py
Due: ruff-check, ruff-format, pylint

Add automation.triggered_by_user and its counterpart
  custom_components/spook/__init__.py
  custom_components/spook/condition.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/automation/conditions/__init__.py
  custom_components/spook/ectoplasms/automation/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/automation/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/automation/context.py
  custom_components/spook/services.py
  custom_components/spook/translation_injection.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/automation/conditions/__init__.py
  tests/ectoplasms/automation/conditions/test_context_conditions.py
  tests/test_condition_resolution_patch.py
  tests/test_condition_translation_injection.py
  tests/test_condition_translations.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Prove the injected labels reach the automation editor
  tests/test_condition_translation_injection.py
Due: ruff-check, ruff-format, pylint

Pick people, not user IDs
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/automation/conditions/triggered_by_user.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/automation/conditions/test_context_conditions.py
  tests/test_condition_translation_injection.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Make the conditions work in automations, and follow the actions' layout
  custom_components/spook/condition.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/automation/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/automation/context.py
  custom_components/spook/translation_injection.py
  tests/ectoplasms/automation/conditions/test_in_automations.py
  tests/test_condition_resolution_patch.py
  tests/test_condition_translation_injection.py
  tests/test_condition_translations.py
Due: ruff-check, ruff-format, check-yaml, pylint

Stop the patch from being able to break anything else
  custom_components/spook/condition.py
  custom_components/spook/ectoplasms/automation/context.py
  tests/test_condition_resolution_patch.py
Due: ruff-check, ruff-format, pylint

Document the conditions Spook provides
  documentation/_toc.yml
  documentation/conditions.md
  documentation/features.md
  documentation/glossary.md
  documentation/integrations/automation.md
Due: check-yaml

Document the conditions the way the actions are documented
  documentation/_toc.yml
  documentation/conditions.md
  documentation/features.md
  documentation/integrations/automation.md
  documentation/other_features.md
Due: check-yaml

Put the conditions in Spook's own namespace
  custom_components/spook/__init__.py
  custom_components/spook/condition.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/automation/conditions/__init__.py
  custom_components/spook/ectoplasms/spook/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/services.py
  custom_components/spook/translation_injection.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/integrations/automation.md
  documentation/other_features.md
  tests/ectoplasms/automation/conditions/__init__.py
  tests/ectoplasms/spook/conditions/test_context_conditions.py
  tests/ectoplasms/spook/conditions/test_in_automations.py
  tests/test_condition_resolution_patch.py
  tests/test_condition_translation_injection.py
  tests/test_condition_translations.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Take the review's corrections
  custom_components/spook/ectoplasms/spook/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/glossary.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_context_conditions.py
  tests/ectoplasms/spook/conditions/test_in_automations.py
Due: ruff-check, ruff-format, check-json, pylint

Match the cooldown example to the condition
  documentation/other_features.md
Due: none

Say what the Run button really does to a condition
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_in_automations.py
Due: ruff-check, ruff-format, pylint

Make the test helpers say what they do
  tests/ectoplasms/spook/conditions/test_context_conditions.py
Due: ruff-check, ruff-format, pylint

Explain how to actually exclude somebody
  custom_components/spook/translations/en.json
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_in_automations.py
Due: ruff-check, ruff-format, check-json, pylint

A template trigger does know who was behind it
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_in_automations.py
Due: ruff-check, ruff-format, check-json, pylint

Add spook.triggered_by_user and its counterpart (#1466)
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/conditions.md
  documentation/glossary.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_context_conditions.py
  tests/ectoplasms/spook/conditions/test_in_automations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a spook.cron trigger
  custom_components/spook/ectoplasms/spook/triggers/__init__.py
  custom_components/spook/ectoplasms/spook/triggers/cron.py
  custom_components/spook/manifest.json
  custom_components/spook/translations/en.json
  custom_components/spook/trigger.py
  custom_components/spook/triggers.yaml
  documentation/_toc.yml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/__init__.py
  tests/ectoplasms/spook/triggers/test_cron.py
  tests/test_platform_validation.py
  tests/test_trigger_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Refuse cron expressions that are not five fields
  custom_components/spook/ectoplasms/spook/triggers/cron.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Make the field-count constant private, as the siblings are
  custom_components/spook/ectoplasms/spook/triggers/cron.py
Due: ruff-check, ruff-format, pylint

Refuse cron expressions that never come round
  custom_components/spook/ectoplasms/spook/triggers/cron.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Document that the two day fields combine with "or"
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Say that either day field starting with * makes it an "and"
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Make the "or" test actually rule out an "and"
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Rework the pending wait when the time zone changes
  custom_components/spook/ectoplasms/spook/triggers/cron.py
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Correct the last-Monday bound in a test docstring
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Add a spook.cron trigger (#1479)
  custom_components/spook/ectoplasms/spook/triggers/__init__.py
  custom_components/spook/ectoplasms/spook/triggers/cron.py
  custom_components/spook/manifest.json
  custom_components/spook/translations/en.json
  custom_components/spook/trigger.py
  custom_components/spook/triggers.yaml
  documentation/_toc.yml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/__init__.py
  tests/ectoplasms/spook/triggers/test_cron.py
  tests/test_platform_validation.py
  tests/test_trigger_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a spook.stale trigger
  custom_components/spook/ectoplasms/spook/triggers/stale.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_stale.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Refuse a target that names nothing, and stop rebuilding listeners
  custom_components/spook/ectoplasms/spook/triggers/stale.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_stale.py
Due: ruff-check, ruff-format, pylint

Keep the quiet period in real time, and swap listeners in the right order
  custom_components/spook/ectoplasms/spook/triggers/stale.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_stale.py
Due: ruff-check, ruff-format, pylint

Add a spook.stale trigger (#1480)
  custom_components/spook/ectoplasms/spook/triggers/stale.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_stale.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a spook.integration_failed trigger
  custom_components/spook/ectoplasms/spook/triggers/integration_failed.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_integration_failed.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Drop the invalid multiple option from the entry_id field
  custom_components/spook/triggers.yaml
Due: check-yaml

Correct why a zero duration is refused, and document trigger.for
  custom_components/spook/ectoplasms/spook/triggers/integration_failed.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_integration_failed.py
Due: ruff-check, ruff-format, pylint

Add a spook.integration_failed trigger (#1481)
  custom_components/spook/ectoplasms/spook/triggers/integration_failed.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_integration_failed.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a spook.triggered_by_automation condition
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/automation_runs.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_automation.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_triggered_by_automation.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Look past the automation asking, and keep looking
  custom_components/spook/__init__.py
  custom_components/spook/automation_runs.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_automation.py
  custom_components/spook/ectoplasms/spook/context.py
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_context_conditions.py
  tests/ectoplasms/spook/conditions/test_triggered_by_automation.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
