Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Added translation using Weblate (Bosnian)
  custom_components/spook/integrations/spook_inverse/translations/bs.json
Due: check-json

Added translation using Weblate (Icelandic)
  custom_components/spook/integrations/spook_inverse/translations/is.json
Due: check-json

Added translation using Weblate (Hindi)
  custom_components/spook/integrations/spook_inverse/translations/hi.json
Due: check-json

Added translation using Weblate (Basque)
  custom_components/spook/integrations/spook_inverse/translations/eu.json
Due: check-json

Added translation using Weblate (Irish)
  custom_components/spook/integrations/spook_inverse/translations/ga.json
Due: check-json

Added translation using Weblate (Welsh)
  custom_components/spook/integrations/spook_inverse/translations/cy.json
Due: check-json

Added translation using Weblate (Serbian)
  custom_components/spook/integrations/spook_inverse/translations/sr.json
Due: check-json

Added translation using Weblate (English (United Kingdom))
  custom_components/spook/integrations/spook_inverse/translations/en_GB.json
Due: check-json

Fix number service error messages
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Handle string native number values
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/number/__init__.py
  tests/ectoplasms/number/services/__init__.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Add context for invalid number native values
  custom_components/spook/ectoplasms/number/services/__init__.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Ignore Jinja import filenames (#1307)
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Inject service translations for Spook actions
  custom_components/spook/services.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/test_service_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Potential fix for pull request finding
  custom_components/spook/translations/en.json
Due: check-json

Fix Spook action names in translations (#1311)
  custom_components/spook/services.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/test_service_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Ignore event payloads in automation repair checks
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Ignore event payloads in automation repair checks (#1312)
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Clean up repair listeners on deactivate
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Purge orphaned database entities
  custom_components/spook/ectoplasms/homeassistant/services/delete_all_orphaned_entities.py
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  tests/ectoplasms/homeassistant/services/test_orphaned_entities.py
Due: ruff-check, ruff-format, pylint

Clean up repair listeners on deactivate (#1314)
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Offer to enable existing Spook entry
  custom_components/spook/config_flow.py
  custom_components/spook/translations/en.json
  tests/test_config_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Reduce repeated template extraction work
  custom_components/spook/entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Reduce repeated template extraction work (#1315)
  custom_components/spook/entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Treat time date sensors as known entities
  custom_components/spook/entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Cascade device enable and disable actions
  custom_components/spook/ectoplasms/homeassistant/device.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_device.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_device.py
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, pylint

Inspect plural automation config sections
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Align script and automation counts with UI
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  tests/ectoplasms/homeassistant/test_sensor.py
Due: ruff-check, ruff-format, pylint

Inspect plural automation config sections (#1319)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Ignore event data device IDs in plural triggers
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
Due: ruff-check, ruff-format, pylint

Ignore entity references in Jinja comments
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Skip disabled automations for service repairs
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  tests/ectoplasms/automation/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, pylint

Skip disabled automations for service repairs (#1323)
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  tests/ectoplasms/automation/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, pylint

Potential fix for pull request finding
  custom_components/spook/ectoplasms/homeassistant/sensor.py
Due: ruff-check, ruff-format, pylint

Align script and automation counts with UI (#1320)
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  tests/ectoplasms/homeassistant/test_sensor.py
Due: ruff-check, ruff-format, pylint

Ignore event data device IDs in plural triggers (#1321)
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
Due: ruff-check, ruff-format, pylint

Clarify Jinja comment regression test
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Address time date review comments
  custom_components/spook/entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Address device cascade review comments
  custom_components/spook/ectoplasms/homeassistant/device.py
Due: ruff-check, ruff-format, pylint

Address existing entry flow review comments
  custom_components/spook/config_flow.py
  tests/test_config_flow.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
