Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Check the corrected value is a number, and fix the factor example
  custom_components/spook/integrations/spook_calibration/sensor.py
  documentation/helpers/calibration.md
  tests/integrations/spook_calibration/test_sensor.py
Due: ruff-check, ruff-format, pylint

Add a calibration helper (#1754)
  .github/workflows/release.yaml
  custom_components/spook/integrations/spook_calibration/__init__.py
  custom_components/spook/integrations/spook_calibration/config_flow.py
  custom_components/spook/integrations/spook_calibration/const.py
  custom_components/spook/integrations/spook_calibration/manifest.json
  custom_components/spook/integrations/spook_calibration/sensor.py
  custom_components/spook/integrations/spook_calibration/translations/en.json
  documentation/_toc.yml
  documentation/helpers.md
  documentation/helpers/calibration.md
  tests/integrations/spook_calibration/__init__.py
  tests/integrations/spook_calibration/conftest.py
  tests/integrations/spook_calibration/test_sensor.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Notice dashboards performing actions that do not exist
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  tests/ectoplasms/lovelace/repairs/test_unknown_service_references.py
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, check-json, pylint

Fall back to service only where JavaScript would
  custom_components/spook/dashboard_extraction.py
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, pylint

Notice dashboards performing actions that do not exist (#1755)
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  tests/ectoplasms/lovelace/repairs/test_unknown_service_references.py
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, check-json, pylint

Discard obsolete blueprint offers after external imports
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Notice HomeKit bridges naming entities that do not exist
  custom_components/spook/ectoplasms/homekit/__init__.py
  custom_components/spook/ectoplasms/homekit/repairs/__init__.py
  custom_components/spook/ectoplasms/homekit/repairs/unknown_entity_references.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/homekit.md
  tests/ectoplasms/homekit/__init__.py
  tests/ectoplasms/homekit/repairs/__init__.py
  tests/ectoplasms/homekit/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Keep whether a missing HomeKit entity was included or excluded
  custom_components/spook/ectoplasms/homekit/repairs/unknown_entity_references.py
  tests/ectoplasms/homekit/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Notice HomeKit bridges naming entities that do not exist (#1758)
  custom_components/spook/ectoplasms/homekit/__init__.py
  custom_components/spook/ectoplasms/homekit/repairs/__init__.py
  custom_components/spook/ectoplasms/homekit/repairs/unknown_entity_references.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/homekit.md
  tests/ectoplasms/homekit/__init__.py
  tests/ectoplasms/homekit/repairs/__init__.py
  tests/ectoplasms/homekit/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.user_added trigger
  custom_components/spook/ectoplasms/spook/triggers/user_added.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_user_added.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.integration_added trigger
  custom_components/spook/ectoplasms/spook/triggers/integration_added.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_integration_added.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.device_discovered trigger
  custom_components/spook/ectoplasms/spook/triggers/device_discovered.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_device_discovered.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.integration_added trigger (#1760)
  custom_components/spook/ectoplasms/spook/triggers/integration_added.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_integration_added.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.user_added trigger (#1759)
  custom_components/spook/ectoplasms/spook/triggers/user_added.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_user_added.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Added translation using Weblate (Dutch)
  custom_components/spook/integrations/spook_calibration/translations/nl.json
Due: check-json

Added translation using Weblate (German)
  custom_components/spook/integrations/spook_calibration/translations/de.json
Due: check-json

Added translation using Weblate (French)
  custom_components/spook/integrations/spook_calibration/translations/fr.json
Due: check-json

Added translation using Weblate (Spanish)
  custom_components/spook/integrations/spook_calibration/translations/es.json
Due: check-json

Added translation using Weblate (Irish)
  custom_components/spook/integrations/spook_calibration/translations/ga.json
Due: check-json

Added translation using Weblate (Galician)
  custom_components/spook/integrations/spook_calibration/translations/gl.json
Due: check-json

Added translation using Weblate (Luxembourgish)
  custom_components/spook/integrations/spook_calibration/translations/lb.json
Due: check-json

Added translation using Weblate (Turkish)
  custom_components/spook/integrations/spook_calibration/translations/tr.json
Due: check-json

Added translation using Weblate (Latvian)
  custom_components/spook/integrations/spook_calibration/translations/lv.json
Due: check-json

Added translation using Weblate (Lithuanian)
  custom_components/spook/integrations/spook_calibration/translations/lt.json
Due: check-json

Added translation using Weblate (Thai)
  custom_components/spook/integrations/spook_calibration/translations/th.json
Due: check-json

Added translation using Weblate (Telugu)
  custom_components/spook/integrations/spook_calibration/translations/te.json
Due: check-json

Added translation using Weblate (Tamil)
  custom_components/spook/integrations/spook_calibration/translations/ta.json
Due: check-json

Added translation using Weblate (Portuguese (Brazil))
  custom_components/spook/integrations/spook_calibration/translations/pt_BR.json
Due: check-json

Added translation using Weblate (Greek)
  custom_components/spook/integrations/spook_calibration/translations/el.json
Due: check-json

Added translation using Weblate (Danish)
  custom_components/spook/integrations/spook_calibration/translations/da.json
Due: check-json

Added translation using Weblate (Esperanto)
  custom_components/spook/integrations/spook_calibration/translations/eo.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
