Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Parenthesize the qualifier, like the details next to it
  custom_components/spook/entity_suggestions.py
Due: ruff-check, ruff-format, pylint

Qualify entity references only disabled steps make (#1400)
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/entity_suggestions.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Add a cooldown condition
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/cooldown.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/spook/conditions/test_cooldown.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Fix the cooldown tests and drop a branch that cannot run
  custom_components/spook/ectoplasms/spook/conditions/cooldown.py
  tests/ectoplasms/spook/conditions/test_cooldown.py
  tests/test_condition_translations.py
Due: ruff-check, ruff-format, pylint

Freeze the clock in the boundary test, cover the restore path
  tests/ectoplasms/spook/conditions/test_cooldown.py
Due: ruff-check, ruff-format, pylint

Add a cooldown condition (#1387)
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/cooldown.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/spook/conditions/test_cooldown.py
  tests/test_condition_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Validate template helper options before walking them for actions
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/template/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown actions in template helpers (#1397)
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/integrations/template.md
  tests/ectoplasms/template/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Finnish)
  custom_components/spook/integrations/spook_inverse/translations/fi.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/integrations/spook_inverse/translations/pt.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/integrations/spook_inverse/translations/zh_Hant.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Catalan)
  custom_components/spook/translations/ca.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Romanian)
  custom_components/spook/translations/ro.json
Due: check-json

Translated using Weblate (Hungarian)
  custom_components/spook/translations/hu.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Translated using Weblate (Latvian)
  custom_components/spook/translations/lv.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Thai)
  custom_components/spook/translations/th.json
Due: check-json

Translated using Weblate (Estonian)
  custom_components/spook/translations/et.json
Due: check-json

Translated using Weblate (Ukrainian)
  custom_components/spook/translations/uk.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (Luxembourgish)
  custom_components/spook/translations/lb.json
Due: check-json

Translated using Weblate (Korean)
  custom_components/spook/translations/ko.json
Due: check-json

Translated using Weblate (Indonesian)
  custom_components/spook/translations/id.json
Due: check-json

Translated using Weblate (Bulgarian)
  custom_components/spook/translations/bg.json
Due: check-json

Translated using Weblate (Hebrew)
  custom_components/spook/translations/he.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Slovenian)
  custom_components/spook/translations/sl.json
Due: check-json

Translated using Weblate (Georgian)
  custom_components/spook/translations/ka.json
Due: check-json
