Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Translations update from Hosted Weblate (#1084)
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/nb.json
Due: check-json

Cover already configured Spook config flow
  tests/test_config_flow.py
Due: ruff-check, ruff-format, pylint

Cover already configured Spook config flow (#1289)
  tests/test_config_flow.py
Due: ruff-check, ruff-format, pylint

Cover Spook inverse config flow
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Cover Spook inverse config flow (#1290)
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Cover entity extraction helpers
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Cover entity extraction helpers (#1291)
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Cover Spook setup restart paths
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Address setup restart test review
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Prevent restart test listener leaks
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Cover Spook setup restart paths (#1292)
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Update translation file
  custom_components/spook/ectoplasms/repairs/event.py
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
Due: ruff-check, ruff-format, check-json, pylint

Update translation file
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Fix add area to floor service schema
  custom_components/spook/ectoplasms/homeassistant/services/add_area_to_floor.py
  tests/ectoplasms/homeassistant/services/test_area_floor.py
Due: ruff-check, ruff-format, pylint

Fix add area to floor service schema (#1293)
  custom_components/spook/ectoplasms/homeassistant/services/add_area_to_floor.py
  tests/ectoplasms/homeassistant/services/test_area_floor.py
Due: ruff-check, ruff-format, pylint

Fix recorder statistics metadata import
  custom_components/spook/ectoplasms/recorder/services/import_statistics.py
  tests/ectoplasms/recorder/__init__.py
  tests/ectoplasms/recorder/services/__init__.py
  tests/ectoplasms/recorder/services/test_import_statistics.py
Due: ruff-check, ruff-format, pylint

Fix recorder statistics metadata import (#1294)
  custom_components/spook/ectoplasms/recorder/services/import_statistics.py
  tests/ectoplasms/recorder/__init__.py
  tests/ectoplasms/recorder/services/__init__.py
  tests/ectoplasms/recorder/services/test_import_statistics.py
Due: ruff-check, ruff-format, pylint

Add Simplified and Traditional Chinese translations (zh-Hans & zh-Hant) (#1288)
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Allow enabling disabled devices by ID
  custom_components/spook/services.yaml
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, check-yaml, pylint

Use text selector for device IDs
  custom_components/spook/services.yaml
Due: check-yaml

Allow enabling disabled devices by ID (#1295)
  custom_components/spook/services.yaml
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, check-yaml, pylint

Ignore repair events without action
  custom_components/spook/ectoplasms/repairs/event.py
  tests/ectoplasms/repairs/__init__.py
  tests/ectoplasms/repairs/test_event.py
Due: ruff-check, ruff-format, pylint

Ignore repair events without action (#1296)
  custom_components/spook/ectoplasms/repairs/event.py
  tests/ectoplasms/repairs/__init__.py
  tests/ectoplasms/repairs/test_event.py
Due: ruff-check, ruff-format, pylint

Recheck automation services when components load
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  tests/ectoplasms/automation/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, pylint

Recheck automation services when components load (#1299)
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  tests/ectoplasms/automation/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, pylint

Translations update from Hosted Weblate (#1298)
  custom_components/spook/translations/sk.json
Due: check-json

Added translation using Weblate (Norwegian Bokmål)
  custom_components/spook/translations/nb_NO.json
Due: check-json

Added translation using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh_Hans.json
Due: check-json

Added translation using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/integrations/spook_inverse/translations/nl.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/integrations/spook_inverse/translations/de.json
Due: check-json

Translated using Weblate (Romanian)
  custom_components/spook/translations/ro.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Translated using Weblate (Urdu)
  custom_components/spook/integrations/spook_inverse/translations/ur.json
Due: check-json

Translated using Weblate (Galician)
  custom_components/spook/integrations/spook_inverse/translations/gl.json
Due: check-json

Translated using Weblate (Thai)
  custom_components/spook/translations/th.json
Due: check-json

Translated using Weblate (Luxembourgish)
  custom_components/spook/integrations/spook_inverse/translations/lb.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
