Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Find dashboard navigation to views that do not exist
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_view_references.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/lovelace/repairs/test_unknown_view_references.py
Due: ruff-check, ruff-format, check-json, pylint

Point out names Assist cannot tell apart
  custom_components/spook/ectoplasms/conversation/__init__.py
  custom_components/spook/ectoplasms/conversation/repairs/__init__.py
  custom_components/spook/ectoplasms/conversation/repairs/duplicate_names.py
  custom_components/spook/manifest.json
  custom_components/spook/repair_documentation.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/conversation.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/conversation/__init__.py
  tests/ectoplasms/conversation/repairs/__init__.py
  tests/ectoplasms/conversation/repairs/test_duplicate_names.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Leave out what only disabled parts name, whichever key core reads
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/automation/repairs/test_disabled_step_targets.py
  tests/ectoplasms/automation/repairs/test_disabled_steps.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Leave performed action payloads and Jinja comments alone
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_view_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_view_references.py
Due: ruff-check, ruff-format, pylint

Report trigger IDs an automation checks for that none of its triggers has
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_trigger_id_references.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/template_extraction.py
  custom_components/spook/translations/en.json
  custom_components/spook/trigger_ids.py
  documentation/integrations/automation.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/automation/repairs/test_unknown_trigger_id_references.py
Due: ruff-check, ruff-format, check-json, pylint

Report entity fields in automations and scripts that hold no entity ID
  custom_components/spook/action_extraction.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/repairs.py
  custom_components/spook/template_extraction.py
  tests/test_not_entity_ids.py
Due: ruff-check, ruff-format, pylint

Look again when an integration loads
  custom_components/spook/ectoplasms/conversation/repairs/duplicate_names.py
  tests/ectoplasms/conversation/repairs/test_duplicate_names.py
Due: ruff-check, ruff-format, pylint

Keep inspecting when Home Assistant cannot list what an automation or script references
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/reference_extraction.py
  custom_components/spook/registry_usage.py
  custom_components/spook/repairs.py
  custom_components/spook/usage_finding.py
  tests/ectoplasms/automation/repairs/test_template_device_references.py
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
  tests/ectoplasms/script/repairs/test_repeat_nested_targets.py
  tests/ectoplasms/script/repairs/test_unknown_area_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_core_references.py
Due: ruff-check, ruff-format, pylint

Report unknown attributes in template helpers (#1912)
  custom_components/spook/ectoplasms/template/repairs/unknown_attribute_references.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/translations/en.json
  documentation/integrations/template.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/template/repairs/test_unknown_attribute_references.py
Due: ruff-check, ruff-format, check-json, pylint

Report values on core dashboard cards that are not entity IDs (#1911)
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/llm_tools.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
  tests/test_llm.py
Due: ruff-check, ruff-format, pylint

Leave out what only disabled parts name, whichever key core reads (#1915)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/automation/repairs/test_disabled_step_targets.py
  tests/ectoplasms/automation/repairs/test_disabled_steps.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Find dashboard navigation to views that do not exist (#1913)
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_view_references.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/lovelace/repairs/test_unknown_view_references.py
Due: ruff-check, ruff-format, check-json, pylint

Report trigger IDs an automation checks for that none of its triggers has (#1916)
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_trigger_id_references.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/template_extraction.py
  custom_components/spook/translations/en.json
  custom_components/spook/trigger_ids.py
  documentation/integrations/automation.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/automation/repairs/test_unknown_trigger_id_references.py
Due: ruff-check, ruff-format, check-json, pylint

Report entity fields in automations and scripts that hold no entity ID (#1920)
  custom_components/spook/action_extraction.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/repairs.py
  custom_components/spook/template_extraction.py
  tests/test_not_entity_ids.py
Due: ruff-check, ruff-format, pylint

Point out names Assist cannot tell apart (#1914)
  custom_components/spook/ectoplasms/conversation/__init__.py
  custom_components/spook/ectoplasms/conversation/repairs/__init__.py
  custom_components/spook/ectoplasms/conversation/repairs/duplicate_names.py
  custom_components/spook/manifest.json
  custom_components/spook/repair_documentation.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/conversation.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/conversation/__init__.py
  tests/ectoplasms/conversation/repairs/__init__.py
  tests/ectoplasms/conversation/repairs/test_duplicate_names.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Keep inspecting when Home Assistant cannot list what an automation or script references (#1921)
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/reference_extraction.py
  custom_components/spook/registry_usage.py
  custom_components/spook/repairs.py
  custom_components/spook/usage_finding.py
  tests/ectoplasms/automation/repairs/test_template_device_references.py
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
  tests/ectoplasms/script/repairs/test_repeat_nested_targets.py
  tests/ectoplasms/script/repairs/test_unknown_area_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_core_references.py
Due: ruff-check, ruff-format, pylint

Report a missing entity a new style threshold compares against
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Check the attribute values state triggers and conditions wait for
  custom_components/spook/attribute_checking.py
  custom_components/spook/attribute_value_checking.py
  custom_components/spook/llm_tools.py
  custom_components/spook/reference_extraction.py
  custom_components/spook/repairs.py
  custom_components/spook/state_checking.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/ectoplasms/automation/repairs/test_unknown_state_references_attribute_values.py
  tests/ectoplasms/script/repairs/test_unknown_state_references.py
  tests/test_attribute_value_checking.py
  tests/test_state_references.py
Due: ruff-check, ruff-format, pylint

Quote a suggestion YAML would not keep as text
  custom_components/spook/attribute_value_checking.py
  tests/ectoplasms/automation/repairs/test_unknown_state_references_attribute_values.py
Due: ruff-check, ruff-format, pylint

Check attributes and states dashboards name
  custom_components/spook/dashboard_names.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/lovelace/entity_names.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_attribute_references.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_state_references.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/lovelace/repairs/dashboard_helpers.py
  tests/ectoplasms/lovelace/repairs/test_unknown_attribute_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_state_references.py
Due: ruff-check, ruff-format, check-json, pylint

Judge numbers shaped like an entity ID as states
  custom_components/spook/dashboard_names.py
  tests/ectoplasms/lovelace/repairs/test_unknown_state_references.py
Due: ruff-check, ruff-format, pylint

Mark scope gaps, keep strategy dashboards whole, validate expect strictly
  tests/corpus/README.md
  tests/corpus/automation/floor-areas-match-pattern-is-state.yaml
  tests/corpus/automation/for-each-mappings-entities-under-own-keys.yaml
  tests/corpus/automation/for-each-mappings-entity-key.yaml
  tests/corpus/automation/ios-notification-camera-entity-and-url.yaml
  tests/corpus/automation/label-and-floor-template-functions-in-target.yaml
  tests/corpus/automation/label-entities-template-trigger.yaml
  tests/corpus/automation/label-loop-without-namespace.yaml
  tests/corpus/automation/states-dot-repeat-loop.yaml
  tests/corpus/automation/target-as-whole-template.yaml
  tests/corpus/automation/templated-device-id-target.yaml
  tests/corpus/automation/variables-mapping-state-to-scene.yaml
  tests/corpus/cases.py
  tests/corpus/dashboard/advanced-camera-card-camera-entity.yaml
  tests/corpus/dashboard/button-card-js-compares-other-entity.yaml
  tests/corpus/dashboard/button-card-variables-name-entities.yaml
  tests/corpus/dashboard/clock-weather-card-own-sensor-keys.yaml
  tests/corpus/dashboard/decluttering-templates-placeholders.yaml
  tests/corpus/dashboard/decluttering-variables-under-own-names.yaml
  tests/corpus/dashboard/flex-table-card-entities-include.yaml
  tests/corpus/dashboard/fold-entity-row-head-string.yaml
  tests/corpus/dashboard/markdown-card-entity-id-option.yaml
  tests/corpus/dashboard/power-flow-card-split-entity.yaml
  tests/corpus/dashboard/sankey-chart-children-strings.yaml
  tests/corpus/dashboard/status-card-content-mixes-domains-and-entities.yaml
  tests/corpus/dashboard/vacuum-card-map-camera.yaml
  tests/corpus/dashboard/weather-chart-card-sensor-keys.yaml
  tests/corpus/dashboard/whole-dashboard-with-tags.yaml
  tests/corpus/dashboard/xiaomi-vacuum-map-card-camera-source.yaml
  tests/corpus/harness.py
  tests/corpus/script/namespace-loop-over-variable-list-with-secret.yaml
  tests/corpus/script/wait-for-event-with-field-examples.yaml
  tests/corpus/script/wait-for-trigger-zone-numeric-state.yaml
  tests/corpus/test_corpus.py
Due: ruff-check, ruff-format, check-yaml, pylint

Mark three more scope gaps
  tests/corpus/automation/trigger-variables-entity-in-template-trigger.yaml
  tests/corpus/dashboard/auto-entities-template-builds-cards.yaml
  tests/corpus/dashboard/navbar-card-routes.yaml
Due: check-yaml

Pin the fourth pair, and require a reason for known_issue
  tests/corpus/script/condition-steps.yaml
  tests/corpus/test_corpus.py
Due: ruff-check, ruff-format, check-yaml, pylint

Pin the two design decisions: raw text and fired event payloads are reported
  tests/corpus/automation/fire-custom-event-with-entity-payload.yaml
  tests/corpus/automation/raw-block-hides-entity-text.yaml
Due: check-yaml

Word the two decisions so the note check reads them right
  tests/corpus/automation/fire-custom-event-with-entity-payload.yaml
  tests/corpus/automation/raw-block-hides-entity-text.yaml
Due: check-yaml

Record the entity filter decision in its case
  tests/corpus/dashboard/entity-filter-attribute-in-entity-id.yaml
Due: check-yaml

Say what is no entity ID apart, and give the house its core integration
  tests/corpus/README.md
  tests/corpus/automation/state-attr-plural-typo-variable-named-list.yaml
  tests/corpus/dashboard/entity-filter-attribute-in-entity-id.yaml
  tests/corpus/harness.py
  tests/corpus/script/update-entity-device-target.yaml
  tests/corpus/snapshots/test_corpus.ambr
Due: ruff-check, ruff-format, check-yaml, pylint

Add corpus cases for the detections main gained
  tests/corpus/automation/action-data-entity-id-with-attribute.yaml
  tests/corpus/automation/disabled-time-and-zone-parts.yaml
  tests/corpus/automation/states-lookup-of-weather-attribute.yaml
  tests/corpus/automation/trigger-id-copied-from-another-automation.yaml
  tests/corpus/automation/trigger-id-typo-in-template.yaml
  tests/corpus/dashboard/core-cards-attribute-in-entity-field.yaml
  tests/corpus/dashboard/picture-elements-image-attribute-in-entity.yaml
  tests/corpus/script/disabled-scene-steps.yaml
  tests/corpus/script/states-lookup-saved-to-a-variable.yaml
  tests/corpus/snapshots/test_corpus.ambr
Due: check-yaml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
