Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: rye run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: rye run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-json:
  name: ｛ Check JSON files
  language: system
  entry: rye run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: rye run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: rye run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: rye run pylint

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Translations update from Hosted Weblate (#811)
  custom_components/spook/integrations/spook_inverse/translations/af.json
  custom_components/spook/integrations/spook_inverse/translations/ca.json
  custom_components/spook/integrations/spook_inverse/translations/et.json
  custom_components/spook/integrations/spook_inverse/translations/fi.json
  custom_components/spook/integrations/spook_inverse/translations/id.json
  custom_components/spook/integrations/spook_inverse/translations/ko.json
  custom_components/spook/integrations/spook_inverse/translations/mt.json
  custom_components/spook/integrations/spook_inverse/translations/nb_NO.json
  custom_components/spook/integrations/spook_inverse/translations/pt.json
  custom_components/spook/integrations/spook_inverse/translations/sv.json
  custom_components/spook/integrations/spook_inverse/translations/zh_Hans.json
  custom_components/spook/integrations/spook_inverse/translations/zh_Hant.json
  custom_components/spook/translations/af.json
  custom_components/spook/translations/cs.json
  custom_components/spook/translations/de.json
  custom_components/spook/translations/el.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/hu.json
  custom_components/spook/translations/id.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/ko.json
  custom_components/spook/translations/mt.json
  custom_components/spook/translations/nb_NO.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sk.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh_Hans.json
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Translations update from Hosted Weblate (#809)
  custom_components/spook/translations/sv.json
Due: check-json

Fix merge/json errors in translations
  custom_components/spook/translations/cs.json
  custom_components/spook/translations/el.json
  custom_components/spook/translations/hu.json
  custom_components/spook/translations/id.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/ko.json
  custom_components/spook/translations/nb_NO.json
  custom_components/spook/translations/sk.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh_Hans.json
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Update translation files
  custom_components/spook/translations/pt-BR.json
Due: check-json

Update translation files
  custom_components/spook/translations/cs.json
  custom_components/spook/translations/el.json
  custom_components/spook/translations/hu.json
  custom_components/spook/translations/id.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nb_NO.json
  custom_components/spook/translations/pl.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sk.json
Due: check-json

Translations update from Hosted Weblate (#910)
  custom_components/spook/translations/cs.json
  custom_components/spook/translations/el.json
  custom_components/spook/translations/hu.json
  custom_components/spook/translations/id.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nb_NO.json
  custom_components/spook/translations/pl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sk.json
Due: check-json

Remove old HACS install instructions
  documentation/images/installation/hacs_download.png
  documentation/images/installation/hacs_download_fab.png
  documentation/images/installation/hacs_find_spook.png
  documentation/images/installation/hacs_integrations.png
  documentation/installation.md
Due: none

Remove old HACS install instructions (#911)
  documentation/images/installation/hacs_download.png
  documentation/images/installation/hacs_download_fab.png
  documentation/images/installation/hacs_find_spook.png
  documentation/images/installation/hacs_integrations.png
  documentation/installation.md
Due: none

Migrate pre-commit configuration
  .pre-commit-config.yaml
Due: check-yaml

Migrate pre-commit configuration (#913)
  .pre-commit-config.yaml
Due: check-yaml

Translated using Weblate (Swedish) (#914)
  custom_components/spook/translations/sv.json
Due: check-json

:fireworks: Updates maintenance/license year to 2025
  LICENSE.md
  README.md
  documentation/license.md
Due: none

:fireworks: Updates maintenance/license year to 2025 (#915)
  LICENSE.md
  README.md
  documentation/license.md
Due: none

Translated using Weblate (Czech) (#917)
  custom_components/spook/translations/cs.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/integrations/spook_inverse/translations/sv.json
Due: check-json

Translated using Weblate (Russian)
  custom_components/spook/translations/ru.json
Due: check-json

Translated using Weblate (Korean)
  custom_components/spook/integrations/spook_inverse/translations/ko.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Remove template extensions
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/homeassistant/templating/__init__.py
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch_filter.py
  custom_components/spook/ectoplasms/homeassistant/templating/md5.py
  custom_components/spook/ectoplasms/homeassistant/templating/sha1.py
  custom_components/spook/ectoplasms/homeassistant/templating/sha256.py
  custom_components/spook/ectoplasms/homeassistant/templating/sha512.py
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
  custom_components/spook/ectoplasms/homeassistant/templating/typeof.py
  custom_components/spook/templating.py
  custom_components/spook/util.py
  documentation/_toc.yml
  documentation/about.md
  documentation/core_extensions.md
  documentation/previous_features.md
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/flatten.md
  documentation/template_functions/fnmatch.md
  documentation/template_functions/fnmatch_filter.md
  documentation/template_functions/md5.md
  documentation/template_functions/sha1.md
  documentation/template_functions/sha256.md
  documentation/template_functions/sha512.md
  documentation/template_functions/shuffle.md
  documentation/template_functions/typeof.md
Due: ruff-check, ruff-format, check-yaml, pylint

Remove template extensions (#935)
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/homeassistant/templating/__init__.py
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch_filter.py
  custom_components/spook/ectoplasms/homeassistant/templating/md5.py
  custom_components/spook/ectoplasms/homeassistant/templating/sha1.py
  custom_components/spook/ectoplasms/homeassistant/templating/sha256.py
  custom_components/spook/ectoplasms/homeassistant/templating/sha512.py
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
  custom_components/spook/ectoplasms/homeassistant/templating/typeof.py
  custom_components/spook/templating.py
  custom_components/spook/util.py
  documentation/_toc.yml
  documentation/about.md
  documentation/core_extensions.md
  documentation/previous_features.md
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/flatten.md
  documentation/template_functions/fnmatch.md
  documentation/template_functions/fnmatch_filter.md
  documentation/template_functions/md5.md
  documentation/template_functions/sha1.md
  documentation/template_functions/sha256.md
  documentation/template_functions/sha512.md
  documentation/template_functions/shuffle.md
  documentation/template_functions/typeof.md
Due: ruff-check, ruff-format, check-yaml, pylint

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/integrations/spook_inverse/translations/da.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/integrations/spook_inverse/translations/pt_BR.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
