Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: rye run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: rye run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: rye run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: rye run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: rye run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: rye run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: rye run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: rye run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: rye run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: rye run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Add homeassistant.add_label_to_device service (#716)
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_label_to_entity service
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_entity.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_label_to_entity service (#717)
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_entity.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_label_from_area service
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_label_from_area service (#718)
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_label_from_device service
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_label_from_device service (#719)
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_label_from_entity service
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_entity.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_label_from_entity service (#720)
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_entity.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Require at least Home Assistant 2024.4.0
  documentation/installation.md
  hacs.json
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-json, check-toml

Require at least Home Assistant 2024.4.0 (#721)
  documentation/installation.md
  hacs.json
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-json, check-toml

Fix blocking I/O importing modules
  custom_components/spook/repairs.py
  custom_components/spook/services.py
  custom_components/spook/templating.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix blocking I/O on event loop while importing modules (#722)
  custom_components/spook/repairs.py
  custom_components/spook/services.py
  custom_components/spook/templating.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Move license to root of repo so GitHub picks it up
  LICENSE.md
Due: none

Recommend Spook, instead of discourage the use
  documentation/index.md
Due: none

Move license to root of repo so GitHub picks it up (#723)
  LICENSE.md
Due: none

Recommend Spook, instead of discourage the use (#724)
  documentation/index.md
Due: none

Update recorder.md
  documentation/integrations/recorder.md
Due: none

Misc typing improvements
  custom_components/spook/__init__.py
  custom_components/spook/config_flow.py
  custom_components/spook/ectoplasms/homeassistant/entity.py
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/recorder/services/import_statistics.py
  custom_components/spook/ectoplasms/repairs/button.py
  custom_components/spook/ectoplasms/repairs/entity.py
  custom_components/spook/ectoplasms/repairs/event.py
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/ectoplasms/zone/services/delete.py
  custom_components/spook/ectoplasms/zone/services/update.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/repairs.py
  custom_components/spook/services.py
  custom_components/spook/templating.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix area and floor registry service calls
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
Due: ruff-check, ruff-format, pylint

Update recorder.md to improve YAML example. (#727)
  documentation/integrations/recorder.md
Due: none

Fix area and floor registry service calls (#732)
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
Due: ruff-check, ruff-format, pylint

Change Description dataclasses to frozen
  custom_components/spook/ectoplasms/cloud/entity.py
  custom_components/spook/ectoplasms/cloud/switch.py
  custom_components/spook/ectoplasms/homeassistant/button.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/ectoplasms/repairs/button.py
  custom_components/spook/ectoplasms/repairs/event.py
  custom_components/spook/ectoplasms/repairs/sensor.py
Due: ruff-check, ruff-format, pylint

Add EventType annotations
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Fix ruff
  custom_components/spook/ectoplasms/cloud/entity.py
  custom_components/spook/ectoplasms/cloud/switch.py
Due: ruff-check, ruff-format, pylint

Misc typing improvements (#731)
  custom_components/spook/__init__.py
  custom_components/spook/config_flow.py
  custom_components/spook/ectoplasms/homeassistant/entity.py
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/recorder/services/import_statistics.py
  custom_components/spook/ectoplasms/repairs/button.py
  custom_components/spook/ectoplasms/repairs/entity.py
  custom_components/spook/ectoplasms/repairs/event.py
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/ectoplasms/zone/services/delete.py
  custom_components/spook/ectoplasms/zone/services/update.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/repairs.py
  custom_components/spook/services.py
  custom_components/spook/templating.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Make AbstractSpookEntityService and AbstractSpookEntityComponentService generic
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/input_number/services/max.py
  custom_components/spook/ectoplasms/input_number/services/min.py
  custom_components/spook/ectoplasms/input_select/services/shuffle.py
  custom_components/spook/ectoplasms/input_select/services/sort.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  custom_components/spook/ectoplasms/number/services/max.py
  custom_components/spook/ectoplasms/number/services/min.py
  custom_components/spook/ectoplasms/select/services/random.py
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/services.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (French)
  custom_components/spook/integrations/spook_inverse/translations/fr.json
Due: check-json

Added translation using Weblate (Croatian)
  custom_components/spook/integrations/spook_inverse/translations/hr.json
Due: check-json

Translated using Weblate (Croatian)
  custom_components/spook/integrations/spook_inverse/translations/hr.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/integrations/spook_inverse/translations/nl.json
Due: check-json

Translated using Weblate (Greek)
  custom_components/spook/integrations/spook_inverse/translations/el.json
Due: check-json

Translated using Weblate (Indonesian)
  custom_components/spook/integrations/spook_inverse/translations/id.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/integrations/spook_inverse/translations/cs.json
Due: check-json

Add EventType annotations (#733)
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Change Description dataclasses to frozen (#730)
  custom_components/spook/ectoplasms/cloud/entity.py
  custom_components/spook/ectoplasms/cloud/switch.py
  custom_components/spook/ectoplasms/homeassistant/button.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/ectoplasms/repairs/button.py
  custom_components/spook/ectoplasms/repairs/event.py
  custom_components/spook/ectoplasms/repairs/sensor.py
Due: ruff-check, ruff-format, pylint

Make AbstractSpookEntityService and AbstractSpookEntityComponentService generic (#729)
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/input_number/services/max.py
  custom_components/spook/ectoplasms/input_number/services/min.py
  custom_components/spook/ectoplasms/input_select/services/shuffle.py
  custom_components/spook/ectoplasms/input_select/services/sort.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  custom_components/spook/ectoplasms/number/services/max.py
  custom_components/spook/ectoplasms/number/services/min.py
  custom_components/spook/ectoplasms/select/services/random.py
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/services.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Greek)
  custom_components/spook/translations/el.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Added translation using Weblate (Croatian)
  custom_components/spook/translations/hr.json
Due: check-json
