Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Add the todo.move_item action
  custom_components/spook/ectoplasms/todo/__init__.py
  custom_components/spook/ectoplasms/todo/services/__init__.py
  custom_components/spook/ectoplasms/todo/services/move_item.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/todo.md
  tests/ectoplasms/todo/__init__.py
  tests/ectoplasms/todo/services/__init__.py
  tests/ectoplasms/todo/services/test_move_item.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Read a whole percentage exactly, the way the quota limit does
  custom_components/spook/ectoplasms/cover/stepping.py
  custom_components/spook/ectoplasms/humidifier/stepping.py
  custom_components/spook/ectoplasms/valve/stepping.py
  custom_components/spook/setpoints.py
  tests/test_setpoints.py
Due: ruff-check, ruff-format, pylint

Refuse a bottom with no last item to name, and label the positions
  custom_components/spook/ectoplasms/todo/services/move_item.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/todo/services/test_move_item.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Show the option labels of selectors in Spook's actions
  custom_components/spook/services.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Refuse an integer too long to write out, instead of tripping over it
  custom_components/spook/setpoints.py
  tests/test_setpoints.py
Due: ruff-check, ruff-format, pylint

Refuse a fraction as a step instead of cutting it down
  custom_components/spook/ectoplasms/cover/stepping.py
  custom_components/spook/ectoplasms/humidifier/stepping.py
  custom_components/spook/ectoplasms/valve/stepping.py
  custom_components/spook/setpoints.py
  tests/ectoplasms/cover/services/test_step_position.py
  tests/ectoplasms/humidifier/services/test_step_humidity.py
  tests/ectoplasms/valve/services/test_step_position.py
  tests/test_setpoints.py
Due: ruff-check, ruff-format, pylint

Refuse a quota limit too long to write out, instead of tripping over it
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Check every option of a translated selector has its label
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Collect a shared selector key's options from every field using it
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Make the position choices of todo.move_item translatable
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
Due: check-json, check-yaml

Add the spook.update_installed trigger
  custom_components/spook/ectoplasms/spook/triggers/update_installed.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_update_installed.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Register actions for a component that loads after Spook
  custom_components/spook/services.py
  tests/test_ectoplasm_discovery.py
  tests/test_service_registration_errors.py
Due: ruff-check, ruff-format, pylint

Listen for late components before parking anything
  custom_components/spook/services.py
  tests/test_service_registration_errors.py
Due: ruff-check, ruff-format, pylint

Hand Core the targets as written from 2026.10
  custom_components/spook/core_compat.py
  custom_components/spook/services.py
  tests/test_core_compat.py
Due: ruff-check, ruff-format, pylint

Keep the loaded target when the written one is not there
  custom_components/spook/core_compat.py
  tests/test_core_compat.py
Due: ruff-check, ruff-format, pylint

Cancel a translation injection still running at unload
  custom_components/spook/services.py
  tests/test_service_registration_errors.py
Due: ruff-check, ruff-format, pylint

Hand Core the targets as written from 2026.10 (#1788)
  custom_components/spook/core_compat.py
  custom_components/spook/services.py
  tests/test_core_compat.py
Due: ruff-check, ruff-format, pylint

Register the service teardown before setting them up
  custom_components/spook/__init__.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Register actions for a component that loads after Spook (#1786)
  custom_components/spook/__init__.py
  custom_components/spook/services.py
  tests/test_ectoplasm_discovery.py
  tests/test_service_registration_errors.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Name the states the update installed trigger passes on
  documentation/other_features.md
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
