Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: poetry run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: poetry
        name: 📜 Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Converted to using entity service
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Add Spook's mention in the Self-Hosted podcast
  documentation/media.md
Due: none

Add Spook's mention in the Self-Hosted podcast (#504)
  documentation/media.md
Due: none

Add video about Spook from Gryd
  documentation/media.md
Due: none

Add video about Spook from Gryd (#505)
  documentation/media.md
Due: none

Fix embeded video in the docs
  documentation/media.md
Due: none

Fix embedded video in the docs (#506)
  documentation/media.md
Due: none

Translated using Weblate (Urdu)
  custom_components/spook/integrations/spook_inverse/translations/ur.json
Due: check-json

Added translation using Weblate (Urdu)
  custom_components/spook/integrations/spook_inverse/translations/ur.json
Due: check-json

Added translation using Weblate (Urdu)
  custom_components/spook/translations/ur.json
Due: check-json

Translated using Weblate (Urdu)
  custom_components/spook/translations/ur.json
Due: check-json

Add support for forwarding entry setup to Ectoplasms
  custom_components/spook/__init__.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Add support for forwarding entry setup to Ectoplasms (#507)
  custom_components/spook/__init__.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Added translation using Weblate (Galician)
  custom_components/spook/integrations/spook_inverse/translations/gl.json
Due: check-json

Added translation using Weblate (Luxembourgish)
  custom_components/spook/integrations/spook_inverse/translations/lb.json
Due: check-json

Added translation using Weblate (Turkish)
  custom_components/spook/integrations/spook_inverse/translations/tr.json
Due: check-json

Added translation using Weblate (Latvian)
  custom_components/spook/integrations/spook_inverse/translations/lv.json
Due: check-json

Added translation using Weblate (Thai)
  custom_components/spook/integrations/spook_inverse/translations/th.json
Due: check-json

Added translation using Weblate (Portuguese (Brazil))
  custom_components/spook/integrations/spook_inverse/translations/pt_BR.json
Due: check-json

Added translation using Weblate (Danish)
  custom_components/spook/integrations/spook_inverse/translations/da.json
Due: check-json

Added translation using Weblate (Greek)
  custom_components/spook/integrations/spook_inverse/translations/el.json
Due: check-json

Added translation using Weblate (Estonian)
  custom_components/spook/integrations/spook_inverse/translations/et.json
Due: check-json

Added translation using Weblate (Russian)
  custom_components/spook/integrations/spook_inverse/translations/ru.json
Due: check-json

Added translation using Weblate (Romanian)
  custom_components/spook/integrations/spook_inverse/translations/ro.json
Due: check-json

Added translation using Weblate (Bulgarian)
  custom_components/spook/integrations/spook_inverse/translations/bg.json
Due: check-json

Added translation using Weblate (Ukrainian)
  custom_components/spook/integrations/spook_inverse/translations/uk.json
Due: check-json

Added translation using Weblate (Japanese)
  custom_components/spook/integrations/spook_inverse/translations/ja.json
Due: check-json

Added translation using Weblate (Catalan)
  custom_components/spook/integrations/spook_inverse/translations/ca.json
Due: check-json

Added translation using Weblate (Czech)
  custom_components/spook/integrations/spook_inverse/translations/cs.json
Due: check-json

Added translation using Weblate (Portuguese)
  custom_components/spook/integrations/spook_inverse/translations/pt.json
Due: check-json

Added translation using Weblate (Hungarian)
  custom_components/spook/integrations/spook_inverse/translations/hu.json
Due: check-json

Added translation using Weblate (Hebrew)
  custom_components/spook/integrations/spook_inverse/translations/he.json
Due: check-json
