Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: poetry run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: poetry
        name: 📜 Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Add basic structure for template extensions + shuffle
  documentation/_toc.yml
  documentation/core_extensions.md
  documentation/glossary.md
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/shuffle.md
Due: check-yaml

Document template function fnmatch
  documentation/_toc.yml
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/fnmatch.md
  documentation/template_functions/shuffle.md
Due: check-yaml

Document template function fnmatch_filter
  documentation/_toc.yml
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/fnmatch_filter.md
Due: check-yaml

Document template function typeof
  documentation/_toc.yml
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/typeof.md
Due: check-yaml

Fix detecting changes to groups
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
Due: ruff-check, ruff-format, pylint

Fix detecting changes to groups (#539)
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
Due: ruff-check, ruff-format, pylint

Do not freeze entity descriptions for backward-compatibility
  custom_components/spook/ectoplasms/cloud/switch.py
  custom_components/spook/ectoplasms/homeassistant/button.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/ectoplasms/repairs/button.py
  custom_components/spook/ectoplasms/repairs/sensor.py
Due: ruff-check, ruff-format, pylint

Do not freeze entity descriptions for backward-compatibility (#541)
  custom_components/spook/ectoplasms/cloud/switch.py
  custom_components/spook/ectoplasms/homeassistant/button.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/ectoplasms/repairs/button.py
  custom_components/spook/ectoplasms/repairs/sensor.py
Due: ruff-check, ruff-format, pylint

Added service to update an entity's ID
  custom_components/spook/ectoplasms/homeassistant/services/update_entity_id.py
  custom_components/spook/services.yaml
  documentation/entities.md
  documentation/images/entities/update_entity_id.png
  documentation/services.md
Due: ruff-check, ruff-format, check-yaml, pylint

Add option to listen for config entry changes to trigger repair inspections
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Add option to listen for config entry changes to trigger repair (#542)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Refactor/improve listening for reload events on repairs
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Refactor/improve listening for reload events on repairs (#543)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Clean up repairs created for no longer existing entities
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
Due: ruff-check, ruff-format, pylint

Clean up repairs created for no longer existing entities (#544)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
Due: ruff-check, ruff-format, pylint

Add template method: md5
  custom_components/spook/ectoplasms/homeassistant/templating/md5.py
Due: ruff-check, ruff-format, pylint

Add template method: md5 (#545)
  custom_components/spook/ectoplasms/homeassistant/templating/md5.py
Due: ruff-check, ruff-format, pylint

Add template method: sha1
  custom_components/spook/ectoplasms/homeassistant/templating/sha1.py
Due: ruff-check, ruff-format, pylint

Add template method: sha1 (#546)
  custom_components/spook/ectoplasms/homeassistant/templating/sha1.py
Due: ruff-check, ruff-format, pylint

Add template method: sha256
  custom_components/spook/ectoplasms/homeassistant/templating/sha256.py
Due: ruff-check, ruff-format, pylint

Add template method: sha256 (#547)
  custom_components/spook/ectoplasms/homeassistant/templating/sha256.py
Due: ruff-check, ruff-format, pylint

Add template method: sha512
  custom_components/spook/ectoplasms/homeassistant/templating/sha512.py
Due: ruff-check, ruff-format, pylint

Add template method: sha512 (#548)
  custom_components/spook/ectoplasms/homeassistant/templating/sha512.py
Due: ruff-check, ruff-format, pylint

Allow template method to be named different for tests and filters
  custom_components/spook/templating.py
Due: ruff-check, ruff-format, pylint

Allow template method to be named different for tests and filters (#549)
  custom_components/spook/templating.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Added translation using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Add template method: (is_)on
  custom_components/spook/ectoplasms/homeassistant/templating/is_on.py
Due: ruff-check, ruff-format, pylint

Support for checking against the state itself as well
  custom_components/spook/ectoplasms/homeassistant/templating/is_on.py
Due: ruff-check, ruff-format, pylint

Add template method: flatten
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
Due: ruff-check, ruff-format, pylint

Add template method: flatten (#551)
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
Due: ruff-check, ruff-format, pylint

Add template method: flatten
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/flatten.md
Due: none

Add template method: md5
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/md5.md
Due: none

Add all SHA methods
  documentation/_toc.yml
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/sha1.md
  documentation/template_functions/sha256.md
  documentation/template_functions/sha512.md
Due: check-yaml

Translations update from Hosted Weblate (#535)
  custom_components/spook/translations/pl.json
  custom_components/spook/translations/sk.json
Due: check-json

Translations update from Hosted Weblate (#532)
  custom_components/spook/integrations/spook_inverse/translations/ar.json
  custom_components/spook/integrations/spook_inverse/translations/da.json
  custom_components/spook/integrations/spook_inverse/translations/el.json
  custom_components/spook/integrations/spook_inverse/translations/fr.json
  custom_components/spook/integrations/spook_inverse/translations/nb_NO.json
  custom_components/spook/integrations/spook_inverse/translations/pl.json
  custom_components/spook/integrations/spook_inverse/translations/sk.json
Due: check-json

Update Spook documentation for 2.0.0 (#515)
  documentation/_toc.yml
  documentation/about.md
  documentation/areas.md
  documentation/core_extensions.md
  documentation/devices.md
  documentation/entities.md
  documentation/glossary.md
  documentation/integrations.md
  documentation/integrations/blueprint.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/recorder.md
  documentation/integrations/repairs.md
  documentation/integrations/select.md
  documentation/integrations/timer.md
  documentation/integrations/zone.md
  documentation/misc.md
  documentation/myst.yml
  documentation/other_features.md
  documentation/services.md
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/flatten.md
  documentation/template_functions/fnmatch.md
  documentation/template_functions/fnmatch_filter.md
  documentation/template_functions/md5.md
  documentation/template_functions/sha1.md
  documentation/template_functions/sha256.md
  documentation/template_functions/sha512.md
  documentation/template_functions/shuffle.md
  documentation/template_functions/typeof.md
Due: check-yaml

Added service to update an entity's ID (#537)
  custom_components/spook/ectoplasms/homeassistant/services/update_entity_id.py
  custom_components/spook/services.yaml
  documentation/entities.md
  documentation/images/entities/update_entity_id.png
  documentation/services.md
Due: ruff-check, ruff-format, check-yaml, pylint

[ImgBot] Optimize images
  documentation/images/entities/update_entity_id.png
Due: none
