Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: poetry run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: poetry
        name: 📜 Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Added translation using Weblate (Italian)
  custom_components/spook/integrations/spook_inverse/translations/it.json
Due: check-json

Added translation using Weblate (Indonesian)
  custom_components/spook/integrations/spook_inverse/translations/id.json
Due: check-json

Added translation using Weblate (Spanish)
  custom_components/spook/integrations/spook_inverse/translations/es.json
Due: check-json

Added translation using Weblate (French)
  custom_components/spook/integrations/spook_inverse/translations/fr.json
Due: check-json

Added translation using Weblate (Swedish)
  custom_components/spook/integrations/spook_inverse/translations/sv.json
Due: check-json

Added translation using Weblate (Georgian)
  custom_components/spook/integrations/spook_inverse/translations/ka.json
Due: check-json

Added translation using Weblate (Korean)
  custom_components/spook/integrations/spook_inverse/translations/ko.json
Due: check-json

Added translation using Weblate (Slovak)
  custom_components/spook/integrations/spook_inverse/translations/sk.json
Due: check-json

Added translation using Weblate (Slovenian)
  custom_components/spook/integrations/spook_inverse/translations/sl.json
Due: check-json

Added translation using Weblate (Chinese (Traditional))
  custom_components/spook/integrations/spook_inverse/translations/zh_Hant.json
Due: check-json

Added translation using Weblate (Chinese (Simplified))
  custom_components/spook/integrations/spook_inverse/translations/zh_Hans.json
Due: check-json

Add key/value storage feature
  custom_components/spook/ectoplasms/spook/__init__.py
  custom_components/spook/ectoplasms/spook/services/storage_delete.py
  custom_components/spook/ectoplasms/spook/services/storage_dump.py
  custom_components/spook/ectoplasms/spook/services/storage_flush.py
  custom_components/spook/ectoplasms/spook/services/storage_keys.py
  custom_components/spook/ectoplasms/spook/services/storage_retrieve.py
  custom_components/spook/ectoplasms/spook/services/storage_store.py
  custom_components/spook/ectoplasms/spook/storage.py
Due: ruff-check, ruff-format, pylint

Bump min required Home Assistant to 2023.12.0
  documentation/installation.md
  hacs.json
Due: check-json

Bump min required Home Assistant to 2023.12.0 (#510)
  documentation/installation.md
  hacs.json
Due: check-json

Update el.json
  custom_components/spook/translations/el.json
Due: check-json

Ensure template environments exists
  custom_components/spook/__init__.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix argument order
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Spook template function manager / custom template functions
  custom_components/spook/__init__.py
  custom_components/spook/templating.py
Due: ruff-check, ruff-format, pylint

Pass along limited environment flag correctly
  custom_components/spook/templating.py
Due: ruff-check, ruff-format, pylint

Naming tweak
  custom_components/spook/templating.py
Due: ruff-check, ruff-format, pylint

Add possibility to extend the Home Assistant template engine (#512)
  custom_components/spook/__init__.py
  custom_components/spook/templating.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Add template method: shuffle
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
Due: ruff-check, ruff-format, pylint

Add module init
  custom_components/spook/ectoplasms/homeassistant/templating/__init__.py
Due: ruff-check, ruff-format, pylint

Update Spook documentation for 2.0.0
  documentation/about.md
  documentation/glossary.md
Due: none

Add template method: shuffle (#514)
  custom_components/spook/ectoplasms/homeassistant/templating/__init__.py
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
Due: ruff-check, ruff-format, pylint

Add template method: fnmatch
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch.py
Due: ruff-check, ruff-format, pylint

Add template method: fnmatch_filter
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch_filter.py
Due: ruff-check, ruff-format, pylint

Add template method: fnmatch_filter (#521)
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch_filter.py
Due: ruff-check, ruff-format, pylint

Add template method: fnmatch (#520)
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch.py
Due: ruff-check, ruff-format, pylint

Add template method: type_debug
  custom_components/spook/ectoplasms/homeassistant/templating/type_debug.py
Due: ruff-check, ruff-format, pylint

Rename to typeof
  custom_components/spook/ectoplasms/homeassistant/templating/typeof.py
Due: ruff-check, ruff-format, pylint

Add template method: typeof (#522)
  custom_components/spook/ectoplasms/homeassistant/templating/typeof.py
Due: ruff-check, ruff-format, pylint

Translations update from Hosted Weblate (#508)
  custom_components/spook/integrations/spook_inverse/translations/bg.json
  custom_components/spook/integrations/spook_inverse/translations/ca.json
  custom_components/spook/integrations/spook_inverse/translations/cs.json
  custom_components/spook/integrations/spook_inverse/translations/da.json
  custom_components/spook/integrations/spook_inverse/translations/el.json
  custom_components/spook/integrations/spook_inverse/translations/es.json
  custom_components/spook/integrations/spook_inverse/translations/et.json
  custom_components/spook/integrations/spook_inverse/translations/fr.json
  custom_components/spook/integrations/spook_inverse/translations/gl.json
  custom_components/spook/integrations/spook_inverse/translations/he.json
  custom_components/spook/integrations/spook_inverse/translations/hu.json
  custom_components/spook/integrations/spook_inverse/translations/id.json
  custom_components/spook/integrations/spook_inverse/translations/it.json
  custom_components/spook/integrations/spook_inverse/translations/ja.json
  custom_components/spook/integrations/spook_inverse/translations/ka.json
  custom_components/spook/integrations/spook_inverse/translations/ko.json
  custom_components/spook/integrations/spook_inverse/translations/lb.json
  custom_components/spook/integrations/spook_inverse/translations/lv.json
  custom_components/spook/integrations/spook_inverse/translations/pt.json
  custom_components/spook/integrations/spook_inverse/translations/pt_BR.json
  custom_components/spook/integrations/spook_inverse/translations/ro.json
  custom_components/spook/integrations/spook_inverse/translations/ru.json
  custom_components/spook/integrations/spook_inverse/translations/sk.json
  custom_components/spook/integrations/spook_inverse/translations/sl.json
  custom_components/spook/integrations/spook_inverse/translations/sv.json
  custom_components/spook/integrations/spook_inverse/translations/th.json
  custom_components/spook/integrations/spook_inverse/translations/tr.json
  custom_components/spook/integrations/spook_inverse/translations/uk.json
  custom_components/spook/integrations/spook_inverse/translations/zh_Hans.json
  custom_components/spook/integrations/spook_inverse/translations/zh_Hant.json
Due: check-json

Translated using Weblate (Galician)
  custom_components/spook/integrations/spook_inverse/translations/gl.json
Due: check-json

Translated using Weblate (Hungarian)
  custom_components/spook/integrations/spook_inverse/translations/hu.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/integrations/spook_inverse/translations/es.json
Due: check-json

Adjust supported Python version range
  poetry.lock
  pyproject.toml
Due: check-toml

:fireworks: Updates maintenance/license year to 2024
  .github/LICENSE.md
  README.md
  documentation/license.md
Due: none

Adjust supported Python version range (#529)
  poetry.lock
  pyproject.toml
Due: check-toml

:fireworks: Updates maintenance/license year to 2024 (#530)
  .github/LICENSE.md
  README.md
  documentation/license.md
Due: none
