Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Write what the dialog described, and hold the contract
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Guard the entities too, and escape the last of it
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Name what is built on a blueprint before it gets written over
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Say what a blueprint update changes, in words
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Do not let a blueprint's author write in Spook's voice
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Say what is known apart from what is not
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Three more from a second look
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Refuse only what nobody can get out of
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Stop the dialog inventing an answer it does not have
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Say one name per thing in the update dialog
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Put the difference itself in the dialog, and a refusal first
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Fix generated documentation URLs
  .github/workflows/documentation.yaml
Due: check-yaml

Stop calling a working gas meter unknown
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
Due: ruff-check, ruff-format, pylint

Fix generated documentation URLs
  documentation/myst.yml
Due: check-yaml

Handle missing localhost URLs in documentation build
  .github/workflows/documentation.yaml
Due: check-yaml

Document temporary MyST origin workaround
  .github/workflows/documentation.yaml
Due: check-yaml

Limit documentation origin rewrite to generated metadata
  .github/workflows/documentation.yaml
Due: check-yaml

Fix generated documentation URLs (#1568)
  .github/workflows/documentation.yaml
  documentation/myst.yml
Due: check-yaml

Ask the statistics who put them there
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
Due: ruff-check, ruff-format, pylint

Do not let a broken price off, and stop trusting a tombstone
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Swedish)
  custom_components/spook/integrations/spook_inverse/translations/sv.json
Due: check-json

Name the statistics Spook imports itself
  custom_components/spook/ectoplasms/recorder/services/import_statistics.py
  custom_components/spook/services.yaml
  tests/ectoplasms/recorder/services/test_import_statistics.py
Due: ruff-check, ruff-format, check-yaml, pylint

Stop calling a working gas meter unknown (#1571)
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/ectoplasms/recorder/services/import_statistics.py
  custom_components/spook/services.yaml
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
  tests/ectoplasms/recorder/services/test_import_statistics.py
Due: ruff-check, ruff-format, check-yaml, pylint

Keep an ignored repair ignored
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Keep an ignored repair ignored (#1575)
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Update translation files
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/translations/nb.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh-Hans.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json
