Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Stop repairs still starting or looking when Spook unloads
  custom_components/spook/__init__.py
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Stop repairs still starting or looking when Spook unloads (#1734)
  custom_components/spook/__init__.py
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Keep an inverse helper in step with its source
  custom_components/spook/integrations/spook_inverse/__init__.py
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/entity.py
  tests/integrations/spook_inverse/test_following.py
Due: ruff-check, ruff-format, pylint

Only show a source again that this inverse hid, and set up without one
  custom_components/spook/integrations/spook_inverse/__init__.py
  custom_components/spook/integrations/spook_inverse/binary_sensor.py
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/switch.py
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_following.py
Due: ruff-check, ruff-format, pylint

Keep an inverse helper in step with its source (#1735)
  custom_components/spook/integrations/spook_inverse/__init__.py
  custom_components/spook/integrations/spook_inverse/binary_sensor.py
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/integrations/spook_inverse/switch.py
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_following.py
Due: ruff-check, ruff-format, pylint

Step a number in the units it shows
  custom_components/spook/ectoplasms/number/services/__init__.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Pin the native limit a converted value is held to
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Step a number in the units it shows (#1736)
  custom_components/spook/ectoplasms/number/services/__init__.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Do not loop a cron trigger through the hour the clocks go back
  custom_components/spook/ectoplasms/spook/triggers/cron.py
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Do not loop a cron trigger through the hour the clocks go back (#1737)
  custom_components/spook/ectoplasms/spook/triggers/cron.py
  tests/ectoplasms/spook/triggers/test_cron.py
Due: ruff-check, ruff-format, pylint

Let a refused restart reach whoever asked for it
  custom_components/spook/ectoplasms/homeassistant/services/restart.py
  tests/ectoplasms/homeassistant/services/test_restart.py
Due: ruff-check, ruff-format, pylint

Let a refused restart reach whoever asked for it (#1738)
  custom_components/spook/ectoplasms/homeassistant/services/restart.py
  tests/ectoplasms/homeassistant/services/test_restart.py
Due: ruff-check, ruff-format, pylint

Do not report an integration that was deleted while stuck
  custom_components/spook/ectoplasms/spook/triggers/integration_failed.py
  tests/ectoplasms/spook/triggers/test_integration_failed.py
Due: ruff-check, ruff-format, pylint

Do not report an integration that was deleted while stuck (#1740)
  custom_components/spook/ectoplasms/spook/triggers/integration_failed.py
  tests/ectoplasms/spook/triggers/test_integration_failed.py
Due: ruff-check, ruff-format, pylint

Keep the old snoozes until the new store holds them
  custom_components/spook/timed_states.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Clear an old snooze store once the new one counts
  custom_components/spook/timed_states.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Keep the old snoozes until the new store holds them (#1741)
  custom_components/spook/timed_states.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Keep changing a timer's stored duration to admins
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/services.py
  tests/ectoplasms/timer/services/test_set_duration.py
Due: ruff-check, ruff-format, pylint

Check for an admin ourselves, on every supported version
  custom_components/spook/services.py
  tests/ectoplasms/timer/services/test_set_duration.py
Due: ruff-check, ruff-format, pylint

Keep changing a timer's stored duration to admins (#1743)
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/services.py
  tests/ectoplasms/timer/services/test_set_duration.py
Due: ruff-check, ruff-format, pylint

Inverse a cover, position and tilt
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/const.py
  custom_components/spook/integrations/spook_inverse/cover.py
  custom_components/spook/integrations/spook_inverse/translations/en.json
  documentation/helpers/inverse.md
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_cover.py
Due: ruff-check, ruff-format, check-json, pylint

Pin toggling the inverse, and fix the helper's description
  custom_components/spook/integrations/spook_inverse/translations/en.json
  tests/integrations/spook_inverse/test_cover.py
Due: ruff-check, ruff-format, check-json, pylint

Inverse a cover, position and tilt (#1744)
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/const.py
  custom_components/spook/integrations/spook_inverse/cover.py
  custom_components/spook/integrations/spook_inverse/translations/en.json
  documentation/helpers/inverse.md
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_cover.py
Due: ruff-check, ruff-format, check-json, pylint

Inverse a valve
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/const.py
  custom_components/spook/integrations/spook_inverse/cover.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/integrations/spook_inverse/translations/en.json
  custom_components/spook/integrations/spook_inverse/valve.py
  documentation/helpers/inverse.md
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_valve.py
Due: ruff-check, ruff-format, check-json, pylint

Inverse a valve (#1747)
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/const.py
  custom_components/spook/integrations/spook_inverse/cover.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/integrations/spook_inverse/translations/en.json
  custom_components/spook/integrations/spook_inverse/valve.py
  documentation/helpers/inverse.md
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_valve.py
Due: ruff-check, ruff-format, check-json, pylint

Inverse an on/off helper or a light, as a switch or binary sensor
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/const.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/integrations/spook_inverse/switch.py
  documentation/helpers/inverse.md
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_sources.py
Due: ruff-check, ruff-format, pylint

Inverse an on/off helper or a light, as a switch or binary sensor (#1748)
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/const.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/integrations/spook_inverse/switch.py
  documentation/helpers/inverse.md
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_sources.py
Due: ruff-check, ruff-format, pylint

Leave automations that are turned off alone
  custom_components/spook/ectoplasms/automation/repairs/__init__.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_condition_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_trigger_references.py
  documentation/integrations/automation.md
  tests/ectoplasms/automation/repairs/test_turned_off.py
  tests/ectoplasms/automation/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, pylint

Leave automations that are turned off alone (#1749)
  custom_components/spook/ectoplasms/automation/repairs/__init__.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_condition_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_trigger_references.py
  documentation/integrations/automation.md
  tests/ectoplasms/automation/repairs/test_turned_off.py
  tests/ectoplasms/automation/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, pylint

Do not offer a blueprint's own previous version as an update
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Trust a restored offer only, and leave the tried address out as it fails
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Do not offer a blueprint's own previous version as an update (#1750)
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Do not read the old default dashboard left behind by the move
  custom_components/spook/ectoplasms/lovelace/dashboards.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Do not read the old default dashboard left behind by the move (#1751)
  custom_components/spook/ectoplasms/lovelace/dashboards.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Notice a customized entity a script sets after startup
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_customized_entities.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/repairs.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_customized_entities.py
Due: ruff-check, ruff-format, pylint

Notice a customized entity a script sets after startup (#1752)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_customized_entities.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/repairs.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_customized_entities.py
Due: ruff-check, ruff-format, pylint

Add a time in state helper
  .github/workflows/release.yaml
  custom_components/spook/integrations/spook_time_in_state/__init__.py
  custom_components/spook/integrations/spook_time_in_state/config_flow.py
  custom_components/spook/integrations/spook_time_in_state/const.py
  custom_components/spook/integrations/spook_time_in_state/manifest.json
  custom_components/spook/integrations/spook_time_in_state/sensor.py
  custom_components/spook/integrations/spook_time_in_state/translations/en.json
  documentation/_toc.yml
  documentation/helpers.md
  documentation/helpers/time_in_state.md
  tests/integrations/spook_time_in_state/__init__.py
  tests/integrations/spook_time_in_state/conftest.py
  tests/integrations/spook_time_in_state/test_sensor.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Only restore a moment about the same source and states
  custom_components/spook/integrations/spook_time_in_state/sensor.py
  tests/integrations/spook_time_in_state/__init__.py
  tests/integrations/spook_time_in_state/test_sensor.py
Due: ruff-check, ruff-format, pylint

Add a time in state helper (#1753)
  .github/workflows/release.yaml
  custom_components/spook/integrations/spook_time_in_state/__init__.py
  custom_components/spook/integrations/spook_time_in_state/config_flow.py
  custom_components/spook/integrations/spook_time_in_state/const.py
  custom_components/spook/integrations/spook_time_in_state/manifest.json
  custom_components/spook/integrations/spook_time_in_state/sensor.py
  custom_components/spook/integrations/spook_time_in_state/translations/en.json
  documentation/_toc.yml
  documentation/helpers.md
  documentation/helpers/time_in_state.md
  tests/integrations/spook_time_in_state/__init__.py
  tests/integrations/spook_time_in_state/conftest.py
  tests/integrations/spook_time_in_state/test_sensor.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a calibration helper
  .github/workflows/release.yaml
  custom_components/spook/integrations/spook_calibration/__init__.py
  custom_components/spook/integrations/spook_calibration/config_flow.py
  custom_components/spook/integrations/spook_calibration/const.py
  custom_components/spook/integrations/spook_calibration/manifest.json
  custom_components/spook/integrations/spook_calibration/sensor.py
  custom_components/spook/integrations/spook_calibration/translations/en.json
  documentation/_toc.yml
  documentation/helpers.md
  documentation/helpers/calibration.md
  tests/integrations/spook_calibration/__init__.py
  tests/integrations/spook_calibration/conftest.py
  tests/integrations/spook_calibration/test_sensor.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
