Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: rye run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: rye run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: rye run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: rye run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: rye run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: rye run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: rye run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: rye run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: rye run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: rye run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Translated using Weblate (Croatian)
  custom_components/spook/translations/hr.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Hebrew)
  custom_components/spook/translations/he.json
Due: check-json

Translated using Weblate (Indonesian)
  custom_components/spook/translations/id.json
Due: check-json

Translated using Weblate (Japanese)
  custom_components/spook/translations/ja.json
Due: check-json

Translated using Weblate (Thai)
  custom_components/spook/translations/th.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Turkish)
  custom_components/spook/translations/tr.json
Due: check-json

Translated using Weblate (Chinese (Simplified))
  custom_components/spook/translations/zh_Hans.json
Due: check-json

Translated using Weblate (Chinese (Traditional))
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Translated using Weblate (Galician)
  custom_components/spook/translations/gl.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Greek)
  custom_components/spook/translations/el.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Add documentation for v3.0 features
  documentation/_toc.yml
  documentation/areas.md
  documentation/floors.md
  documentation/glossary.md
  documentation/images/floors/add_alias.png
  documentation/images/floors/add_area.png
  documentation/images/floors/create.png
  documentation/images/floors/delete.png
  documentation/images/floors/example.png
  documentation/images/floors/remove_alias.png
  documentation/images/floors/remove_area.png
  documentation/images/floors/set_aliases.png
  documentation/images/labels/add_to_area.png
  documentation/images/labels/add_to_device.png
  documentation/images/labels/add_to_entity.png
  documentation/images/labels/create.png
  documentation/images/labels/delete.png
  documentation/images/labels/example.png
  documentation/images/labels/remove_from_area.png
  documentation/images/labels/remove_from_device.png
  documentation/images/labels/remove_from_entity.png
  documentation/labels.md
  documentation/services.md
Due: check-yaml

Add documentation for v3.0 features (#745)
  documentation/_toc.yml
  documentation/areas.md
  documentation/floors.md
  documentation/glossary.md
  documentation/images/floors/add_alias.png
  documentation/images/floors/add_area.png
  documentation/images/floors/create.png
  documentation/images/floors/delete.png
  documentation/images/floors/example.png
  documentation/images/floors/remove_alias.png
  documentation/images/floors/remove_area.png
  documentation/images/floors/set_aliases.png
  documentation/images/labels/add_to_area.png
  documentation/images/labels/add_to_device.png
  documentation/images/labels/add_to_entity.png
  documentation/images/labels/create.png
  documentation/images/labels/delete.png
  documentation/images/labels/example.png
  documentation/images/labels/remove_from_area.png
  documentation/images/labels/remove_from_device.png
  documentation/images/labels/remove_from_entity.png
  documentation/labels.md
  documentation/services.md
Due: check-yaml

Fix frozen dataclass inherits from a non-frozen one
  custom_components/spook/entity.py
Due: ruff-check, ruff-format, pylint

Fix frozen dataclass inherits from a non-frozen one (#746)
  custom_components/spook/entity.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Add documentation
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  documentation/core_extensions.md
  documentation/entities.md
  documentation/images/entities/list_orphaned_database_entities.png
Due: ruff-check, ruff-format, pylint

Add list_orphaned_database_entities service
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

typo
  custom_components/spook/services.yaml
  documentation/entities.md
Due: check-yaml

Fix decimal math inaccuracy in increment/decrement services
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Russian)
  custom_components/spook/integrations/spook_inverse/translations/ru.json
Due: check-json

Run ruff
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
Due: ruff-check, ruff-format, pylint

Fix decimal math inaccuracy in increment/decrement services (#766)
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
Due: ruff-check, ruff-format, pylint
