Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Document every repair Spook can raise (#1461)
  documentation/_toc.yml
  documentation/integrations/automation.md
  documentation/integrations/energy.md
  documentation/integrations/homeassistant.md
  documentation/integrations/lovelace.md
  documentation/integrations/person.md
  documentation/integrations/recorder.md
  documentation/integrations/script.md
Due: check-yaml

Correct what the repair documentation claims
  documentation/integrations/automation.md
  documentation/integrations/energy.md
  documentation/integrations/homeassistant.md
  documentation/integrations/lovelace.md
  documentation/integrations/script.md
Due: none

Correct what the repair documentation claims (#1462)
  documentation/integrations/automation.md
  documentation/integrations/energy.md
  documentation/integrations/homeassistant.md
  documentation/integrations/lovelace.md
  documentation/integrations/script.md
Due: none

Correct four more claims in the repair documentation
  documentation/integrations/automation.md
  documentation/integrations/energy.md
  documentation/integrations/homeassistant.md
  documentation/integrations/lovelace.md
  documentation/integrations/script.md
Due: none

Correct four more claims in the repair documentation (#1463)
  documentation/integrations/automation.md
  documentation/integrations/energy.md
  documentation/integrations/homeassistant.md
  documentation/integrations/lovelace.md
  documentation/integrations/script.md
Due: none

Spell the two repeated headings correctly
  documentation/areas.md
  documentation/devices.md
  documentation/devices_entities.md
  documentation/entities.md
  documentation/floors.md
  documentation/integrations.md
  documentation/integrations/_template.md
  documentation/integrations/automation.md
  documentation/integrations/blueprint.md
  documentation/integrations/cloud.md
  documentation/integrations/group.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/integration.md
  documentation/integrations/lovelace.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/proximity.md
  documentation/integrations/recorder.md
  documentation/integrations/repairs.md
  documentation/integrations/scene.md
  documentation/integrations/script.md
  documentation/integrations/select.md
  documentation/integrations/switch_as_x.md
  documentation/integrations/template.md
  documentation/integrations/timer.md
  documentation/integrations/trend.md
  documentation/integrations/utility_meter.md
  documentation/integrations/zone.md
  documentation/labels.md
  documentation/misc.md
  documentation/users.md
Due: none

Spell the two repeated headings correctly (#1464)
  documentation/areas.md
  documentation/devices.md
  documentation/devices_entities.md
  documentation/entities.md
  documentation/floors.md
  documentation/integrations.md
  documentation/integrations/_template.md
  documentation/integrations/automation.md
  documentation/integrations/blueprint.md
  documentation/integrations/cloud.md
  documentation/integrations/group.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/integration.md
  documentation/integrations/lovelace.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/proximity.md
  documentation/integrations/recorder.md
  documentation/integrations/repairs.md
  documentation/integrations/scene.md
  documentation/integrations/script.md
  documentation/integrations/select.md
  documentation/integrations/switch_as_x.md
  documentation/integrations/template.md
  documentation/integrations/timer.md
  documentation/integrations/trend.md
  documentation/integrations/utility_meter.md
  documentation/integrations/zone.md
  documentation/labels.md
  documentation/misc.md
  documentation/users.md
Due: none

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh-Hans.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (English (United Kingdom))
  custom_components/spook/translations/en-GB.json
Due: check-json

Translated using Weblate (Spanish (Latin America))
  custom_components/spook/translations/es-419.json
Due: check-json

Add automation.triggered_by_user and its counterpart
  custom_components/spook/__init__.py
  custom_components/spook/condition.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/automation/conditions/__init__.py
  custom_components/spook/ectoplasms/automation/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/automation/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/automation/context.py
  custom_components/spook/services.py
  custom_components/spook/translation_injection.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/automation/conditions/__init__.py
  tests/ectoplasms/automation/conditions/test_context_conditions.py
  tests/test_condition_resolution_patch.py
  tests/test_condition_translation_injection.py
  tests/test_condition_translations.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Prove the injected labels reach the automation editor
  tests/test_condition_translation_injection.py
Due: ruff-check, ruff-format, pylint

Pick people, not user IDs
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/automation/conditions/triggered_by_user.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/automation/conditions/test_context_conditions.py
  tests/test_condition_translation_injection.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Make the conditions work in automations, and follow the actions' layout
  custom_components/spook/condition.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/automation/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/automation/context.py
  custom_components/spook/translation_injection.py
  tests/ectoplasms/automation/conditions/test_in_automations.py
  tests/test_condition_resolution_patch.py
  tests/test_condition_translation_injection.py
  tests/test_condition_translations.py
Due: ruff-check, ruff-format, check-yaml, pylint

Stop the patch from being able to break anything else
  custom_components/spook/condition.py
  custom_components/spook/ectoplasms/automation/context.py
  tests/test_condition_resolution_patch.py
Due: ruff-check, ruff-format, pylint

Document the conditions Spook provides
  documentation/_toc.yml
  documentation/conditions.md
  documentation/features.md
  documentation/glossary.md
  documentation/integrations/automation.md
Due: check-yaml

Document the conditions the way the actions are documented
  documentation/_toc.yml
  documentation/conditions.md
  documentation/features.md
  documentation/integrations/automation.md
  documentation/other_features.md
Due: check-yaml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
