Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Offer to remove helpers whose source entities are gone
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_helper_source_references.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
Due: ruff-check, ruff-format, check-json, pylint

Offer to remove helpers whose source entities are gone (#1385)
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_helper_source_references.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
Due: ruff-check, ruff-format, check-json, pylint

Add a condition platform with a chance condition
  custom_components/spook/condition.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/__init__.py
  custom_components/spook/ectoplasms/spook/conditions/chance.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/spook/__init__.py
  tests/ectoplasms/spook/conditions/__init__.py
  tests/ectoplasms/spook/conditions/test_chance.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a condition platform with a chance condition (#1386)
  custom_components/spook/condition.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/__init__.py
  custom_components/spook/ectoplasms/spook/conditions/chance.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/spook/__init__.py
  tests/ectoplasms/spook/conditions/__init__.py
  tests/ectoplasms/spook/conditions/test_chance.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Detect unknown actions in template helpers
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, check-json, pylint

Link template helper repairs to Helpers page
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, check-json, pylint

Skip templated template helper actions
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Document template helper repairs
  documentation/_toc.yml
  documentation/integrations/template.md
Due: check-yaml

Fix Home Assistant typos
  custom_components/spook/ectoplasms/cloud/switch.py
  custom_components/spook/ectoplasms/homeassistant/button.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  documentation/integrations/automation.md
Due: ruff-check, ruff-format, pylint

Move action entity extraction into a shared module
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Detect unknown entities in template helper actions
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Guard device enable/disable helpers against via_device_id cycles
  custom_components/spook/ectoplasms/homeassistant/device.py
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, pylint

Stop the service scan at bare condition steps
  custom_components/spook/entity_filtering.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

fix input_number decrement after HA 2026.8.0
  custom_components/spook/ectoplasms/input_number/services/decrement.py
Due: ruff-check, ruff-format, pylint

cleanup
  custom_components/spook/ectoplasms/input_number/services/decrement.py
Due: ruff-check, ruff-format, pylint

fix input_number increment after HA 2026.8.0
  custom_components/spook/ectoplasms/input_number/services/increment.py
Due: ruff-check, ruff-format, pylint

fix input_number min after HA 2026.8.0
  custom_components/spook/ectoplasms/input_number/services/min.py
Due: ruff-check, ruff-format, pylint

fix input_number max after HA 2026.8.0
  custom_components/spook/ectoplasms/input_number/services/max.py
Due: ruff-check, ruff-format, pylint

fix decimal remainder check in increment
  custom_components/spook/ectoplasms/input_number/services/increment.py
Due: ruff-check, ruff-format, pylint

fix decimal remainder check in decrement
  custom_components/spook/ectoplasms/input_number/services/decrement.py
Due: ruff-check, ruff-format, pylint

bump HA version
  hacs.json
Due: check-json

Fix some minor typos (#1398)
  custom_components/spook/ectoplasms/cloud/switch.py
  custom_components/spook/ectoplasms/homeassistant/button.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  documentation/integrations/automation.md
Due: ruff-check, ruff-format, pylint

Stop reporting devices split by Home Assistant Core 2026.8 as unknown
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Stop reporting devices split by Home Assistant Core 2026.8 as unknown (#1413)
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_device_references.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Fix the invalid amount message and guard missing input number values
  custom_components/spook/ectoplasms/input_number/services/__init__.py
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
Due: ruff-check, ruff-format, pylint

Match the float step tolerance in the number services
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
Due: ruff-check, ruff-format, pylint

Add tests for the input number increment, decrement, min and max services
  tests/ectoplasms/input_number/services/test_increment_decrement.py
  tests/ectoplasms/input_number/services/test_min_max.py
Due: ruff-check, ruff-format, pylint

Keep the step tolerance absolute for large steps
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/input_number/services/test_increment_decrement.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Fix input_number increment/decrement/min/max services after HA 2026.8.0 (#1407)
  custom_components/spook/ectoplasms/input_number/services/__init__.py
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/input_number/services/max.py
  custom_components/spook/ectoplasms/input_number/services/min.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  hacs.json
  tests/ectoplasms/input_number/services/test_increment_decrement.py
  tests/ectoplasms/input_number/services/test_min_max.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, check-json, pylint

Bump Home Assistant to 2026.8.2 in the development environment
  pyproject.toml
  tests/ectoplasms/homeassistant/services/test_device.py
  tests/ectoplasms/spook/conditions/test_chance.py
  tests/integrations/spook_inverse/test_init.py
  uv.lock
Due: ruff-check, ruff-format, check-toml, pylint

Bump Home Assistant to 2026.8.2 in the development environment (#1414)
  pyproject.toml
  tests/ectoplasms/homeassistant/services/test_device.py
  tests/ectoplasms/spook/conditions/test_chance.py
  tests/integrations/spook_inverse/test_init.py
  uv.lock
Due: ruff-check, ruff-format, check-toml, pylint

Guard device enable/disable helpers against via_device_id cycles (#1401)
  custom_components/spook/ectoplasms/homeassistant/device.py
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, pylint

Reword template helper issue for non-template references
  custom_components/spook/translations/en.json
Due: check-json

Prefix the shared action extraction helpers with async
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Compile the entity ID pattern once, skip non-structured options
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Detect unknown entities in template helper actions (#1399)
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, check-json, pylint

Qualify entity references only disabled steps make
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/entity_suggestions.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Select test lines by entity ID, not block order
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Do not treat a payload list as a sequence of steps
  custom_components/spook/action_extraction.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint
