Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: rye run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: rye run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: rye run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: rye run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: rye run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: rye run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: rye run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: rye run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: rye run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: rye run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Make codeRabbit happy?
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  custom_components/spook/services.yaml
  documentation/core_extensions.md
  documentation/entities.md
Due: ruff-check, ruff-format, check-yaml, pylint

Update pl.json
  custom_components/spook/translations/pl.json
Due: check-json

Remove platinum quality scale markers (they where fake anyways)
  custom_components/spook/integrations/spook_inverse/manifest.json
  custom_components/spook/manifest.json
Due: check-json

Remove platinum quality scale markers (they where fake anyways) (#804)
  custom_components/spook/integrations/spook_inverse/manifest.json
  custom_components/spook/manifest.json
Due: check-json

Split into multiple methods
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Search for unknown entity inside sections
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Search for unknown entities inside sections (#798)
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Turkish)
  custom_components/spook/translations/tr.json
Due: check-json

Translated using Weblate (Russian)
  custom_components/spook/translations/ru.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Russian)
  custom_components/spook/integrations/spook_inverse/translations/ru.json
Due: check-json

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Translations update from Hosted Weblate (#747)
  custom_components/spook/translations/da.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/pl.json
  custom_components/spook/translations/ru.json
  custom_components/spook/translations/sk.json
  custom_components/spook/translations/tr.json
Due: check-json

Translations update from Hosted Weblate (#761)
  custom_components/spook/integrations/spook_inverse/translations/ru.json
Due: check-json

Add documentation
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  documentation/core_extensions.md
  documentation/entities.md
  documentation/images/entities/list_orphaned_database_entities.png
Due: ruff-check, ruff-format, pylint

Add list_orphaned_database_entities service
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Apply suggestions from code review
  documentation/entities.md
Due: none

typo
  custom_components/spook/services.yaml
  documentation/entities.md
Due: check-yaml

Add list_orphaned_database_entities service (#752)
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  custom_components/spook/services.yaml
  documentation/core_extensions.md
  documentation/entities.md
  documentation/images/entities/list_orphaned_database_entities.png
Due: ruff-check, ruff-format, check-yaml, pylint

Fix link to import statistics
  documentation/actions.md
Due: none

Fix link to import statistics (#806)
  documentation/actions.md
Due: none

Translated using Weblate (Greek)
  custom_components/spook/translations/el.json
Due: check-json

[ImgBot] Optimize images
  documentation/images/entities/list_orphaned_database_entities.png
Due: none

Translated using Weblate (Estonian)
  custom_components/spook/integrations/spook_inverse/translations/et.json
Due: check-json

Update Korean Translations
  custom_components/spook/translations/ko.json
Due: check-json

Translated using Weblate (Korean)
  custom_components/spook/translations/ko.json
Due: check-json
