Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

refactor(services): stop using private _entries; return None when config entry missing
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

fix(services): apply limit after sort deterministically; fix indentation regression in async_handle_service
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

Updated label_id example slugs for clarity.
  documentation/entities.md
Due: none

homeassistant.list_filtered_entities: rename input parameter label_id -> labels; update schema and docs; add docs preview README
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
  custom_components/spook/services.yaml
  documentation/README.md
  documentation/entities.md
Due: ruff-check, ruff-format, check-yaml, pylint

docs: remove documentation/README.md helper file
  documentation/README.md
Due: none

Implemented some valid Copilot suggestions.
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

Update custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

homeassistant.list_filtered_entities: Fix JSON-safe status (coerce disabled_by/hidden_by to strings) and keep status nested under single key; remove non-UI 'unknown' status handling
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Lithuanian)
  custom_components/spook/translations/lt.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Added translation using Weblate (Belarusian)
  custom_components/spook/translations/be.json
Due: check-json

Translated using Weblate (Korean)
  custom_components/spook/translations/ko.json
Due: check-json

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Translated using Weblate (Lithuanian)
  custom_components/spook/integrations/spook_inverse/translations/lt.json
Due: check-json

Added translation using Weblate (Belarusian)
  custom_components/spook/integrations/spook_inverse/translations/be.json
Due: check-json

Translated using Weblate (Polish)
  custom_components/spook/integrations/spook_inverse/translations/pl.json
Due: check-json

Fix Home Assistant 2025.10 compatibility
  custom_components/spook/services.py
Due: ruff-check, ruff-format, pylint

Fix Home Assistant 2025.10 compatibility (#1064)
  custom_components/spook/services.py
Due: ruff-check, ruff-format, pylint

Fix copy/paste error and some alignment (#1010)
  custom_components/spook/services.yaml
Due: check-yaml

Fix template variables warnings
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix template variables warnings (#1065)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix broken language placeholders in some language strings
  custom_components/spook/translations/de.json
  custom_components/spook/translations/lt.json
  custom_components/spook/translations/tr.json
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Fix broken language placeholders in some language strings (#1073)
  custom_components/spook/translations/de.json
  custom_components/spook/translations/lt.json
  custom_components/spook/translations/tr.json
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Fix service actions being identified as entities
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix service actions being identified as entities (#1076)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix picking up filenames as entities
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix picking up filenames as entities (#1077)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/translations/nb_NO.json
Due: check-json
