Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Norwegian Nynorsk)
  custom_components/spook/translations/nn.json
Due: check-json

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/translations/nb.json
Due: check-json

Set an entity's icon and aliases from an automation (#1713)
  custom_components/spook/ectoplasms/homeassistant/entity_registry_entries.py
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/set_entity_aliases.py
  custom_components/spook/ectoplasms/homeassistant/services/set_entity_icon.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/entities.md
  tests/ectoplasms/homeassistant/services/test_entity_icon_aliases.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Point out an area whose temperature or humidity sensor is gone
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_unknown_area_sensors.py
Due: ruff-check, ruff-format, check-json, pylint

Point out an Assist pipeline whose engines are gone
  custom_components/spook/ectoplasms/assist_pipeline/__init__.py
  custom_components/spook/ectoplasms/assist_pipeline/repairs/__init__.py
  custom_components/spook/ectoplasms/assist_pipeline/repairs/unknown_engines.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/assist_pipeline.md
  tests/ectoplasms/assist_pipeline/__init__.py
  tests/ectoplasms/assist_pipeline/repairs/__init__.py
  tests/ectoplasms/assist_pipeline/repairs/test_unknown_engines.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Key the issue to the setting too, and clear only what it showed
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/repairs.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_area_sensors.py
Due: ruff-check, ruff-format, pylint

Point out an area whose temperature or humidity sensor is gone (#1715)
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_unknown_area_sensors.py
Due: ruff-check, ruff-format, check-json, pylint

Inspect again when a pipeline changes, and compare engines directly
  custom_components/spook/ectoplasms/assist_pipeline/repairs/unknown_engines.py
  tests/ectoplasms/assist_pipeline/repairs/test_unknown_engines.py
Due: ruff-check, ruff-format, pylint

Wait for Assist, which hassfest rightly asks for
  custom_components/spook/ectoplasms/assist_pipeline/repairs/unknown_engines.py
  custom_components/spook/manifest.json
Due: ruff-check, ruff-format, check-json, pylint

Point out an Assist pipeline whose engines are gone (#1716)
  custom_components/spook/ectoplasms/assist_pipeline/__init__.py
  custom_components/spook/ectoplasms/assist_pipeline/repairs/__init__.py
  custom_components/spook/ectoplasms/assist_pipeline/repairs/unknown_engines.py
  custom_components/spook/manifest.json
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/assist_pipeline.md
  tests/ectoplasms/assist_pipeline/__init__.py
  tests/ectoplasms/assist_pipeline/repairs/__init__.py
  tests/ectoplasms/assist_pipeline/repairs/test_unknown_engines.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Read Bubble Card's own keys, and the Mushroom template card's area
  custom_components/spook/dashboard_extraction.py
  documentation/integrations/lovelace.md
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, pylint

Check a card's type is a name before looking it up
  custom_components/spook/dashboard_extraction.py
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, pylint

Stop listing cronsim, which Home Assistant ships itself
  custom_components/spook/manifest.json
Due: check-json

Stop listing cronsim, which Home Assistant ships itself (#1719)
  custom_components/spook/manifest.json
Due: check-json

Read Bubble Card's own keys, and the Mushroom template card's area (#1718)
  custom_components/spook/dashboard_extraction.py
  documentation/integrations/lovelace.md
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, pylint

Translations update from Hosted Weblate (#1696)
  custom_components/spook/translations/de.json
  custom_components/spook/translations/nb.json
  custom_components/spook/translations/nn.json
  custom_components/spook/translations/sr-Latn.json
  custom_components/spook/translations/sr.json
Due: check-json

Translations update from Hosted Weblate (#1714)
  custom_components/spook/integrations/spook_inverse/translations/nb_NO.json
  custom_components/spook/integrations/spook_inverse/translations/nn.json
Due: check-json

Keep the Pylint hook from rewriting the lock file
  .pre-commit-config.yaml
Due: check-yaml

Keep the Pylint hook from rewriting the lock file (#1728)
  .pre-commit-config.yaml
Due: check-yaml

Keep the tests green on Home Assistant 2026.11
  tests/integrations/spook_inverse/test_init.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Keep the tests green on Home Assistant 2026.11 (#1727)
  tests/integrations/spook_inverse/test_init.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Keep ignored orphaned statistics ignored
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/repairs.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
Due: ruff-check, ruff-format, pylint

Keep ignored orphaned statistics ignored (#1729)
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/repairs.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
Due: ruff-check, ruff-format, pylint

Remember what was ignored, even when the issue changes
  custom_components/spook/__init__.py
  custom_components/spook/dismissals.py
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/repairs.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
  tests/test_dismissals.py
Due: ruff-check, ruff-format, pylint

Only a change in being ignored counts, and keep it across a reload
  custom_components/spook/dismissals.py
  tests/test_dismissals.py
Due: ruff-check, ruff-format, pylint

Do not fire for an issue that is ignored as it arrives
  custom_components/spook/ectoplasms/spook/triggers/repair_issue_created.py
  tests/ectoplasms/spook/triggers/test_repair_issues.py
Due: ruff-check, ruff-format, pylint

Carry over statistics kept in the old store
  custom_components/spook/dismissals.py
  tests/test_dismissals.py
Due: ruff-check, ruff-format, pylint

Only let the old store go once the new one holds it
  custom_components/spook/dismissals.py
  tests/test_dismissals.py
Due: ruff-check, ruff-format, pylint

Remember what was ignored, even when the issue changes (#1730)
  custom_components/spook/__init__.py
  custom_components/spook/dismissals.py
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/ectoplasms/spook/triggers/repair_issue_created.py
  custom_components/spook/repairs.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
  tests/ectoplasms/spook/triggers/test_repair_issues.py
  tests/test_dismissals.py
Due: ruff-check, ruff-format, pylint

Look again before a fix removes anything
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_areas.py
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_floors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/min_max_unknown_sources.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_helper_source_references.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_labels.py
  custom_components/spook/helper_sources.py
  custom_components/spook/registry_usage.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/group/repairs/test_unknown_members.py
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
  tests/ectoplasms/homeassistant/repairs/test_min_max_unknown_sources.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_area_sensors.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
Due: ruff-check, ruff-format, check-json, pylint

Ask what is missing the way the repair asks it
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_helper_source_references.py
  custom_components/spook/helper_sources.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/group/repairs/test_unknown_members.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
Due: ruff-check, ruff-format, check-json, pylint

Look again before a fix removes anything (#1731)
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_areas.py
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_floors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/min_max_unknown_sources.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_helper_source_references.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_labels.py
  custom_components/spook/helper_sources.py
  custom_components/spook/registry_usage.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/group/repairs/test_unknown_members.py
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
  tests/ectoplasms/homeassistant/repairs/test_min_max_unknown_sources.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_area_sensors.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
Due: ruff-check, ruff-format, check-json, pylint

Work out rename suggestions off the event loop for every repair
  custom_components/spook/ectoplasms/alert/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/assist_pipeline/repairs/unknown_engines.py
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/homeassistant/repairs/min_max_unknown_sources.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_customized_entities.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/person/repairs/unknown_device_trackers.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/entity_suggestions.py
  custom_components/spook/repairs.py
  tests/test_entity_suggestions.py
  tests/test_repairs_suggestions.py
Due: ruff-check, ruff-format, pylint

Walk a snapshot of what can change while describing
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/ectoplasms/lovelace/dashboards.py
  custom_components/spook/ectoplasms/person/repairs/unknown_device_trackers.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  tests/ectoplasms/group/repairs/test_unknown_members.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Work out rename suggestions off the event loop for every repair (#1732)
  custom_components/spook/ectoplasms/alert/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/assist_pipeline/repairs/unknown_engines.py
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/homeassistant/repairs/min_max_unknown_sources.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_area_sensors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_customized_entities.py
  custom_components/spook/ectoplasms/lovelace/dashboards.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/person/repairs/unknown_device_trackers.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/entity_suggestions.py
  custom_components/spook/repairs.py
  tests/ectoplasms/group/repairs/test_unknown_members.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
  tests/test_entity_suggestions.py
  tests/test_repairs_suggestions.py
Due: ruff-check, ruff-format, pylint

Read a notification's text as text
  custom_components/spook/action_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Only skip message text for the integrations that define it
  custom_components/spook/action_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Read a notification's text as text (#1733)
  custom_components/spook/action_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint
