Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Add a spook.while trigger
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/condition_met.py
  custom_components/spook/ectoplasms/spook/triggers/while_.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_while.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a spook.while trigger (#1491)
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/condition_met.py
  custom_components/spook/ectoplasms/spook/triggers/while_.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_while.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a spook.watchdog trigger
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/ectoplasms/spook/triggers/watchdog.py
  custom_components/spook/translations/en.json
  custom_components/spook/trigger_nesting.py
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/ectoplasms/spook/triggers/test_watchdog.py
  tests/ectoplasms/spook/triggers/test_while.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let go of a watchdog listener attached after it stopped
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/ectoplasms/spook/triggers/watchdog.py
  custom_components/spook/trigger_nesting.py
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/ectoplasms/spook/triggers/test_watchdog.py
Due: ruff-check, ruff-format, pylint

Attach a watchdog's expected half before its arming half
  custom_components/spook/ectoplasms/spook/triggers/watchdog.py
  tests/ectoplasms/spook/triggers/test_watchdog.py
Due: ruff-check, ruff-format, pylint

Guard the sequence reset attach against stopping too
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  tests/ectoplasms/spook/triggers/test_sequence.py
Due: ruff-check, ruff-format, pylint

Refuse both halves of a watchdog in the test, not just one
  tests/ectoplasms/spook/triggers/test_watchdog.py
Due: ruff-check, ruff-format, pylint

Add a spook.watchdog trigger (#1492)
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/ectoplasms/spook/triggers/watchdog.py
  custom_components/spook/translations/en.json
  custom_components/spook/trigger_nesting.py
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/ectoplasms/spook/triggers/test_watchdog.py
  tests/ectoplasms/spook/triggers/test_while.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add a spook.flapping trigger
  custom_components/spook/ectoplasms/spook/triggers/flapping.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_flapping.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Stop the flapping count where the interface says it stops
  custom_components/spook/ectoplasms/spook/triggers/flapping.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_flapping.py
Due: ruff-check, ruff-format, pylint

Count a flapping entity by the event's own time
  custom_components/spook/ectoplasms/spook/triggers/flapping.py
Due: ruff-check, ruff-format, pylint

Add a spook.flapping trigger (#1493)
  custom_components/spook/ectoplasms/spook/triggers/flapping.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_flapping.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add an automation.snooze action
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/automation/services/__init__.py
  custom_components/spook/ectoplasms/automation/services/snooze.py
  custom_components/spook/services.yaml
  custom_components/spook/snoozing.py
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/automation.md
  tests/ectoplasms/automation/services/__init__.py
  tests/ectoplasms/automation/services/test_snooze.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Close the gaps review found in the snooze
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/automation/services/snooze.py
  custom_components/spook/services.yaml
  custom_components/spook/snoozing.py
  documentation/actions.md
  tests/ectoplasms/automation/services/test_snooze.py
  tests/test_setup.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, check-yaml, pylint

Stop the register from working after it is stopped
  custom_components/spook/ectoplasms/automation/services/snooze.py
  custom_components/spook/snoozing.py
  tests/ectoplasms/automation/services/test_snooze.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Close three more windows around the store
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Read renames and deletes off the registry, not off a missing state
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Do not let a wake overtake the disable it belongs to
  custom_components/spook/ectoplasms/automation/services/snooze.py
  custom_components/spook/snoozing.py
  tests/ectoplasms/automation/services/test_snooze.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Watch from the start of catching up, not from the end
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Mark a waking automation instead of forgetting it early
  custom_components/spook/ectoplasms/automation/services/snooze.py
  custom_components/spook/snoozing.py
  tests/ectoplasms/automation/services/test_snooze.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Make sure a wake-up call actually woke something
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Put an automation back off when a newer snooze overtook its wake
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Keep a snooze whose turning-off failed, and let go of one whose automation was never in the registry
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Wait for the automation integration, and three more corners
  custom_components/spook/manifest.json
  custom_components/spook/snoozing.py
  tests/test_ectoplasm_discovery.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, check-json, pylint

Do not claim an automation somebody else turned off
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Treat a cancelled snooze the same as a failed one
  custom_components/spook/snoozing.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, pylint

Add an automation.snooze action (#1494)
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/automation/services/__init__.py
  custom_components/spook/ectoplasms/automation/services/snooze.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/snoozing.py
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/automation.md
  tests/ectoplasms/automation/services/__init__.py
  tests/ectoplasms/automation/services/test_snooze.py
  tests/test_ectoplasm_discovery.py
  tests/test_setup.py
  tests/test_snoozing.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add an automation.turn_on_for action
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/automation/services/turn_on_for.py
  custom_components/spook/services.yaml
  custom_components/spook/snoozing.py
  custom_components/spook/timed_states.py
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/automation.md
  tests/ectoplasms/automation/services/test_snooze.py
  tests/ectoplasms/automation/services/test_turn_on_for.py
  tests/test_setup.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Take over the old snooze store instead of pretending to migrate it
  custom_components/spook/timed_states.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Tell a replaced record from a cancelled one, and disabled from gone
  custom_components/spook/timed_states.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Let two overlapping calls agree on where the automation belongs
  custom_components/spook/timed_states.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Add an automation.turn_on_for action (#1495)
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/automation/services/turn_on_for.py
  custom_components/spook/services.yaml
  custom_components/spook/snoozing.py
  custom_components/spook/timed_states.py
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/automation.md
  tests/ectoplasms/automation/services/test_snooze.py
  tests/ectoplasms/automation/services/test_turn_on_for.py
  tests/test_setup.py
  tests/test_timed_states.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Stop the Home Assistant dev canary reading core's built translations
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Stop the Home Assistant dev canary reading core's built translations (#1496)
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Fix two repairs that had quietly stopped looking
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  tests/ectoplasms/lovelace/repairs/test_missing_resources.py
  tests/ectoplasms/proximity/__init__.py
  tests/ectoplasms/proximity/repairs/__init__.py
  tests/ectoplasms/proximity/repairs/conftest.py
  tests/ectoplasms/proximity/repairs/test_unknown_ignored_zones.py
  tests/ectoplasms/proximity/repairs/test_unknown_tracked_entities.py
  tests/ectoplasms/proximity/repairs/test_unknown_zone.py
Due: ruff-check, ruff-format, pylint

docs: fix typo definitly -> definitely
  documentation/glossary.md
Due: none

Fix two repairs that had quietly stopped looking (#1497)
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  tests/ectoplasms/lovelace/repairs/test_missing_resources.py
  tests/ectoplasms/proximity/__init__.py
  tests/ectoplasms/proximity/repairs/__init__.py
  tests/ectoplasms/proximity/repairs/conftest.py
  tests/ectoplasms/proximity/repairs/test_unknown_ignored_zones.py
  tests/ectoplasms/proximity/repairs/test_unknown_tracked_entities.py
  tests/ectoplasms/proximity/repairs/test_unknown_zone.py
Due: ruff-check, ruff-format, pylint

docs: fix typo definitly -> definitely (#1498)
  documentation/glossary.md
Due: none

Three more from the stability review
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  custom_components/spook/ectoplasms/lovelace/dashboards.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/homeassistant/services/test_list_orphaned_database_entities.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Three more from the stability review (#1500)
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
  custom_components/spook/ectoplasms/lovelace/dashboards.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/homeassistant/services/test_list_orphaned_database_entities.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
