Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/integrations/spook_inverse/translations/pt_BR.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/integrations/spook_inverse/translations/pt.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Bump min req Home Assistant 2024.2.0 and HACS 1.34.0
  hacs.json
Due: check-json

Add inspections for proximity issues
  custom_components/spook/ectoplasms/proximity/__init__.py
  custom_components/spook/ectoplasms/proximity/repairs/__init__.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/manifest.json
  custom_components/spook/translations/en.json
Due: ruff-check, ruff-format, check-json, pylint

Update website URL https://spook.boo
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  README.md
  custom_components/spook/integrations/spook_inverse/manifest.json
  custom_components/spook/manifest.json
Due: check-json, check-yaml

Update website URL https://spook.boo (#597)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  README.md
  custom_components/spook/integrations/spook_inverse/manifest.json
  custom_components/spook/manifest.json
Due: check-json, check-yaml

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/integrations/spook_inverse/translations/cs.json
Due: check-json

Bump min req Home Assistant 2024.2.0 and HACS 1.34.0 (#595)
  hacs.json
Due: check-json

Update documentation
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/glossary.md
  documentation/installation.md
  documentation/integrations/proximity.md
Due: check-yaml

Add inspections for unknown service calls in automations
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  documentation/integrations/automation.md
Due: ruff-check, ruff-format, check-json, pylint

Add inspections for unknown service calls in automations (#600)
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/translations/en.json
  documentation/integrations/automation.md
Due: ruff-check, ruff-format, check-json, pylint

Add inspections for proximity issues (#596)
  custom_components/spook/ectoplasms/proximity/__init__.py
  custom_components/spook/ectoplasms/proximity/repairs/__init__.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/manifest.json
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/glossary.md
  documentation/installation.md
  documentation/integrations/proximity.md
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/translations/nb_NO.json
Due: check-json

Fix rendering of proximity documentation page
  documentation/integrations/proximity.md
Due: none

Fix rendering of proximity documentation page (#602)
  documentation/integrations/proximity.md
Due: none

Deduplicate repair issue cleanup code
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Deduplicate repair issue cleanup code (#603)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Danish)
  custom_components/spook/integrations/spook_inverse/translations/da.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/integrations/spook_inverse/translations/it.json
Due: check-json

Refactor getting/filtering for unknown entity/area/devices/services
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Refactor getting/filtering for unknown entity/area/devices/services (#606)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix parsing of used services when encountering a repeat action
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix parsing of used services when encountering a repeat action (#607)
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Translated using Weblate (Russian)
  custom_components/spook/translations/ru.json
Due: check-json

Fix detecting service calls that use old-style service_template
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
