Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Split up what the counters count
  documentation/devices_entities.md
Due: none

Refuse an empty domain list instead of reading it as every issue
  custom_components/spook/ectoplasms/repairs/services/ignore_all.py
  custom_components/spook/ectoplasms/repairs/services/unignore_all.py
  tests/ectoplasms/repairs/services/test_ignore_all.py
Due: ruff-check, ruff-format, pylint

Let ignore_all and unignore_all take a domain
  custom_components/spook/ectoplasms/repairs/services/ignore_all.py
  custom_components/spook/ectoplasms/repairs/services/unignore_all.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations/repairs.md
  tests/ectoplasms/repairs/services/test_ignore_all.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Read disabled steps the same way the report is read
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/automation/repairs/test_disabled_steps.py
Due: ruff-check, ruff-format, pylint

Drop the blueprint input scan, the filled-in script covers it
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Check the entities a script hands over, and its templates
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Test the blueprint input path through the repair
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Leave variables and other payload alone when pruning disabled steps
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/automation/repairs/test_disabled_step_targets.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Leave out devices, areas, floors and labels only a disabled step names (#1804)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/reference_extraction.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/ectoplasms/automation/repairs/test_disabled_step_targets.py
  tests/ectoplasms/automation/repairs/test_disabled_steps.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Say what the entity and device counters count (#1805)
  documentation/devices_entities.md
Due: none

Fix a dead HACS link, a stray line, and document cycle (#1803)
  documentation/entities.md
  documentation/installation.md
  documentation/integrations/input_number.md
Due: none

Let enable and disable_config_entry take a domain
  custom_components/spook/ectoplasms/homeassistant/services/__init__.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_config_entry.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_config_entry.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations.md
  tests/ectoplasms/homeassistant/services/test_config_entries_by_domain.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let enable and disable_config_entry take a domain (#1807)
  custom_components/spook/ectoplasms/homeassistant/services/__init__.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_config_entry.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_config_entry.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations.md
  tests/ectoplasms/homeassistant/services/test_config_entries_by_domain.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Show the passive option of zone.create and zone.update
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations/zone.md
  tests/ectoplasms/zone/services/test_passive.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Show the passive option of zone.create and zone.update (#1808)
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations/zone.md
  tests/ectoplasms/zone/services/test_passive.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the input_select.reverse action
  custom_components/spook/ectoplasms/input_select/services/reverse.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/input_select.md
  tests/ectoplasms/input_select/services/test_reverse.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the input_select.reverse action (#1809)
  custom_components/spook/ectoplasms/input_select/services/reverse.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/input_select.md
  tests/ectoplasms/input_select/services/test_reverse.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let zone.update move and resize the home zone
  custom_components/spook/ectoplasms/zone/services/update.py
  documentation/integrations/zone.md
  tests/ectoplasms/zone/services/test_update_home.py
Due: ruff-check, ruff-format, pylint

Only move the house for the home zone drawn from it, and refuse a negative radius
  custom_components/spook/ectoplasms/zone/services/update.py
  tests/ectoplasms/zone/services/test_update_home.py
Due: ruff-check, ruff-format, pylint

Let zone.update move and resize the home zone (#1810)
  custom_components/spook/ectoplasms/zone/services/update.py
  documentation/integrations/zone.md
  tests/ectoplasms/zone/services/test_update_home.py
Due: ruff-check, ruff-format, pylint

Add the input_number.set_range action
  custom_components/spook/ectoplasms/input_number/services/set_range.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/input_number.md
  tests/ectoplasms/input_number/services/test_set_range.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Check the range ourselves, and refuse numbers that are not finite
  custom_components/spook/ectoplasms/input_number/services/set_range.py
  custom_components/spook/services.yaml
  tests/ectoplasms/input_number/services/test_set_range.py
Due: ruff-check, ruff-format, check-yaml, pylint

Share the target watching of the two reached triggers
  custom_components/spook/ectoplasms/spook/triggers/position_reached.py
  custom_components/spook/ectoplasms/spook/triggers/target_temperature_reached.py
  custom_components/spook/target_watching.py
Due: ruff-check, ruff-format, pylint

Share the target watching of the two reached triggers (#1812)
  custom_components/spook/ectoplasms/spook/triggers/position_reached.py
  custom_components/spook/ectoplasms/spook/triggers/target_temperature_reached.py
  custom_components/spook/target_watching.py
Due: ruff-check, ruff-format, pylint

Add the input_number.set_range action (#1811)
  custom_components/spook/ectoplasms/input_number/services/set_range.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/input_number.md
  tests/ectoplasms/input_number/services/test_set_range.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Don't report actions of an integration that is disabled
  custom_components/spook/entity_filtering.py
  documentation/integrations/automation.md
  documentation/integrations/lovelace.md
  documentation/integrations/script.md
  documentation/integrations/template.md
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Let the template repair look again when any integration changes
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  tests/ectoplasms/template/repairs/test_unknown_service_references.py
Due: ruff-check, ruff-format, pylint

Don't report actions of an integration that is disabled (#1814)
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/entity_filtering.py
  documentation/integrations/automation.md
  documentation/integrations/lovelace.md
  documentation/integrations/script.md
  documentation/integrations/template.md
  tests/ectoplasms/template/repairs/test_unknown_service_references.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Leave areas a vacuum cleans out of the empty area repair
  custom_components/spook/registry_usage.py
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, pylint

Leave areas a vacuum cleans out of the empty area repair (#1816)
  custom_components/spook/registry_usage.py
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Hungarian)
  custom_components/spook/integrations/spook_calibration/translations/hu.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/integrations/spook_inverse/translations/de.json
Due: check-json

Translated using Weblate (Hungarian)
  custom_components/spook/integrations/spook_inverse/translations/hu.json
Due: check-json
