Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Cover the config entry owning the automation run register
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Add a spook.triggered_by_automation condition (#1482)
  custom_components/spook/__init__.py
  custom_components/spook/automation_runs.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_automation.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_context_conditions.py
  tests/ectoplasms/spook/conditions/test_triggered_by_automation.py
  tests/test_setup.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add repair issue triggers and a repair issue condition
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/repair_issue_present.py
  custom_components/spook/ectoplasms/spook/repair_issues.py
  custom_components/spook/ectoplasms/spook/triggers/repair_issue_created.py
  custom_components/spook/ectoplasms/spook/triggers/repair_issue_removed.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/conditions.md
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_repair_issues.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Say that the filters take a single value as well as a list
  documentation/other_features.md
Due: none

Cover the removed trigger's filter and its action guard
  tests/ectoplasms/spook/triggers/test_repair_issues.py
Due: ruff-check, ruff-format, pylint

Add a spook.quota condition
  custom_components/spook/__init__.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_automation.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/run_history.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_quota.py
  tests/test_setup.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Only skip the run doing the asking, and keep room for it
  custom_components/spook/run_history.py
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Refuse a quota limit that is not a whole number of runs
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Count automations only, since a script announces itself too early
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  custom_components/spook/run_history.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_quota.py
  tests/test_setup.py
Due: ruff-check, ruff-format, check-json, pylint

Check the limit exactly, rather than through a float
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Expire a run exactly a period old
  custom_components/spook/run_history.py
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Add repair issue triggers and a repair issue condition (#1483)
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/repair_issue_present.py
  custom_components/spook/ectoplasms/spook/repair_issues.py
  custom_components/spook/ectoplasms/spook/triggers/repair_issue_created.py
  custom_components/spook/ectoplasms/spook/triggers/repair_issue_removed.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/conditions.md
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_repair_issues.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Refuse a period that cannot be measured
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Compare each run's age, rather than working out when the window opened
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  custom_components/spook/run_history.py
Due: ruff-check, ruff-format, pylint

Range check the limit before it becomes an integer
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Say what the period cap is actually for
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Make the longest-period test actually reach the history
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Hold that only admitted automation runs are counted
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Say what these two tests actually exercise
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Let only running refresh an entity, not being asked about
  custom_components/spook/run_history.py
  tests/ectoplasms/spook/conditions/test_quota.py
Due: ruff-check, ruff-format, pylint

Add a spook.quota condition (#1484)
  custom_components/spook/__init__.py
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_automation.py
  custom_components/spook/ectoplasms/spook/context.py
  custom_components/spook/run_history.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_quota.py
  tests/test_setup.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add spook.condition_met and spook.wait_for_condition
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/condition_met.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/actions.md
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/services/__init__.py
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/ectoplasms/spook/triggers/test_condition_met.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Refuse pre-rendered condition templates, and fix the zero timeout
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  documentation/other_features.md
  tests/ectoplasms/spook/services/test_wait_for_condition.py
Due: ruff-check, ruff-format, pylint

Refuse conditions that ask about the run they are in
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  documentation/other_features.md
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/ectoplasms/spook/triggers/test_condition_met.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, pylint

Refuse templates that reach into a run, and walk the tree as core does
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  documentation/other_features.md
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/ectoplasms/spook/triggers/test_condition_met.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, pylint

Report what turned the condition, and declare which conditions need a run
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/conditions/chance.py
  custom_components/spook/ectoplasms/spook/conditions/cooldown.py
  custom_components/spook/ectoplasms/spook/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  custom_components/spook/ectoplasms/spook/conditions/repair_issue_present.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_automation.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/condition_met.py
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_in_automations.py
  tests/ectoplasms/spook/triggers/test_condition_met.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, pylint

Take the condition sequence the selector actually produces
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/condition_met.py
  documentation/other_features.md
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/ectoplasms/spook/triggers/test_condition_met.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, pylint

Attribute a turn only when it is known which change caused it
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/condition_met.py
  documentation/other_features.md
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, pylint

Watch the entity a numeric threshold names
  custom_components/spook/condition_watching.py
  documentation/other_features.md
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, pylint

Add spook.condition_met and spook.wait_for_condition (#1485)
  custom_components/spook/condition_watching.py
  custom_components/spook/ectoplasms/spook/conditions/chance.py
  custom_components/spook/ectoplasms/spook/conditions/cooldown.py
  custom_components/spook/ectoplasms/spook/conditions/not_triggered_by_user.py
  custom_components/spook/ectoplasms/spook/conditions/quota.py
  custom_components/spook/ectoplasms/spook/conditions/repair_issue_present.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_automation.py
  custom_components/spook/ectoplasms/spook/conditions/triggered_by_user.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/condition_met.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/actions.md
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/conditions/test_in_automations.py
  tests/ectoplasms/spook/services/__init__.py
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/ectoplasms/spook/triggers/test_condition_met.py
  tests/test_condition_watching.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Catch the exception the condition_met test means to catch
  tests/ectoplasms/spook/triggers/test_condition_met.py
Due: ruff-check, ruff-format, pylint

Catch the exception the condition_met test means to catch (#1487)
  tests/ectoplasms/spook/triggers/test_condition_met.py
Due: ruff-check, ruff-format, pylint

Build the service set once per inspection, not once per template
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Build the service set once per inspection, not once per template (#1488)
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Add a spook.sequence trigger
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/glossary.md
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_sequence.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Stop a sequence trigger cleanly while it is re-arming
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_sequence.py
Due: ruff-check, ruff-format, pylint

Add a spook.sequence trigger (#1489)
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/glossary.md
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_sequence.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Tie a sequence deadline to the run that set it
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  documentation/glossary.md
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_sequence.py
Due: ruff-check, ruff-format, pylint

Say which step failing to attach disables the automation
  documentation/other_features.md
Due: none

Tie a sequence deadline to the run that set it (#1490)
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  documentation/glossary.md
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_sequence.py
Due: ruff-check, ruff-format, pylint
