Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Add Scorecard and dependency review
  .github/SECURITY.md
  .github/workflows/dependency-review.yaml
  .github/workflows/scorecard.yml
  README.md
Due: check-yaml

Remove stale SonarCloud configuration
  sonar-project.properties
Due: none

Remove stale SonarCloud configuration (#1272)
  sonar-project.properties
Due: none

Use prek for local hooks (#1269)
  .devcontainer/devcontainer.json
  .github/workflows/pylint.yaml
  pyproject.toml
  uv.lock
Due: check-json, check-toml, check-yaml

Align GitHub security policy with documentation
  .github/SECURITY.md
Due: none

Add Scorecard and dependency review (#1271)
  .github/SECURITY.md
  .github/workflows/dependency-review.yaml
  .github/workflows/scorecard.yml
  README.md
Due: check-yaml

Harden GitHub Actions with zizmor (#1270)
  .github/workflows/documentation.yaml
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/labels.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/pylint.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yml
  .github/workflows/zizmor.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Add helper extractor tests
  tests/ectoplasms/__init__.py
  tests/ectoplasms/script/__init__.py
  tests/ectoplasms/script/repairs/__init__.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Add helper extractor tests (#1274)
  tests/ectoplasms/__init__.py
  tests/ectoplasms/script/__init__.py
  tests/ectoplasms/script/repairs/__init__.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Add unknown entity extractor tests
  tests/ectoplasms/automation/__init__.py
  tests/ectoplasms/automation/repairs/__init__.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/lovelace/__init__.py
  tests/ectoplasms/lovelace/repairs/__init__.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Tighten nested action extractor assertion
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Extract base classes for unknown-reference repair boilerplate
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/person/services/add_device_tracker.py
  custom_components/spook/ectoplasms/person/services/remove_device_tracker.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/repairs.py
  pyproject.toml
Due: ruff-check, ruff-format, check-toml, pylint

Add unknown entity extractor tests (#1275)
  tests/ectoplasms/automation/__init__.py
  tests/ectoplasms/automation/repairs/__init__.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/lovelace/__init__.py
  tests/ectoplasms/lovelace/repairs/__init__.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Stabilize unknown reference issue output
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Split util.py into entity_filtering, setup_helpers, integration_linking
  custom_components/spook/__init__.py
  custom_components/spook/binary_sensor.py
  custom_components/spook/button.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/event.py
  custom_components/spook/integration_linking.py
  custom_components/spook/number.py
  custom_components/spook/repairs.py
  custom_components/spook/select.py
  custom_components/spook/sensor.py
  custom_components/spook/setup_helpers.py
  custom_components/spook/switch.py
  custom_components/spook/time.py
  pyproject.toml
  tests/test_util.py
Due: ruff-check, ruff-format, check-toml, pylint

Remove stale Python classifier
  pyproject.toml
Due: check-toml

Split util helpers into focused modules (#1277)
  custom_components/spook/__init__.py
  custom_components/spook/binary_sensor.py
  custom_components/spook/button.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/event.py
  custom_components/spook/integration_linking.py
  custom_components/spook/number.py
  custom_components/spook/repairs.py
  custom_components/spook/select.py
  custom_components/spook/sensor.py
  custom_components/spook/setup_helpers.py
  custom_components/spook/switch.py
  custom_components/spook/time.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Reset unknown repair issue tracking per inspection
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Extract unknown reference repair base classes (#1276)
  custom_components/spook/__init__.py
  custom_components/spook/binary_sensor.py
  custom_components/spook/button.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/person/services/add_device_tracker.py
  custom_components/spook/ectoplasms/person/services/remove_device_tracker.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/event.py
  custom_components/spook/integration_linking.py
  custom_components/spook/number.py
  custom_components/spook/repairs.py
  custom_components/spook/select.py
  custom_components/spook/sensor.py
  custom_components/spook/setup_helpers.py
  custom_components/spook/switch.py
  custom_components/spook/time.py
  pyproject.toml
  tests/test_util.py
Due: ruff-check, ruff-format, check-toml, pylint

Add ectoplasm discovery contract tests
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, pylint

Add ectoplasm discovery guardrails
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, pylint

Redirect repairs to the first view with unknown entities
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Review
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Add tests for Lovelace repair view redirects
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Pass HomeAssistant instance to InverseEntity constructor in binary_sensor and switch setup
  custom_components/spook/integrations/spook_inverse/binary_sensor.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/integrations/spook_inverse/switch.py
Due: ruff-check, ruff-format, pylint

Remove unused import
  custom_components/spook/integrations/spook_inverse/entity.py
Due: ruff-check, ruff-format, pylint

Formatting
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Ruff fixes
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

But update to latest minor
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Migrate to new method of device association
  custom_components/spook/integrations/spook_inverse/__init__.py
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/entity.py
Due: ruff-check, ruff-format, pylint

Use magic value to avoid future runs.
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Fix get registry
  custom_components/spook/integrations/spook_inverse/entity.py
Due: ruff-check, ruff-format, pylint

Remove redundant entry updates when already at target version
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Harden inverse helper migration
  custom_components/spook/integrations/spook_inverse/__init__.py
  tests/integrations/__init__.py
  tests/integrations/spook_inverse/__init__.py
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Handle empty Lovelace view paths
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Use pull_request_target for PR label checks
  .github/workflows/pr-labels.yaml
Due: check-yaml

Improve ectoplasm contract failure messages
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, pylint

Format ectoplasm discovery contract test
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
