Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Detect stale device references in templates (#1366)
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_template_device_references.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Detect unknown entities referenced in template helpers
  custom_components/spook/ectoplasms/template/__init__.py
  custom_components/spook/ectoplasms/template/repairs/__init__.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/template/__init__.py
  tests/ectoplasms/template/repairs/__init__.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown entities referenced in template helpers (#1367)
  custom_components/spook/ectoplasms/template/__init__.py
  custom_components/spook/ectoplasms/template/repairs/__init__.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/template/__init__.py
  tests/ectoplasms/template/repairs/__init__.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, check-json, pylint

Explain why referenced entities are unknown
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/entity_suggestions.py
  custom_components/spook/repairs.py
  tests/test_entity_suggestions.py
Due: ruff-check, ruff-format, pylint

Explain why referenced entities are unknown (#1368)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/entity_suggestions.py
  custom_components/spook/repairs.py
  tests/test_entity_suggestions.py
Due: ruff-check, ruff-format, pylint

Enrich unknown entity issues across all repairs
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Enrich unknown entity issues across all repairs (#1369)
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Detect orphaned long-term statistics
  custom_components/spook/ectoplasms/recorder/repairs/__init__.py
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/recorder/repairs/__init__.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
Due: ruff-check, ruff-format, check-json, pylint

Detect orphaned long-term statistics (#1370)
  custom_components/spook/ectoplasms/recorder/repairs/__init__.py
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/recorder/repairs/__init__.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
Due: ruff-check, ruff-format, check-json, pylint

Detect dashboard resources pointing at missing files
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/lovelace/repairs/test_missing_resources.py
Due: ruff-check, ruff-format, check-json, pylint

Detect dashboard resources pointing at missing files (#1371)
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/lovelace/repairs/test_missing_resources.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown entities in the energy dashboard
  custom_components/spook/ectoplasms/energy/__init__.py
  custom_components/spook/ectoplasms/energy/repairs/__init__.py
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/energy/__init__.py
  tests/ectoplasms/energy/repairs/__init__.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
Due: ruff-check, ruff-format, check-json, pylint

Declare energy as an after dependency
  custom_components/spook/manifest.json
Due: check-json

Detect unknown entities in the energy dashboard (#1372)
  custom_components/spook/ectoplasms/energy/__init__.py
  custom_components/spook/ectoplasms/energy/repairs/__init__.py
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/manifest.json
  custom_components/spook/translations/en.json
  tests/ectoplasms/energy/__init__.py
  tests/ectoplasms/energy/repairs/__init__.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
Due: ruff-check, ruff-format, check-json, pylint

Detect registered entities that no longer exist
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Cover the no-config-entry skip in the dead entities repair
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, pylint

Rename test to match the retrying config entry state
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, pylint

Detect registered entities that no longer exist (#1373)
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Detect and revoke forgotten long-lived access tokens
  custom_components/spook/ectoplasms/homeassistant/repairs/stale_access_tokens.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_stale_access_tokens.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, check-json, pylint

Detect and revoke forgotten long-lived access tokens (#1374)
  custom_components/spook/ectoplasms/homeassistant/repairs/stale_access_tokens.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_stale_access_tokens.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, check-json, pylint

Detect empty areas and offer to remove them
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_areas.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, check-json, pylint

Detect empty areas and offer to remove them (#1375)
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_areas.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, check-json, pylint

Detect empty floors and offer to remove them
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_floors.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
Due: ruff-check, ruff-format, check-json, pylint

Detect empty floors and offer to remove them (#1376)
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_floors.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unused labels and offer to remove them
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_labels.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unused labels and offer to remove them (#1377)
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_labels.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unused blueprints and offer to remove them
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_blueprints.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unused_blueprints.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unused blueprints and offer to remove them (#1378)
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_blueprints.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unused_blueprints.py
Due: ruff-check, ruff-format, check-json, pylint

Detect and clean up unknown device trackers on people
  custom_components/spook/ectoplasms/person/repairs/__init__.py
  custom_components/spook/ectoplasms/person/repairs/unknown_device_trackers.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/person/__init__.py
  tests/ectoplasms/person/repairs/__init__.py
  tests/ectoplasms/person/repairs/test_unknown_device_trackers.py
Due: ruff-check, ruff-format, check-json, pylint

Detect and clean up unknown device trackers on people (#1379)
  custom_components/spook/ectoplasms/person/repairs/__init__.py
  custom_components/spook/ectoplasms/person/repairs/unknown_device_trackers.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/person/__init__.py
  tests/ectoplasms/person/repairs/__init__.py
  tests/ectoplasms/person/repairs/test_unknown_device_trackers.py
Due: ruff-check, ruff-format, check-json, pylint

Detect customizations for non-existing entities
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_customized_entities.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unknown_customized_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Make the stale access token repair dismissable
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_stale_access_tokens.py
Due: ruff-check, ruff-format, check-json, pylint

Detect customizations for non-existing entities (#1380)
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_customized_entities.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_unknown_customized_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Make the stale access token repair dismissable (#1381)
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_stale_access_tokens.py
Due: ruff-check, ruff-format, check-json, pylint

Offer a fix-it-myself link in repair fix flows
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, check-json, pylint

Offer a fix-it-myself link in repair fix flows (#1382)
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, check-json, pylint

Offer to clean up unknown members in groups
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/group/__init__.py
  tests/ectoplasms/group/repairs/__init__.py
  tests/ectoplasms/group/repairs/test_unknown_members.py
Due: ruff-check, ruff-format, check-json, pylint

Offer to clean up unknown members in groups (#1383)
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/group/__init__.py
  tests/ectoplasms/group/repairs/__init__.py
  tests/ectoplasms/group/repairs/test_unknown_members.py
Due: ruff-check, ruff-format, check-json, pylint

Detect and prune missing members in min/max helpers
  custom_components/spook/ectoplasms/homeassistant/repairs/min_max_unknown_sources.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_helper_source_references.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_min_max_unknown_sources.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
Due: ruff-check, ruff-format, check-json, pylint

Detect and prune missing members in min/max helpers (#1384)
  custom_components/spook/ectoplasms/homeassistant/repairs/min_max_unknown_sources.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unknown_helper_source_references.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_min_max_unknown_sources.py
  tests/ectoplasms/homeassistant/repairs/test_unknown_helper_source_references.py
Due: ruff-check, ruff-format, check-json, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
