Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: poetry run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: poetry
        name: 📜 Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Replace social image
  documentation/images/social.png
Due: none

Translated using Weblate (Croatian)
  custom_components/spook/translations/hr.json
Due: check-json

Added translation using Weblate (Croatian)
  custom_components/spook/translations/hr.json
Due: check-json

Translated using Weblate (Greek)
  custom_components/spook/translations/el.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Added translation using Weblate (Croatian)
  custom_components/spook/integrations/spook_inverse/translations/hr.json
Due: check-json

Translated using Weblate (Croatian)
  custom_components/spook/integrations/spook_inverse/translations/hr.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/integrations/spook_inverse/translations/fr.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Hebrew)
  custom_components/spook/translations/he.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Turkish)
  custom_components/spook/translations/tr.json
Due: check-json

Translated using Weblate (Indonesian)
  custom_components/spook/translations/id.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Chinese (Simplified))
  custom_components/spook/translations/zh_Hans.json
Due: check-json

Translated using Weblate (Thai)
  custom_components/spook/translations/th.json
Due: check-json

Translated using Weblate (Chinese (Traditional))
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Translated using Weblate (Japanese)
  custom_components/spook/translations/ja.json
Due: check-json

Translated using Weblate (Galician)
  custom_components/spook/translations/gl.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Add mentions of Spook in media
  documentation/media.md
Due: none

Add mentions of Spook in media (#689)
  documentation/media.md
Due: none

Add some spacing
  documentation/media.md
Due: none

Some more doc tweaks
  documentation/index.md
Due: none

Some more doc tweaks (#690)
  documentation/index.md
Due: none

Migrate from Poetry to rye
  .github/workflows/pylint.yaml
  .github/workflows/ruff.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-toml, check-yaml

Use uv
  .github/workflows/pylint.yaml
  .github/workflows/ruff.yaml
Due: check-yaml

Fixes
  custom_components/spook/ectoplasms/blueprint/services/importer.py
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch_filter.py
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
Due: ruff-check, ruff-format, pylint

Use correct ruff command
  .github/workflows/ruff.yaml
Due: check-yaml

Update devcontainer
  .devcontainer/devcontainer.json
Due: check-json

Fix typo:
  .devcontainer/devcontainer.json
Due: check-json

MOAR changes
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .python-version
  .vscode/launch.json
  requirements-dev.lock
  requirements.lock
Due: check-json

Migrate from Poetry to rye (#673)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pylint.yaml
  .github/workflows/ruff.yaml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/launch.json
  custom_components/spook/ectoplasms/blueprint/services/importer.py
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch_filter.py
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

Require at least Home Assistant 2024.4.0
  hacs.json
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-json, check-toml

Require at least Home Assistant 2024.4.0 (#692)
  hacs.json
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-json, check-toml
