Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Optimize Jinja comment stripping
  custom_components/spook/entity_filtering.py
Due: ruff-check, ruff-format, pylint

Assert expected time date entity IDs
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Preserve parent device disable reasons
  custom_components/spook/ectoplasms/homeassistant/device.py
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, pylint

Redetect disabled Spook entries before enabling
  custom_components/spook/config_flow.py
  custom_components/spook/translations/en-GB.json
Due: ruff-check, ruff-format, check-json, pylint

Format device cascade tests
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, pylint

Ignore entity references in Jinja comments (#1322)
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Treat time date sensors as known entities (#1317)
  custom_components/spook/entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Cascade device enable and disable actions (#1318)
  custom_components/spook/ectoplasms/homeassistant/device.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_device.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_device.py
  tests/ectoplasms/homeassistant/services/test_device.py
Due: ruff-check, ruff-format, pylint

Offer to enable existing Spook entry (#1316)
  custom_components/spook/config_flow.py
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/en.json
  tests/test_config_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Preserve repair issue dismissal state
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Preserve repair issue dismissal state (#1324)
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Recheck automation repairs on state changes
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Recheck dashboard repairs on state changes
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Add inverse cover helper support
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/const.py
  custom_components/spook/integrations/spook_inverse/cover.py
  custom_components/spook/integrations/spook_inverse/translations/en.json
  tests/integrations/spook_inverse/test_config_flow.py
  tests/integrations/spook_inverse/test_cover.py
Due: ruff-check, ruff-format, check-json, pylint

Recheck automation repairs on state changes (#1325)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Recheck dashboard repairs on state changes (#1326)
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Add helper management actions
  custom_components/spook/ectoplasms/homeassistant/services/expose_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/unexpose_entity.py
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/ectoplasms/sensor/__init__.py
  custom_components/spook/ectoplasms/sensor/services/__init__.py
  custom_components/spook/ectoplasms/sensor/services/set_display_precision.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/services/test_voice_assistant_exposure.py
  tests/ectoplasms/input_number/services/test_increment_decrement.py
  tests/ectoplasms/sensor/__init__.py
  tests/ectoplasms/sensor/services/__init__.py
  tests/ectoplasms/sensor/services/test_set_display_precision.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Greek)
  custom_components/spook/translations/el.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/integrations/spook_inverse/translations/fi.json
Due: check-json

Ignore action calls in entity reference repairs
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Ukrainian)
  custom_components/spook/translations/uk.json
Due: check-json

Translated using Weblate (Bulgarian)
  custom_components/spook/translations/bg.json
Due: check-json

Translated using Weblate (Catalan)
  custom_components/spook/translations/ca.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Translated using Weblate (Estonian)
  custom_components/spook/translations/et.json
Due: check-json

Translated using Weblate (Hebrew)
  custom_components/spook/translations/he.json
Due: check-json

Translated using Weblate (Hungarian)
  custom_components/spook/translations/hu.json
Due: check-json

Translated using Weblate (Indonesian)
  custom_components/spook/translations/id.json
Due: check-json

Translated using Weblate (Japanese)
  custom_components/spook/translations/ja.json
Due: check-json

Translated using Weblate (Georgian)
  custom_components/spook/translations/ka.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
