Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Four from the second stability review
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/homeassistant/labels.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_entity.py
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/services.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/homeassistant/services/test_label_services.py
  tests/ectoplasms/homeassistant/services/test_list_orphaned_database_entities.py
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/test_service_registration_errors.py
Due: ruff-check, ruff-format, pylint

Four from the second stability review (#1501)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/homeassistant/labels.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_entity.py
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/services.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/homeassistant/services/test_label_services.py
  tests/ectoplasms/homeassistant/services/test_list_orphaned_database_entities.py
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/test_service_registration_errors.py
Due: ruff-check, ruff-format, pylint

Add light actions that adjust rather than switch
  custom_components/spook/ectoplasms/light/__init__.py
  custom_components/spook/ectoplasms/light/services/__init__.py
  custom_components/spook/ectoplasms/light/services/decrease_brightness.py
  custom_components/spook/ectoplasms/light/services/increase_brightness.py
  custom_components/spook/ectoplasms/light/services/set_brightness.py
  custom_components/spook/ectoplasms/light/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/integrations/light.md
  tests/ectoplasms/light/__init__.py
  tests/ectoplasms/light/services/__init__.py
  tests/ectoplasms/light/services/conftest.py
  tests/ectoplasms/light/services/test_set_brightness.py
  tests/ectoplasms/light/services/test_step_brightness.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Say which integration left entities behind, and offer to clear them
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Wait for an integration to have data before calling its entities dead
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, pylint

Colour, colour temperature and effects, and four from review
  custom_components/spook/ectoplasms/light/__init__.py
  custom_components/spook/ectoplasms/light/services/set_brightness.py
  custom_components/spook/ectoplasms/light/services/set_color.py
  custom_components/spook/ectoplasms/light/services/set_color_temperature.py
  custom_components/spook/ectoplasms/light/services/set_effect.py
  custom_components/spook/ectoplasms/light/stepping.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/light.md
  tests/ectoplasms/light/services/conftest.py
  tests/ectoplasms/light/services/test_colour.py
  tests/ectoplasms/light/services/test_step_brightness.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Take colour names back out of set_color
  custom_components/spook/ectoplasms/light/services/set_color.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations/light.md
  tests/ectoplasms/light/services/test_colour.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Four from review on the dead entities repair
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Read the wait off the placeholders, and let time bring it round
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, pylint

Say which integration left entities behind, and offer to clear them (#1504)
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Add light actions that adjust rather than switch (#1503)
  custom_components/spook/ectoplasms/light/__init__.py
  custom_components/spook/ectoplasms/light/services/__init__.py
  custom_components/spook/ectoplasms/light/services/decrease_brightness.py
  custom_components/spook/ectoplasms/light/services/increase_brightness.py
  custom_components/spook/ectoplasms/light/services/set_brightness.py
  custom_components/spook/ectoplasms/light/services/set_color.py
  custom_components/spook/ectoplasms/light/services/set_color_temperature.py
  custom_components/spook/ectoplasms/light/services/set_effect.py
  custom_components/spook/ectoplasms/light/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/integrations/light.md
  tests/ectoplasms/light/__init__.py
  tests/ectoplasms/light/services/__init__.py
  tests/ectoplasms/light/services/conftest.py
  tests/ectoplasms/light/services/test_colour.py
  tests/ectoplasms/light/services/test_set_brightness.py
  tests/ectoplasms/light/services/test_step_brightness.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Read a Hue room's members, whatever container they arrive in
  custom_components/spook/ectoplasms/light/__init__.py
  tests/ectoplasms/light/services/conftest.py
  tests/ectoplasms/light/services/test_colour.py
  tests/ectoplasms/light/services/test_step_brightness.py
Due: ruff-check, ruff-format, pylint

Read a Hue room's members, whatever container they arrive in (#1505)
  custom_components/spook/ectoplasms/light/__init__.py
  tests/ectoplasms/light/services/conftest.py
  tests/ectoplasms/light/services/test_colour.py
  tests/ectoplasms/light/services/test_step_brightness.py
Due: ruff-check, ruff-format, pylint

Tell you when a blueprint's author has changed it
  custom_components/spook/const.py
  custom_components/spook/ectoplasms/blueprint/update.py
  custom_components/spook/manifest.json
  custom_components/spook/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/__init__.py
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, check-json, pylint

Put the source and a warning in the update dialog
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Six from review, all of them real
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Seven more from review, and my own tests were half of the problem
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Drop the substitution check, which could never fire
  custom_components/spook/ectoplasms/blueprint/update.py
Due: ruff-check, ruff-format, pylint

Try the update on your automations before writing it
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Stop the refusal blaming inputs for everything
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

An install is a fetch that worked, so say so
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Stop that unload assertion passing on an empty list
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Do not tell everybody where a blueprint came from
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Tell you when a blueprint's author has changed it (#1506)
  custom_components/spook/const.py
  custom_components/spook/ectoplasms/blueprint/update.py
  custom_components/spook/manifest.json
  custom_components/spook/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/__init__.py
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, check-json, pylint

Drop the forgotten-token repair, which could never be right
  custom_components/spook/ectoplasms/homeassistant/repairs/stale_access_tokens.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/en.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_stale_access_tokens.py
Due: ruff-check, ruff-format, check-json, pylint

Drop the forgotten-token repair, which could never be right (#1511)
  custom_components/spook/ectoplasms/homeassistant/repairs/stale_access_tokens.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/en.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_stale_access_tokens.py
Due: ruff-check, ruff-format, check-json, pylint

Stop naming an action that does not exist
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/translations/en.json
  documentation/integrations/recorder.md
  tests/test_action_references.py
Due: ruff-check, ruff-format, check-json, pylint

Stop naming an action that does not exist (#1512)
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/translations/en.json
  documentation/integrations/recorder.md
  tests/test_action_references.py
Due: ruff-check, ruff-format, check-json, pylint

Say it in thirteen more languages, and mean it
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
  tests/test_action_references.py
Due: ruff-check, ruff-format, check-json, pylint

Say it in thirteen more languages, and mean it (#1513)
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
  tests/test_action_references.py
Due: ruff-check, ruff-format, check-json, pylint

Say out loud that trigger.entity_id is not an entity
  custom_components/spook/action_extraction.py
  custom_components/spook/template_extraction.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Two from review, and one of them reproduces the bug
  custom_components/spook/action_extraction.py
  custom_components/spook/template_extraction.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Take the wrong diagnosis back out of the comments
  custom_components/spook/template_extraction.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Say out loud that trigger.entity_id is not an entity (#1515)
  custom_components/spook/action_extraction.py
  custom_components/spook/template_extraction.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

A wildcard is a pattern, not the name of anything
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/reference_extraction.py
  tests/test_pattern_references.py
Due: ruff-check, ruff-format, pylint

A wildcard is a pattern, not the name of anything (#1517)
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/reference_extraction.py
  tests/test_pattern_references.py
Due: ruff-check, ruff-format, pylint

Dashboards have a gate of their own, and it was not guarded
  custom_components/spook/action_extraction.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/template_extraction.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Dashboards have a gate of their own, and it was not guarded (#1518)
  custom_components/spook/action_extraction.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/template_extraction.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Do not go looking inside a filter
  custom_components/spook/dashboard_extraction.py
  tests/test_filter_subtrees.py
  tests/test_never_an_entity.py
  tests/test_pattern_references.py
Due: ruff-check, ruff-format, pylint

Go back into options, which is not a matcher
  custom_components/spook/dashboard_extraction.py
  tests/test_filter_subtrees.py
Due: ruff-check, ruff-format, pylint
