Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Don't write back a blueprint that was deleted
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Ask whether the blueprint is there before asking the source
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Don't write back a blueprint that was deleted (#1666)
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/integrations/spook_inverse/translations/sr_Latn.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Stop repair inspections stalling the event loop
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/entity_suggestions.py
  custom_components/spook/repairs.py
  custom_components/spook/template_extraction.py
  tests/test_entity_suggestions.py
  tests/test_repairs_suggestions.py
Due: ruff-check, ruff-format, pylint

Keep the warmed suggestions when the cache moves under them
  custom_components/spook/entity_suggestions.py
  tests/test_repairs_suggestions.py
Due: ruff-check, ruff-format, pylint

Stop repair inspections stalling the event loop (#1675)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/entity_suggestions.py
  custom_components/spook/repairs.py
  custom_components/spook/template_extraction.py
  tests/test_entity_suggestions.py
  tests/test_repairs_suggestions.py
Due: ruff-check, ruff-format, pylint

Let a statistic settle before calling it abandoned
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
Due: ruff-check, ruff-format, pylint

Let a statistic settle before calling it abandoned (#1677)
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
Due: ruff-check, ruff-format, pylint

Let a snoozed automation finish what it was doing
  custom_components/spook/timed_states.py
  documentation/integrations/automation.md
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Let a snoozed automation finish what it was doing (#1678)
  custom_components/spook/timed_states.py
  documentation/integrations/automation.md
  tests/test_timed_states.py
Due: ruff-check, ruff-format, pylint

Tell two sets of findings apart in every case they differ
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/repairs.py
  tests/ectoplasms/script/repairs/test_unknown_platform_references.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Say which entity a helper is, not only what it is called
  .prettierignore
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
  tests/test_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Say which entity a helper is, not only what it is called (#1680)
  .prettierignore
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
  tests/test_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Weigh a blueprint the way a real installation has it
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Weigh a blueprint the way a real installation has it (#1681)
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Follow hassfest to where master went
  .github/workflows/hassfest.yaml
Due: check-yaml

Follow hassfest to where master went (#1683)
  .github/workflows/hassfest.yaml
Due: check-yaml

Offer to clear the statistics rather than point at a page
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/repairs.py
  custom_components/spook/statistics_sources.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Wait for the recorder to say the statistics are gone
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Ask the fix the same question the report asked
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/repairs.py
  custom_components/spook/statistics_sources.py
  custom_components/spook/translations/en.json
  documentation/integrations/recorder.md
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Watch for a sensor coming back, rather than inferring it from snapshots
  custom_components/spook/__init__.py
  custom_components/spook/statistics_sources.py
  documentation/integrations/recorder.md
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics_flow.py
Due: ruff-check, ruff-format, pylint

Throw the waits away when nobody is watching them
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics_flow.py
Due: ruff-check, ruff-format, pylint

Be watching before anything starts a wait, and watch both ways in
  custom_components/spook/__init__.py
  custom_components/spook/statistics_sources.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics_flow.py
Due: ruff-check, ruff-format, pylint

Check the issue really carries what the fix is dispatched on
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
Due: ruff-check, ruff-format, pylint

Offer to clear the statistics rather than point at a page (#1682)
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/repairs.py
  custom_components/spook/statistics_sources.py
  custom_components/spook/translations/en.json
  documentation/integrations/recorder.md
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics.py
  tests/ectoplasms/recorder/repairs/test_orphaned_statistics_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Update translation files
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sk.json
  custom_components/spook/translations/sr-Latn.json
  custom_components/spook/translations/sr.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
