Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Translated using Weblate (Lithuanian)
  custom_components/spook/translations/lt.json
Due: check-json

Translated using Weblate (Vietnamese)
  custom_components/spook/translations/vi.json
Due: check-json

Translated using Weblate (Ukrainian)
  custom_components/spook/translations/uk.json
Due: check-json

Translated using Weblate (Russian)
  custom_components/spook/translations/ru.json
Due: check-json

Translated using Weblate (Indonesian)
  custom_components/spook/translations/id.json
Due: check-json

Translated using Weblate (Spanish (Latin America))
  custom_components/spook/integrations/spook_calibration/translations/es_419.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Say it in two sentences
  documentation/integrations/repairs.md
Due: none

Update repairs documentation for issue ID and domain handling (#1830)
  documentation/integrations/repairs.md
Due: none

Treat notification tags and logger names as plain text (#1832)
  custom_components/spook/action_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Add Spook's state trigger (#1822)
  custom_components/spook/ectoplasms/spook/triggers/state_changed.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_state_changed.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Start every release draft with a place for the notes
  .github/release-drafter.yml
Due: check-yaml

Start every release draft with a place for the notes (#1862)
  .github/release-drafter.yml
Due: check-yaml

Leave ha-floorplan's own actions to the card
  custom_components/spook/dashboard_extraction.py
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, pylint

Only leave floorplan actions alone inside ha-floorplan
  custom_components/spook/dashboard_extraction.py
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, pylint

Treat what substring and pattern tests look for as text
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Leave ha-floorplan's own actions to the card (#1863)
  custom_components/spook/dashboard_extraction.py
  tests/test_dashboard_extraction.py
Due: ruff-check, ruff-format, pylint

Keep contains on select a reference, look through grouping brackets
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Count a state object's other string attributes for contains
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Let a restored blueprint offer wait for the source to say it again
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Treat what substring and pattern tests look for as text (#1864)
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Let a restored blueprint offer wait for the source to say it again (#1865)
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Translate Spook's actions in every profile language
  custom_components/spook/services.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Share one injection per language, and stop following on unload at once
  custom_components/spook/services.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Reinject into a language still on its first injection too
  custom_components/spook/services.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Translate Spook's actions in every profile language (#1866)
  custom_components/spook/services.py
  tests/test_service_translations.py
Due: ruff-check, ruff-format, pylint

Bring Spook's brand images along, with a version for light mode
  custom_components/spook/brand/dark_icon.png
  custom_components/spook/brand/dark_icon@2x.png
  custom_components/spook/brand/dark_logo.png
  custom_components/spook/brand/dark_logo@2x.png
  custom_components/spook/brand/icon.png
  custom_components/spook/brand/icon@2x.png
  custom_components/spook/brand/logo.png
  custom_components/spook/brand/logo@2x.png
  custom_components/spook/integrations/spook_calibration/brand
  custom_components/spook/integrations/spook_inverse/brand
  custom_components/spook/integrations/spook_time_in_state/brand
  tests/test_brand.py
Due: ruff-check, ruff-format, pylint

Bring Spook's brand images along, with a version for light mode (#1867)
  custom_components/spook/brand/dark_icon.png
  custom_components/spook/brand/dark_icon@2x.png
  custom_components/spook/brand/dark_logo.png
  custom_components/spook/brand/dark_logo@2x.png
  custom_components/spook/brand/icon.png
  custom_components/spook/brand/icon@2x.png
  custom_components/spook/brand/logo.png
  custom_components/spook/brand/logo@2x.png
  custom_components/spook/integrations/spook_calibration/brand
  custom_components/spook/integrations/spook_inverse/brand
  custom_components/spook/integrations/spook_time_in_state/brand
  tests/test_brand.py
Due: ruff-check, ruff-format, pylint

Add a condition for an entity being available
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/is_available.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_is_available.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Point to the trigger that does measure time away
  documentation/other_features.md
Due: none

Leave out only disabled entities, not every one without a state
  custom_components/spook/ectoplasms/spook/conditions/is_available.py
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_is_available.py
Due: ruff-check, ruff-format, pylint

Add a condition for an entity being available (#1868)
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/is_available.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_is_available.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Ship an agent skill that knows Spook
  .claude-plugin/marketplace.json
  README.md
  plugins/spook/.claude-plugin/plugin.json
  plugins/spook/skills/spook/SKILL.md
  plugins/spook/skills/spook/references/actions.md
  plugins/spook/skills/spook/references/conditions.md
  plugins/spook/skills/spook/references/repairs.md
  plugins/spook/skills/spook/references/triggers.md
  pyproject.toml
  script/generate_skill.py
  tests/test_skill.py
Due: ruff-check, ruff-format, check-json, check-toml, pylint

Give AI assistants tools to hunt ghosts with Spook
  custom_components/spook/draft_checking.py
  custom_components/spook/llm.py
  custom_components/spook/usage_finding.py
  documentation/_toc.yml
  documentation/assistants.md
  documentation/features.md
  tests/test_llm.py
Due: ruff-check, ruff-format, check-yaml, pylint

Keep the tools out of Home Assistant 2026.8 and 2026.9
  custom_components/spook/llm.py
  custom_components/spook/llm_tools.py
  tests/test_llm.py
Due: ruff-check, ruff-format, pylint

Say which actions answer, read and write in UTF-8, clear old references
  plugins/spook/skills/spook/SKILL.md
  plugins/spook/skills/spook/references/actions.md
  script/generate_skill.py
  tests/test_skill.py
Due: ruff-check, ruff-format, pylint

Follow inherited names and responses when describing actions
  plugins/spook/skills/spook/references/actions.md
  script/generate_skill.py
  tests/test_skill.py
Due: ruff-check, ruff-format, pylint

Offer only the fixes a flow offers, and find usages in every helper
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/helper_sources.py
  custom_components/spook/llm_tools.py
  custom_components/spook/usage_finding.py
  documentation/assistants.md
  tests/test_llm.py
Due: ruff-check, ruff-format, pylint

Only clear references the generator wrote itself
  script/generate_skill.py
  tests/test_skill.py
Due: ruff-check, ruff-format, pylint

Give AI assistants tools to hunt ghosts with Spook (#1870)
  custom_components/spook/action_extraction.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/template/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/template/repairs/unknown_service_references.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/helper_sources.py
  custom_components/spook/llm.py
  custom_components/spook/llm_tools.py
  custom_components/spook/usage_finding.py
  documentation/_toc.yml
  documentation/assistants.md
  documentation/features.md
  tests/test_llm.py
Due: ruff-check, ruff-format, check-yaml, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
