Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Translated using Weblate (Albanian)
  custom_components/spook/translations/sq.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Translated using Weblate (Tamil)
  custom_components/spook/translations/ta.json
Due: check-json

Translated using Weblate (Telugu)
  custom_components/spook/translations/te.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh-Hans.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (Russian)
  custom_components/spook/translations/ru.json
Due: check-json

Fix false positive: notify.* service names in third-party data payloads
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Apply notify.* filter to the bare-string data branch too
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Fix known floor IDs defaulting to label IDs
  custom_components/spook/entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Fix known floor IDs defaulting to label IDs (#1340)
  custom_components/spook/entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Fix garbled debug logging in script reference repairs
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  tests/test_logging_format.py
Due: ruff-check, ruff-format, pylint

Fix garbled debug logging in script reference repairs (#1341)
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  tests/test_logging_format.py
Due: ruff-check, ruff-format, pylint

Clean up repair issues for removed items reliably
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Fix broken edit links for YAML items without an ID
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/repairs.py
  tests/ectoplasms/scene/__init__.py
  tests/ectoplasms/scene/repairs/__init__.py
  tests/ectoplasms/scene/repairs/test_unknown_entity_references.py
  tests/test_repairs_edit_url.py
Due: ruff-check, ruff-format, pylint

Fix broken edit links for YAML items without an ID (#1343)
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/repairs.py
  tests/ectoplasms/scene/__init__.py
  tests/ectoplasms/scene/repairs/__init__.py
  tests/ectoplasms/scene/repairs/test_unknown_entity_references.py
  tests/test_repairs_edit_url.py
Due: ruff-check, ruff-format, pylint

Address review: survive failing inspections, clean up pre-restart leftovers
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Clean up repair issues for removed items reliably (#1342)
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Add regression test for templated action names in service repairs
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Add regression test for templated action names in service repairs (#1344)
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Fix repair issue cleanup on unload never matching
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Fix repair issue cleanup on unload never matching (#1345)
  custom_components/spook/repairs.py
  tests/test_repairs_cleanup.py
Due: ruff-check, ruff-format, pylint

Isolate setup failures so one broken feature cannot take down Spook
  custom_components/spook/repairs.py
  custom_components/spook/services.py
  custom_components/spook/setup_helpers.py
  tests/test_setup_isolation.py
Due: ruff-check, ruff-format, pylint

Add end-to-end repairs test and reset cache state between tests
  tests/conftest.py
  tests/test_e2e_repairs.py
Due: ruff-check, ruff-format, pylint

Add end-to-end repairs test and reset cache state between tests (#1347)
  tests/conftest.py
  tests/test_e2e_repairs.py
Due: ruff-check, ruff-format, pylint

Address review: restore overridden service when registration fails
  custom_components/spook/services.py
  tests/test_setup_isolation.py
Due: ruff-check, ruff-format, pylint

Isolate setup failures so one broken feature cannot take down Spook (#1346)
  custom_components/spook/repairs.py
  custom_components/spook/services.py
  custom_components/spook/setup_helpers.py
  tests/test_setup_isolation.py
Due: ruff-check, ruff-format, pylint

Add Home Assistant dev canary and helper repair smoke tests
  .github/workflows/tests-ha-dev.yml
  tests/test_helper_source_repairs_smoke.py
Due: ruff-check, ruff-format, check-yaml, pylint

Add Home Assistant dev canary and helper repair smoke tests (#1348)
  .github/workflows/tests-ha-dev.yml
  tests/test_helper_source_repairs_smoke.py
Due: ruff-check, ruff-format, check-yaml, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
