Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Keep the card placeholder out of the shared set
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/entity_filtering.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

config.entity is a card's own entity, not one of yours (#1546)
  custom_components/spook/dashboard_extraction.py
  custom_components/spook/entity_filtering.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Only report things shaped like a device ID
  custom_components/spook/entity_filtering.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/ectoplasms/automation/repairs/test_template_device_references.py
  tests/test_device_id_shape.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Only report things shaped like a device ID (#1547)
  custom_components/spook/entity_filtering.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/ectoplasms/automation/repairs/test_template_device_references.py
  tests/test_device_id_shape.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Fingerprint what a blueprint says, not how it is written
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Keep mapping order, and let every kind say what it is
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Keys are values too
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Survive what YAML hands back and JSON has never heard of
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Test the awkward values where they actually turn up
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Say that reordering keys counts
  documentation/integrations/blueprint.md
Due: none

Pin why the encoding may recurse without a guard
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Fingerprint what a blueprint says, not how it is written (#1556)
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Do not iterate the entity list while handing back control
  custom_components/spook/repairs.py
  tests/test_repairs_yields.py
Due: ruff-check, ruff-format, pylint

Do not iterate the entity list while handing back control (#1559)
  custom_components/spook/repairs.py
  tests/test_repairs_yields.py
Due: ruff-check, ruff-format, pylint

Give the triggers and conditions an icon
  custom_components/spook/icons.json
  tests/test_icons.py
Due: ruff-check, ruff-format, check-json, pylint

A dog for the watchdog, a broken trophy for the failure
  custom_components/spook/icons.json
Due: check-json

A bird for the flapping
  custom_components/spook/icons.json
Due: check-json

A cheerful robot
  custom_components/spook/icons.json
Due: check-json

A gravestone for the one that went quiet
  custom_components/spook/icons.json
Due: check-json

Give the triggers and conditions an icon (#1560)
  custom_components/spook/icons.json
  tests/test_icons.py
Due: ruff-check, ruff-format, check-json, pylint

Name a blueprint update after the blueprint
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/integrations/spook_inverse/translations/sr_Latn.json
Due: check-json

Keep the registration when the old device goes
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Name a blueprint update after the blueprint (#1561)
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/conftest.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Drop the update entities of blueprints that are gone
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Keep a copy of a blueprint before writing over it
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Say where the copies go
  documentation/integrations/blueprint.md
Due: none

Say what a blueprint update changes, in words
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Name what is built on a blueprint before it gets written over
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Say one name per thing in the update dialog
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Put the difference itself in the dialog, and a refusal first
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Refuse only what nobody can get out of
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Stop the dialog inventing an answer it does not have
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Three more from a second look
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Do not let a blueprint's author write in Spook's voice
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Say what is known apart from what is not
  custom_components/spook/ectoplasms/blueprint/update.py
  documentation/integrations/blueprint.md
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
