Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Use event-payload PR label verification
  .github/workflows/pr-labels.yaml
Due: check-yaml

Use event-payload PR label verification (#1279)
  .github/workflows/pr-labels.yaml
Due: check-yaml

Add ectoplasm discovery contract tests (#1278)
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, pylint

Redirect repairs to the first view with unknown entities (#1172)
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Test inverse helper migration through setup
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Move inverse test linking to fixture
  tests/integrations/spook_inverse/conftest.py
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Fix inverse helper device linking (breaks in HA 2026.8) (#1227)
  custom_components/spook/integrations/spook_inverse/__init__.py
  custom_components/spook/integrations/spook_inverse/binary_sensor.py
  custom_components/spook/integrations/spook_inverse/config_flow.py
  custom_components/spook/integrations/spook_inverse/entity.py
  custom_components/spook/integrations/spook_inverse/switch.py
  tests/integrations/__init__.py
  tests/integrations/spook_inverse/__init__.py
  tests/integrations/spook_inverse/conftest.py
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Add sensor for todo entities (#1116)
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/translations/en.json
  documentation/devices_entities.md
Due: ruff-check, ruff-format, check-json, pylint

Fix catalan translations (#1265)
  custom_components/spook/translations/ca.json
Due: check-json

Update Czech translations
  custom_components/spook/translations/cs.json
Due: check-json

Fix Swedish area translation wording
  custom_components/spook/translations/sv.json
Due: check-json

Add regression test for sorted dashboard repair entities
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

sort the entity list in the unknown entity repair message for dashboards (#1163)
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Fix Swedish translations in sv.json (#1229)
  custom_components/spook/translations/sv.json
Due: check-json

Update Czech translations for automation errors
  custom_components/spook/translations/cs.json
Due: check-json

fix: Correct placeholders in Finnish translation
  custom_components/spook/translations/fi.json
Due: check-json

Add files via upload
  custom_components/spook/translations/sv.json
Due: check-json

Fix Czech translations for automation errors (#1207)
  custom_components/spook/translations/cs.json
Due: check-json

Fix placeholders in Finnish translation (#1166)
  custom_components/spook/translations/fi.json
Due: check-json

Improve Swedish repair translations (#1159)
  custom_components/spook/translations/sv.json
Due: check-json

Add input number service tests
  custom_components/spook/ectoplasms/input_number/services/create.py
  custom_components/spook/ectoplasms/input_number/services/delete.py
  tests/ectoplasms/input_number/__init__.py
  tests/ectoplasms/input_number/services/__init__.py
  tests/ectoplasms/input_number/services/test_create.py
  tests/ectoplasms/input_number/services/test_delete.py
Due: ruff-check, ruff-format, pylint

Add create and delete services for input number helpers (#1222)
  custom_components/spook/ectoplasms/input_number/services/create.py
  custom_components/spook/ectoplasms/input_number/services/delete.py
  custom_components/spook/services.yaml
  documentation/images/integrations/input_number/create.png
  documentation/images/integrations/input_number/delete.png
  documentation/integrations/input_number.md
  tests/ectoplasms/input_number/__init__.py
  tests/ectoplasms/input_number/services/__init__.py
  tests/ectoplasms/input_number/services/test_create.py
  tests/ectoplasms/input_number/services/test_delete.py
Due: ruff-check, ruff-format, check-yaml, pylint

Rename action from hide_entity to update_entity_id (#1120)
  documentation/actions.md
Due: none

Add tests for user services
  tests/ectoplasms/homeassistant/__init__.py
  tests/ectoplasms/homeassistant/services/__init__.py
  tests/ectoplasms/homeassistant/services/test_user.py
Due: ruff-check, ruff-format, pylint

Add user enable and disable actions (#1187)
  custom_components/spook/ectoplasms/homeassistant/services/disable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_user.py
  custom_components/spook/services.yaml
  documentation/_toc.yml
  documentation/actions.md
  documentation/users.md
  tests/ectoplasms/homeassistant/__init__.py
  tests/ectoplasms/homeassistant/services/__init__.py
  tests/ectoplasms/homeassistant/services/test_user.py
Due: ruff-check, ruff-format, check-yaml, pylint

Fix translated placeholders
  custom_components/spook/translations/af.json
  custom_components/spook/translations/da.json
  custom_components/spook/translations/he.json
  custom_components/spook/translations/hr.json
  custom_components/spook/translations/ja.json
  custom_components/spook/translations/nb.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/sk.json
  custom_components/spook/translations/th.json
  custom_components/spook/translations/tr.json
  tests/test_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Fix translated placeholders in translations (#1280)
  custom_components/spook/translations/af.json
  custom_components/spook/translations/da.json
  custom_components/spook/translations/he.json
  custom_components/spook/translations/hr.json
  custom_components/spook/translations/ja.json
  custom_components/spook/translations/nb.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/sk.json
  custom_components/spook/translations/th.json
  custom_components/spook/translations/tr.json
  tests/test_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Fix fired one-time listener cleanup
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/ectoplasms/repairs/sensor.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/listeners.py
  tests/test_listeners.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Fix fired one-time listener cleanup (#1281)
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/ectoplasms/repairs/sensor.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/listeners.py
  tests/test_listeners.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Ignore notify targets in automation entity checks
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Ignore concatenated template entity fragments
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Preserve static concatenated template entities
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Update Chinese translation
  custom_components/spook/ectoplasms/repairs/event.py
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
Due: ruff-check, ruff-format, check-json, pylint

Ignore concatenated template entity fragments (#1284)
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Ignore notify targets in automation entity checks (#1283)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/translations/nb.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Fix Norwegian placeholder parity
  custom_components/spook/translations/nb.json
Due: check-json
