Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Translated using Weblate (Spanish)
  custom_components/spook/integrations/spook_inverse/translations/es.json
Due: check-json

Add Spook's state trigger
  custom_components/spook/ectoplasms/spook/triggers/state_changed.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_state_changed.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Refuse first and all without a state to get to, and keep a blip's own change
  custom_components/spook/ectoplasms/spook/triggers/state_changed.py
  custom_components/spook/translations/en.json
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_state_changed.py
Due: ruff-check, ruff-format, check-json, pylint

Let to name a quiet state, and drop a blip that left the target
  custom_components/spook/ectoplasms/spook/triggers/state_changed.py
  tests/ectoplasms/spook/triggers/test_state_changed.py
Due: ruff-check, ruff-format, pylint

Treat attribute values as values, and only skip a blip the filters ask for
  custom_components/spook/ectoplasms/spook/triggers/state_changed.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_state_changed.py
Due: ruff-check, ruff-format, pylint

Set up Spook without restarting Home Assistant
  custom_components/spook/__init__.py
  custom_components/spook/config_flow.py
  custom_components/spook/core_compat.py
  custom_components/spook/integration_linking.py
  custom_components/spook/translations/en.json
  tests/test_config_flow.py
  tests/test_core_compat.py
  tests/test_e2e_repairs.py
  tests/test_setup.py
Due: ruff-check, ruff-format, check-json, pylint

Drop a stray word from the restart log message
  custom_components/spook/__init__.py
Due: ruff-check, ruff-format, pylint

Only restart for helpers never tried, not for ones that failed
  custom_components/spook/__init__.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Reword the waiting entries docstring
  custom_components/spook/__init__.py
Due: ruff-check, ruff-format, pylint

Set up Spook without restarting Home Assistant (#1828)
  custom_components/spook/__init__.py
  custom_components/spook/config_flow.py
  custom_components/spook/core_compat.py
  custom_components/spook/integration_linking.py
  custom_components/spook/translations/en.json
  tests/test_config_flow.py
  tests/test_core_compat.py
  tests/test_e2e_repairs.py
  tests/test_setup.py
Due: ruff-check, ruff-format, check-json, pylint

Update repairs documentation for issue ID handling
  documentation/integrations/repairs.md
Due: none

Update documentation/integrations/repairs.md
  documentation/integrations/repairs.md
Due: none

Treat notification tags and logger names as plain text
  custom_components/spook/action_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Give the setup flow a friendlier voice
  custom_components/spook/config_flow.py
  custom_components/spook/const.py
  custom_components/spook/translations/en.json
  tests/test_config_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Give the setup flow a friendlier voice (#1833)
  custom_components/spook/config_flow.py
  custom_components/spook/const.py
  custom_components/spook/translations/en.json
  tests/test_config_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Ask for a star in the README, docs and release notes
  .github/release-drafter.yml
  README.md
  documentation/myst.yml
Due: check-yaml

Ask for a star in the README, docs and release notes (#1836)
  .github/release-drafter.yml
  README.md
  documentation/myst.yml
Due: check-yaml

Modernize the issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: check-yaml

Modernize the issue template (#1837)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: check-yaml

Make Spook's devices say they are Spook's
  custom_components/spook/ectoplasms/homeassistant/entity.py
  custom_components/spook/ectoplasms/repairs/entity.py
  tests/test_spook_devices.py
Due: ruff-check, ruff-format, pylint

Make Spook's devices say they are Spook's (#1839)
  custom_components/spook/ectoplasms/homeassistant/entity.py
  custom_components/spook/ectoplasms/repairs/entity.py
  tests/test_spook_devices.py
Due: ruff-check, ruff-format, pylint

Tell System information how Spook is doing
  custom_components/spook/integration_linking.py
  custom_components/spook/system_health.py
  custom_components/spook/translations/en.json
  tests/test_system_health.py
Due: ruff-check, ruff-format, check-json, pylint

Only count a link to Spook's own copy as linked
  custom_components/spook/integration_linking.py
  tests/test_system_health.py
Due: ruff-check, ruff-format, pylint

Tell System information how Spook is doing (#1840)
  custom_components/spook/integration_linking.py
  custom_components/spook/system_health.py
  custom_components/spook/translations/en.json
  tests/test_system_health.py
Due: ruff-check, ruff-format, check-json, pylint

Add diagnostics to Spook
  custom_components/spook/diagnostics.py
  tests/test_diagnostics.py
Due: ruff-check, ruff-format, pylint

Leave the issue ID out of the diagnostics, it can hold names too
  custom_components/spook/diagnostics.py
  tests/test_diagnostics.py
Due: ruff-check, ruff-format, pylint

Add diagnostics to Spook (#1841)
  custom_components/spook/diagnostics.py
  tests/test_diagnostics.py
Due: ruff-check, ruff-format, pylint

Keep the outer service when action data has a service field
  custom_components/spook/action_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Link each repair to where the documentation explains it
  custom_components/spook/repair_documentation.py
  custom_components/spook/repairs.py
  tests/test_repair_documentation.py
Due: ruff-check, ruff-format, pylint

Link each repair to where the documentation explains it (#1844)
  custom_components/spook/repair_documentation.py
  custom_components/spook/repairs.py
  tests/test_repair_documentation.py
Due: ruff-check, ruff-format, pylint

Give Spook's actions their own icons
  custom_components/spook/icons.json
  custom_components/spook/service_icons.py
  custom_components/spook/services.py
  tests/test_service_icons.py
Due: ruff-check, ruff-format, check-json, pylint

Check every layer of the icon cache, not only the outer one
  custom_components/spook/service_icons.py
  tests/test_service_icons.py
Due: ruff-check, ruff-format, pylint

Check Spook's own icons too, before handing them out
  custom_components/spook/service_icons.py
  tests/test_service_icons.py
Due: ruff-check, ruff-format, pylint

Give Spook's actions their own icons (#1845)
  custom_components/spook/icons.json
  custom_components/spook/service_icons.py
  custom_components/spook/services.py
  tests/test_service_icons.py
Due: ruff-check, ruff-format, check-json, pylint

Translate the errors of Spook's Home Assistant actions
  custom_components/spook/ectoplasms/homeassistant/categories.py
  custom_components/spook/ectoplasms/homeassistant/entity_registry_entries.py
  custom_components/spook/ectoplasms/homeassistant/labels.py
  custom_components/spook/ectoplasms/homeassistant/services/__init__.py
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/add_area_to_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/add_category_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/add_device_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_entity_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_polling.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_polling.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_category_from_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/restart.py
  custom_components/spook/ectoplasms/homeassistant/services/set_area_aliases.py
  custom_components/spook/ectoplasms/homeassistant/services/set_floor_aliases.py
  custom_components/spook/ectoplasms/homeassistant/services/update_category.py
  custom_components/spook/ectoplasms/homeassistant/services/update_label.py
  custom_components/spook/errors.py
  custom_components/spook/translations/en.json
  tests/conftest.py
  tests/ectoplasms/homeassistant/services/test_area_floor.py
  tests/ectoplasms/homeassistant/services/test_category_services.py
  tests/ectoplasms/homeassistant/services/test_config_entries_by_domain.py
  tests/ectoplasms/homeassistant/services/test_entity_icon_aliases.py
  tests/ectoplasms/homeassistant/services/test_label_services.py
  tests/ectoplasms/homeassistant/services/test_update_label.py
  tests/ectoplasms/homeassistant/services/test_user.py
  tests/ectoplasms/homeassistant/services/test_voice_assistant_exposure.py
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Translate the errors of Spook's Home Assistant actions (#1846)
  custom_components/spook/ectoplasms/homeassistant/categories.py
  custom_components/spook/ectoplasms/homeassistant/entity_registry_entries.py
  custom_components/spook/ectoplasms/homeassistant/labels.py
  custom_components/spook/ectoplasms/homeassistant/services/__init__.py
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/add_area_to_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/add_category_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/add_device_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_entity_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_polling.py
  custom_components/spook/ectoplasms/homeassistant/services/disable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_polling.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_floor.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_category_from_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/restart.py
  custom_components/spook/ectoplasms/homeassistant/services/set_area_aliases.py
  custom_components/spook/ectoplasms/homeassistant/services/set_floor_aliases.py
  custom_components/spook/ectoplasms/homeassistant/services/update_category.py
  custom_components/spook/ectoplasms/homeassistant/services/update_label.py
  custom_components/spook/errors.py
  custom_components/spook/translations/en.json
  tests/conftest.py
  tests/ectoplasms/homeassistant/services/test_area_floor.py
  tests/ectoplasms/homeassistant/services/test_category_services.py
  tests/ectoplasms/homeassistant/services/test_config_entries_by_domain.py
  tests/ectoplasms/homeassistant/services/test_entity_icon_aliases.py
  tests/ectoplasms/homeassistant/services/test_label_services.py
  tests/ectoplasms/homeassistant/services/test_update_label.py
  tests/ectoplasms/homeassistant/services/test_user.py
  tests/ectoplasms/homeassistant/services/test_voice_assistant_exposure.py
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Translate the errors of importing and updating blueprints
  custom_components/spook/ectoplasms/blueprint/services/importer.py
  custom_components/spook/ectoplasms/blueprint/update.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, check-json, pylint

Translate the errors of importing and updating blueprints (#1847)
  custom_components/spook/ectoplasms/blueprint/services/importer.py
  custom_components/spook/ectoplasms/blueprint/update.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, check-json, pylint

Let the energy repair take unknown entities out for you
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/energy_preferences.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  documentation/integrations/energy.md
  tests/ectoplasms/energy/repairs/test_unknown_references.py
  tests/ectoplasms/energy/repairs/test_unknown_references_flow.py
  tests/test_energy_preferences.py
Due: ruff-check, ruff-format, check-json, pylint

Let the energy repair take unknown entities out for you (#1848)
  custom_components/spook/ectoplasms/energy/repairs/unknown_references.py
  custom_components/spook/energy_preferences.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  documentation/integrations/energy.md
  tests/ectoplasms/energy/repairs/test_unknown_references.py
  tests/ectoplasms/energy/repairs/test_unknown_references_flow.py
  tests/test_energy_preferences.py
Due: ruff-check, ruff-format, check-json, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
