Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Do not go looking inside a filter (#1519)
  custom_components/spook/dashboard_extraction.py
  tests/test_filter_subtrees.py
  tests/test_never_an_entity.py
  tests/test_pattern_references.py
Due: ruff-check, ruff-format, pylint

Drop the dead entities repair, which cannot tell the difference
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/en.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, check-json, pylint

Drop the dead entities repair, which cannot tell the difference (#1522)
  custom_components/spook/ectoplasms/homeassistant/repairs/dead_entities.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/en.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_dead_entities.py
Due: ruff-check, ruff-format, check-json, pylint

A template condition is a condition, not the name of one
  custom_components/spook/reference_extraction.py
  tests/test_shorthand_conditions.py
Due: ruff-check, ruff-format, pylint

Count a Jinja comment as a template, because Home Assistant does
  custom_components/spook/template_extraction.py
  tests/test_shorthand_conditions.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

A template condition is a condition, not the name of one (#1525)
  custom_components/spook/reference_extraction.py
  custom_components/spook/template_extraction.py
  tests/test_shorthand_conditions.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

It is Settings > Tools now, everywhere
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/translations/en.json
  documentation/areas.md
  documentation/devices.md
  documentation/entities.md
  documentation/floors.md
  documentation/glossary.md
  documentation/integrations.md
  documentation/integrations/automation.md
  documentation/integrations/blueprint.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/light.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/recorder.md
  documentation/integrations/repairs.md
  documentation/integrations/select.md
  documentation/integrations/timer.md
  documentation/integrations/zone.md
  documentation/labels.md
  documentation/misc.md
  documentation/other_features.md
  documentation/usage.md
  documentation/users.md
  tests/test_retired_names.py
Due: ruff-check, ruff-format, check-json, pylint

Catch the old name with a word wedged in the middle
  documentation/areas.md
  documentation/floors.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/select.md
  documentation/labels.md
  tests/test_retired_names.py
Due: ruff-check, ruff-format, pylint

Fix wording and a gap the rename review found
  documentation/integrations.md
  documentation/integrations/recorder.md
  documentation/usage.md
  tests/test_retired_names.py
Due: ruff-check, ruff-format, pylint

Correct captions that named the wrong action
  documentation/areas.md
  documentation/devices.md
  documentation/entities.md
  documentation/floors.md
  documentation/integrations.md
  documentation/labels.md
Due: none

It is Settings > Tools now, everywhere (#1527)
  custom_components/spook/ectoplasms/recorder/repairs/orphaned_statistics.py
  custom_components/spook/translations/en.json
  documentation/areas.md
  documentation/devices.md
  documentation/entities.md
  documentation/floors.md
  documentation/glossary.md
  documentation/integrations.md
  documentation/integrations/automation.md
  documentation/integrations/blueprint.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/light.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/recorder.md
  documentation/integrations/repairs.md
  documentation/integrations/select.md
  documentation/integrations/timer.md
  documentation/integrations/zone.md
  documentation/labels.md
  documentation/misc.md
  documentation/other_features.md
  documentation/usage.md
  documentation/users.md
  tests/test_retired_names.py
Due: ruff-check, ruff-format, check-json, pylint

Add an action to update a label
  custom_components/spook/ectoplasms/homeassistant/labels.py
  custom_components/spook/ectoplasms/homeassistant/services/create_label.py
  custom_components/spook/ectoplasms/homeassistant/services/update_label.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/labels.md
  tests/ectoplasms/homeassistant/services/test_label_colors.py
  tests/ectoplasms/homeassistant/services/test_update_label.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Five from the review
  custom_components/spook/ectoplasms/homeassistant/services/create_label.py
  custom_components/spook/ectoplasms/homeassistant/services/update_label.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/labels.md
  tests/ectoplasms/homeassistant/services/test_label_services.py
  tests/ectoplasms/homeassistant/services/test_update_label.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Document the sensor integration
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/sensor.md
Due: check-yaml

Say which fields take a null
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/services/test_update_label.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Put the nullable types in the table too
  documentation/labels.md
Due: none

Add an action to update a label (#1530)
  custom_components/spook/ectoplasms/homeassistant/labels.py
  custom_components/spook/ectoplasms/homeassistant/services/create_label.py
  custom_components/spook/ectoplasms/homeassistant/services/update_label.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/labels.md
  tests/ectoplasms/homeassistant/services/test_label_colors.py
  tests/ectoplasms/homeassistant/services/test_label_services.py
  tests/ectoplasms/homeassistant/services/test_update_label.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Fill the holes in the documentation index
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/entities.md
Due: none

Make the documentation index check itself
  documentation/actions.md
  tests/test_documentation_index.py
Due: ruff-check, ruff-format, pylint

Document the sensor integration (#1533)
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/sensor.md
Due: check-yaml

Fill the holes in the documentation index (#1535)
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/entities.md
  tests/test_documentation_index.py
Due: ruff-check, ruff-format, pylint

Notice a dashboard resource listed twice
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
Due: ruff-check, ruff-format, check-json, pylint

Name the resource the way it is listed
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  documentation/actions.md
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
Due: ruff-check, ruff-format, pylint

Do not assume Lovelace is up yet
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
  tests/ectoplasms/lovelace/repairs/test_missing_resources.py
Due: ruff-check, ruff-format, pylint

Offer to clear the duplicated resources
  custom_components/spook/dashboard_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Undo a guard that was worse than the crash it prevented
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  custom_components/spook/repairs.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources_flow.py
  tests/ectoplasms/lovelace/repairs/test_missing_resources.py
  tests/test_fix_flow_placeholders.py
Due: ruff-check, ruff-format, pylint

Catch what the collection actually raises
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources_flow.py
Due: ruff-check, ruff-format, check-json, pylint

Let the flow handle the YAML case
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  documentation/integrations/lovelace.md
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources_flow.py
  tests/test_fix_flow_placeholders.py
Due: ruff-check, ruff-format, check-json, pylint

Two resources are the same only if their type matches too
  custom_components/spook/dashboard_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/repairs.py
  documentation/integrations/lovelace.md
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources_flow.py
Due: ruff-check, ruff-format, pylint

Notice a resource changing, not just a dashboard saving
  custom_components/spook/dashboard_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  tests/ectoplasms/lovelace/repairs/test_resource_watching.py
Due: ruff-check, ruff-format, pylint

Notice a dashboard resource listed twice (#1537)
  custom_components/spook/dashboard_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/duplicate_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/lovelace.md
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources.py
  tests/ectoplasms/lovelace/repairs/test_duplicate_resources_flow.py
  tests/ectoplasms/lovelace/repairs/test_resource_watching.py
  tests/test_fix_flow_placeholders.py
Due: ruff-check, ruff-format, check-json, pylint

Stop the placeholder tests grading their own homework
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Stop the placeholder tests grading their own homework (#1540)
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Being named counts, not just being targeted
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_areas.py
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_floors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_labels.py
  custom_components/spook/reference_extraction.py
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
Due: ruff-check, ruff-format, pylint

Update sr-Latn.json
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Test the half of the collector nobody was testing
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, pylint

Find the IDs buried inside a template
  custom_components/spook/reference_extraction.py
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
Due: ruff-check, ruff-format, pylint

Say what the check proves, which is less than I wrote
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_areas.py
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_floors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_labels.py
  custom_components/spook/reference_extraction.py
Due: ruff-check, ruff-format, pylint

Being named counts, not just being targeted (#1541)
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_areas.py
  custom_components/spook/ectoplasms/homeassistant/repairs/empty_floors.py
  custom_components/spook/ectoplasms/homeassistant/repairs/unused_labels.py
  custom_components/spook/reference_extraction.py
  documentation/integrations/homeassistant.md
  tests/ectoplasms/homeassistant/repairs/test_empty_areas.py
  tests/ectoplasms/homeassistant/repairs/test_empty_floors.py
  tests/ectoplasms/homeassistant/repairs/test_unused_labels.py
Due: ruff-check, ruff-format, pylint

config.entity is a card's own entity, not one of yours
  custom_components/spook/entity_filtering.py
  tests/test_never_an_entity.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
