Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Find the prices in the older grid form too
  custom_components/spook/energy_preferences.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
Due: ruff-check, ruff-format, pylint

Find the prices in the older grid form too (#1850)
  custom_components/spook/energy_preferences.py
  tests/ectoplasms/energy/repairs/test_unknown_references.py
Due: ruff-check, ruff-format, pylint

Translate the errors of Spook's helper actions
  custom_components/spook/ectoplasms/input_number/services/__init__.py
  custom_components/spook/ectoplasms/input_number/services/set_range.py
  custom_components/spook/ectoplasms/number/services/__init__.py
  custom_components/spook/ectoplasms/number/services/max.py
  custom_components/spook/ectoplasms/number/services/min.py
  custom_components/spook/ectoplasms/person/services/add_device_tracker.py
  custom_components/spook/ectoplasms/person/services/remove_device_tracker.py
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/ectoplasms/zone/services/delete.py
  custom_components/spook/ectoplasms/zone/services/update.py
  custom_components/spook/group_members.py
  custom_components/spook/helper_collections.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/counter/services/test_create_delete.py
  tests/ectoplasms/group/services/test_members.py
  tests/ectoplasms/input_boolean/services/test_create_delete.py
  tests/ectoplasms/input_button/services/test_create_delete.py
  tests/ectoplasms/input_datetime/services/test_create_delete.py
  tests/ectoplasms/input_number/services/test_create.py
  tests/ectoplasms/input_number/services/test_delete.py
  tests/ectoplasms/input_number/services/test_increment_decrement.py
  tests/ectoplasms/input_number/services/test_set_range.py
  tests/ectoplasms/input_select/services/test_create_delete.py
  tests/ectoplasms/input_text/services/test_create_delete.py
  tests/ectoplasms/number/services/test_increment_decrement.py
  tests/ectoplasms/timer/services/test_create_delete.py
  tests/ectoplasms/zone/services/test_delete.py
  tests/ectoplasms/zone/services/test_update_home.py
Due: ruff-check, ruff-format, check-json, pylint

Translate the errors of Spook's helper actions (#1851)
  custom_components/spook/ectoplasms/input_number/services/__init__.py
  custom_components/spook/ectoplasms/input_number/services/set_range.py
  custom_components/spook/ectoplasms/number/services/__init__.py
  custom_components/spook/ectoplasms/number/services/max.py
  custom_components/spook/ectoplasms/number/services/min.py
  custom_components/spook/ectoplasms/person/services/add_device_tracker.py
  custom_components/spook/ectoplasms/person/services/remove_device_tracker.py
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/ectoplasms/zone/services/delete.py
  custom_components/spook/ectoplasms/zone/services/update.py
  custom_components/spook/group_members.py
  custom_components/spook/helper_collections.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/counter/services/test_create_delete.py
  tests/ectoplasms/group/services/test_members.py
  tests/ectoplasms/input_boolean/services/test_create_delete.py
  tests/ectoplasms/input_button/services/test_create_delete.py
  tests/ectoplasms/input_datetime/services/test_create_delete.py
  tests/ectoplasms/input_number/services/test_create.py
  tests/ectoplasms/input_number/services/test_delete.py
  tests/ectoplasms/input_number/services/test_increment_decrement.py
  tests/ectoplasms/input_number/services/test_set_range.py
  tests/ectoplasms/input_select/services/test_create_delete.py
  tests/ectoplasms/input_text/services/test_create_delete.py
  tests/ectoplasms/number/services/test_increment_decrement.py
  tests/ectoplasms/timer/services/test_create_delete.py
  tests/ectoplasms/zone/services/test_delete.py
  tests/ectoplasms/zone/services/test_update_home.py
Due: ruff-check, ruff-format, check-json, pylint

Translate the rest of Spook's errors
  custom_components/spook/ectoplasms/calendar/__init__.py
  custom_components/spook/ectoplasms/calendar/services/update_event.py
  custom_components/spook/ectoplasms/sensor/services/set_display_precision.py
  custom_components/spook/ectoplasms/spook/services/boo.py
  custom_components/spook/ectoplasms/spook/services/random_fail.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/all_of.py
  custom_components/spook/ectoplasms/spook/triggers/debounce.py
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/ectoplasms/spook/triggers/watchdog.py
  custom_components/spook/ectoplasms/todo/services/move_item.py
  custom_components/spook/timed_states.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/sensor/services/test_set_display_precision.py
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/ectoplasms/spook/triggers/test_all_of.py
  tests/ectoplasms/spook/triggers/test_debounce.py
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/ectoplasms/spook/triggers/test_watchdog.py
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Pass placeholders as text, and leave the error tests nothing to trust
  custom_components/spook/ectoplasms/calendar/services/update_event.py
  custom_components/spook/ectoplasms/spook/triggers/watchdog.py
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, pylint

Translate the rest of Spook's errors (#1852)
  custom_components/spook/ectoplasms/calendar/__init__.py
  custom_components/spook/ectoplasms/calendar/services/update_event.py
  custom_components/spook/ectoplasms/sensor/services/set_display_precision.py
  custom_components/spook/ectoplasms/spook/services/boo.py
  custom_components/spook/ectoplasms/spook/services/random_fail.py
  custom_components/spook/ectoplasms/spook/services/wait_for_condition.py
  custom_components/spook/ectoplasms/spook/triggers/all_of.py
  custom_components/spook/ectoplasms/spook/triggers/debounce.py
  custom_components/spook/ectoplasms/spook/triggers/sequence.py
  custom_components/spook/ectoplasms/spook/triggers/watchdog.py
  custom_components/spook/ectoplasms/todo/services/move_item.py
  custom_components/spook/timed_states.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/sensor/services/test_set_display_precision.py
  tests/ectoplasms/spook/services/test_wait_for_condition.py
  tests/ectoplasms/spook/triggers/test_all_of.py
  tests/ectoplasms/spook/triggers/test_debounce.py
  tests/ectoplasms/spook/triggers/test_sequence.py
  tests/ectoplasms/spook/triggers/test_watchdog.py
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, check-json, pylint

Hold each translated error to its own integration's texts
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, pylint

Follow a relative import of DOMAIN to the file it names
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, pylint

Hold each translated error to its own integration's texts (#1853)
  tests/test_exception_translations.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (French)
  custom_components/spook/integrations/spook_inverse/translations/fr.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/integrations/spook_calibration/translations/sr.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/integrations/spook_calibration/translations/sr_Latn.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh-Hans.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (English (United Kingdom))
  custom_components/spook/translations/en-GB.json
Due: check-json

Translated using Weblate (Spanish (Latin America))
  custom_components/spook/translations/es-419.json
Due: check-json

Update translation files
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nb.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/nn.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sk.json
  custom_components/spook/translations/sr-Latn.json
  custom_components/spook/translations/sr.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Translations update from Hosted Weblate (#1827)
  custom_components/spook/integrations/spook_inverse/translations/fr.json
Due: check-json

Translate everything still missing in the 13 languages
  custom_components/spook/translations/de.json
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/es-419.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/fi.json
  custom_components/spook/translations/fr.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/nl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/sv.json
  custom_components/spook/translations/zh-Hans.json
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Spell behaviour the British way, and Einddatum with an i
  custom_components/spook/translations/en-GB.json
  custom_components/spook/translations/nl.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
