Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Name the states the update installed trigger passes on
  documentation/other_features.md
Due: none

Add the spook.automation_turned_off trigger
  custom_components/spook/ectoplasms/spook/triggers/automation_turned_off.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_automation_turned_off.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.script_started trigger
  custom_components/spook/ectoplasms/spook/triggers/script_started.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_script_started.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Refuse what is not a target, instead of reading it as every script
  custom_components/spook/ectoplasms/spook/triggers/script_started.py
  tests/ectoplasms/spook/triggers/test_script_started.py
Due: ruff-check, ruff-format, pylint

Refuse what is not a target, instead of reading it as every automation
  custom_components/spook/ectoplasms/spook/triggers/automation_turned_off.py
  tests/ectoplasms/spook/triggers/test_automation_turned_off.py
Due: ruff-check, ruff-format, pylint

Add python_module_path helper for consistent filesystem-to-module conversion
  custom_components/spook/module.py
Due: ruff-check, ruff-format, pylint

Use shared python_module_path helper for platform-independent ectoplasm imports
  custom_components/spook/trigger.py
Due: ruff-check, ruff-format, pylint

Add direct contract test for python_module_path and keep module discovery tests aligned
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, pylint

Use shared python_module_path helper for setup discovery
  custom_components/spook/setup_helpers.py
Due: ruff-check, ruff-format, pylint

Use shared python_module_path helper for condition discovery
  custom_components/spook/condition.py
Due: ruff-check, ruff-format, pylint

Use shared python_module_path helper for service discovery
  custom_components/spook/services.py
Due: ruff-check, ruff-format, pylint

Use shared python_module_path helper for repair discovery
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Add the spook.target_temperature_reached trigger
  custom_components/spook/ectoplasms/spook/triggers/target_temperature_reached.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_target_temperature_reached.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.is_at_target_temperature condition
  custom_components/spook/conditions.yaml
  custom_components/spook/ectoplasms/spook/conditions/is_at_target_temperature.py
  custom_components/spook/ectoplasms/spook/triggers/target_temperature_reached.py
  custom_components/spook/icons.json
  custom_components/spook/temperature_targets.py
  custom_components/spook/translations/en.json
  documentation/conditions.md
  documentation/other_features.md
  tests/ectoplasms/spook/conditions/test_is_at_target_temperature.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.position_reached trigger
  custom_components/spook/ectoplasms/spook/triggers/position_reached.py
  custom_components/spook/icons.json
  custom_components/spook/setpoints.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_position_reached.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Check the entities a script hands over, and its templates
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Leave out entities only a disabled step names
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/ectoplasms/automation/repairs/test_disabled_steps.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Fix a dead HACS link, a stray line, and document cycle
  documentation/entities.md
  documentation/installation.md
  documentation/integrations/input_number.md
Due: none

Leave out devices, areas, floors and labels only a disabled step names
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/reference_extraction.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/ectoplasms/automation/repairs/test_disabled_step_targets.py
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint

Say what the entity and device counters count
  documentation/devices_entities.md
Due: none

Let ignore_all and unignore_all take a domain
  custom_components/spook/ectoplasms/repairs/services/ignore_all.py
  custom_components/spook/ectoplasms/repairs/services/unignore_all.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations/repairs.md
  tests/ectoplasms/repairs/services/test_ignore_all.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Spanish)
  custom_components/spook/integrations/spook_inverse/translations/es.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/integrations/spook_inverse/translations/de.json
Due: check-json

Translated using Weblate (Hungarian)
  custom_components/spook/integrations/spook_inverse/translations/hu.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Hungarian)
  custom_components/spook/integrations/spook_calibration/translations/hu.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Test the blueprint input path through the repair
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Count running templates and single steps when leaving out disabled ones
  custom_components/spook/action_extraction.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  tests/ectoplasms/automation/repairs/test_disabled_steps.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Leave out a single disabled step too, and reword the docs
  custom_components/spook/reference_extraction.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/test_reference_extraction.py
Due: ruff-check, ruff-format, pylint
