Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Translated using Weblate (Albanian)
  custom_components/spook/translations/sq.json
Due: check-json

Translated using Weblate (Slovenian)
  custom_components/spook/translations/sl.json
Due: check-json

Translated using Weblate (Hindi)
  custom_components/spook/translations/hi.json
Due: check-json

Translated using Weblate (Persian)
  custom_components/spook/translations/fa.json
Due: check-json

Translated using Weblate (Latvian)
  custom_components/spook/translations/lv.json
Due: check-json

Translated using Weblate (Armenian)
  custom_components/spook/translations/hy.json
Due: check-json

Translated using Weblate (Arabic)
  custom_components/spook/translations/ar.json
Due: check-json

Translated using Weblate (Belarusian)
  custom_components/spook/translations/be.json
Due: check-json

Translated using Weblate (Bosnian)
  custom_components/spook/translations/bs.json
Due: check-json

Translated using Weblate (Bengali)
  custom_components/spook/translations/bn.json
Due: check-json

Translated using Weblate (Telugu)
  custom_components/spook/translations/te.json
Due: check-json

Translated using Weblate (Norwegian Nynorsk)
  custom_components/spook/translations/nn.json
Due: check-json

Translated using Weblate (Croatian)
  custom_components/spook/translations/hr.json
Due: check-json

Translated using Weblate (Welsh)
  custom_components/spook/translations/cy.json
Due: check-json

Translated using Weblate (Bulgarian)
  custom_components/spook/translations/bg.json
Due: check-json

Translated using Weblate (Maltese)
  custom_components/spook/translations/mt.json
Due: check-json

Translated using Weblate (Romanian)
  custom_components/spook/translations/ro.json
Due: check-json

Translated using Weblate (Georgian)
  custom_components/spook/translations/ka.json
Due: check-json

Translated using Weblate (Luxembourgish)
  custom_components/spook/translations/lb.json
Due: check-json

Translated using Weblate (Esperanto)
  custom_components/spook/translations/eo.json
Due: check-json

Translated using Weblate (Malayalam)
  custom_components/spook/translations/ml.json
Due: check-json

Translated using Weblate (Tamil)
  custom_components/spook/translations/ta.json
Due: check-json

Translated using Weblate (Hungarian)
  custom_components/spook/translations/hu.json
Due: check-json

Translated using Weblate (Afrikaans)
  custom_components/spook/translations/af.json
Due: check-json

Translated using Weblate (Galician)
  custom_components/spook/translations/gl.json
Due: check-json

Update translation files
  custom_components/spook/translations/af.json
  custom_components/spook/translations/ar.json
  custom_components/spook/translations/be.json
  custom_components/spook/translations/bg.json
  custom_components/spook/translations/bn.json
  custom_components/spook/translations/bs.json
  custom_components/spook/translations/cy.json
  custom_components/spook/translations/eo.json
  custom_components/spook/translations/fa.json
  custom_components/spook/translations/gl.json
  custom_components/spook/translations/gsw.json
  custom_components/spook/translations/hi.json
  custom_components/spook/translations/hr.json
  custom_components/spook/translations/hu.json
  custom_components/spook/translations/hy.json
  custom_components/spook/translations/is.json
  custom_components/spook/translations/ka.json
  custom_components/spook/translations/lb.json
  custom_components/spook/translations/lv.json
  custom_components/spook/translations/ml.json
  custom_components/spook/translations/mt.json
  custom_components/spook/translations/nn.json
  custom_components/spook/translations/ro.json
  custom_components/spook/translations/sl.json
  custom_components/spook/translations/sq.json
  custom_components/spook/translations/ta.json
  custom_components/spook/translations/te.json
  custom_components/spook/translations/th.json
  custom_components/spook/translations/ur.json
Due: check-json

Translated using Weblate (Alemannic)
  custom_components/spook/translations/gsw.json
Due: check-json

Translated using Weblate (Icelandic)
  custom_components/spook/translations/is.json
Due: check-json

Translated using Weblate (Thai)
  custom_components/spook/translations/th.json
Due: check-json

Translated using Weblate (Urdu)
  custom_components/spook/translations/ur.json
Due: check-json

Add repairs for unknown attributes used in automations and scripts
  custom_components/spook/attribute_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_attribute_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_attribute_references.py
  custom_components/spook/ectoplasms/spook/triggers/state_changed.py
  custom_components/spook/reference_extraction.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/repairs.py
  custom_components/spook/template_extraction.py
  custom_components/spook/translations/en.json
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/ectoplasms/automation/repairs/test_unknown_attribute_references.py
  tests/ectoplasms/script/repairs/test_unknown_attribute_references.py
  tests/ectoplasms/script/repairs/test_unknown_attribute_rounds.py
  tests/test_attribute_checking.py
  tests/test_attribute_references.py
Due: ruff-check, ruff-format, check-json, pylint

Check drafts for unknown attributes too
  custom_components/spook/draft_checking.py
  custom_components/spook/llm_tools.py
  custom_components/spook/repairs.py
  plugins/spook/skills/spook/references/repairs.md
  tests/test_llm.py
Due: ruff-check, ruff-format, pylint

Leave names, descriptions and script fields out of attribute checks
  custom_components/spook/reference_extraction.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
  tests/test_attribute_references.py
Due: ruff-check, ruff-format, pylint

Keep action data whole when leaving out names and descriptions
  custom_components/spook/reference_extraction.py
  tests/test_attribute_references.py
Due: ruff-check, ruff-format, pylint

Add repairs for unknown attributes used in automations and scripts (#1880)
  custom_components/spook/attribute_checking.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_attribute_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_attribute_references.py
  custom_components/spook/ectoplasms/spook/triggers/state_changed.py
  custom_components/spook/llm_tools.py
  custom_components/spook/reference_extraction.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/repairs.py
  custom_components/spook/template_extraction.py
  custom_components/spook/translations/en.json
  documentation/integrations/automation.md
  documentation/integrations/script.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/automation/repairs/test_unknown_attribute_references.py
  tests/ectoplasms/script/repairs/test_unknown_attribute_references.py
  tests/ectoplasms/script/repairs/test_unknown_attribute_rounds.py
  tests/test_attribute_checking.py
  tests/test_attribute_references.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-json, pylint

Add repairs for unknown states used in automations and scripts
  custom_components/spook/attribute_checking.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_state_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_state_references.py
  custom_components/spook/llm_tools.py
  custom_components/spook/reference_extraction.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/repairs.py
  custom_components/spook/state_checking.py
  custom_components/spook/template_extraction.py
  custom_components/spook/translations/en.json
  documentation/integrations/automation.md
  documentation/integrations/script.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/automation/repairs/test_unknown_state_references.py
  tests/ectoplasms/script/repairs/test_unknown_state_references.py
  tests/entity_objects.py
  tests/template_configs.py
  tests/test_attribute_checking.py
  tests/test_attribute_references.py
  tests/test_llm.py
  tests/test_state_checking.py
  tests/test_state_references.py
Due: ruff-check, ruff-format, check-json, pylint

Keep payload variables and signed subjects out of state lookups
  custom_components/spook/reference_extraction.py
  custom_components/spook/template_extraction.py
  tests/test_reference_extraction.py
  tests/test_state_references.py
Due: ruff-check, ruff-format, pylint

Add repairs for unknown states used in automations and scripts (#1881)
  custom_components/spook/attribute_checking.py
  custom_components/spook/draft_checking.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_state_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_state_references.py
  custom_components/spook/llm_tools.py
  custom_components/spook/reference_extraction.py
  custom_components/spook/repair_documentation.py
  custom_components/spook/repairs.py
  custom_components/spook/state_checking.py
  custom_components/spook/template_extraction.py
  custom_components/spook/translations/en.json
  documentation/integrations/automation.md
  documentation/integrations/script.md
  plugins/spook/skills/spook/references/repairs.md
  tests/ectoplasms/automation/repairs/test_unknown_state_references.py
  tests/ectoplasms/script/repairs/test_unknown_state_references.py
  tests/entity_objects.py
  tests/template_configs.py
  tests/test_attribute_checking.py
  tests/test_attribute_references.py
  tests/test_llm.py
  tests/test_reference_extraction.py
  tests/test_state_checking.py
  tests/test_state_references.py
Due: ruff-check, ruff-format, check-json, pylint

Do not judge an entity that changed while the recorder was asked
  custom_components/spook/attribute_checking.py
  custom_components/spook/state_checking.py
  tests/test_attribute_checking.py
  tests/test_state_checking.py
Due: ruff-check, ruff-format, pylint

Do not judge an entity that changed while the recorder was asked (#1882)
  custom_components/spook/attribute_checking.py
  custom_components/spook/state_checking.py
  tests/test_attribute_checking.py
  tests/test_state_checking.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
