Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (English (United Kingdom))
  custom_components/spook/translations/en-GB.json
Due: check-json

Translated using Weblate (Spanish (Latin America))
  custom_components/spook/translations/es-419.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh-Hans.json
Due: check-json

Update translation files
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/translations/nb.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Not everybody has a Resources page to open
  custom_components/spook/dashboard_resources.py
  custom_components/spook/ectoplasms/lovelace/repairs/missing_resources.py
  custom_components/spook/repairs.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/lovelace/repairs/test_missing_resources.py
Due: ruff-check, ruff-format, check-json, pylint

Reload what was pruned, or nothing changed
  custom_components/spook/repairs.py
  tests/ectoplasms/group/repairs/test_unknown_members.py
  tests/ectoplasms/homeassistant/repairs/test_min_max_unknown_sources.py
Due: ruff-check, ruff-format, pylint

Change a group's members while the house is running
  custom_components/spook/ectoplasms/group/services/__init__.py
  custom_components/spook/ectoplasms/group/services/add_members.py
  custom_components/spook/ectoplasms/group/services/remove_members.py
  custom_components/spook/ectoplasms/group/services/set_members.py
  custom_components/spook/group_members.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/group.md
  tests/ectoplasms/group/services/__init__.py
  tests/ectoplasms/group/services/test_members.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Tell me when it came back, not when it blinked
  custom_components/spook/ectoplasms/spook/triggers/flapping.py
  custom_components/spook/ectoplasms/spook/triggers/recovered.py
  custom_components/spook/ectoplasms/spook/triggers/stale.py
  custom_components/spook/icons.json
  custom_components/spook/target_watching.py
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_recovered.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Carry the return itself, not just the news of it
  custom_components/spook/ectoplasms/spook/triggers/recovered.py
  tests/ectoplasms/spook/triggers/test_recovered.py
Due: ruff-check, ruff-format, pylint

Two names for one member is still one member
  custom_components/spook/ectoplasms/group/services/add_members.py
  custom_components/spook/ectoplasms/group/services/remove_members.py
  custom_components/spook/ectoplasms/group/services/set_members.py
  custom_components/spook/group_members.py
  documentation/integrations/group.md
  tests/ectoplasms/group/services/test_members.py
Due: ruff-check, ruff-format, pylint
