Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

Replace black with ruff (#422)
  .github/workflows/black.yaml
  .github/workflows/ruff.yaml
  .pre-commit-config.yaml
  custom_components/spook/config_flow.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  poetry.lock
  pyproject.toml
Due: ruff-check, ruff-format, check-toml, check-yaml, pylint

Update automation.md
  documentation/integrations/automation.md
Due: none

Update script.md
  documentation/integrations/script.md
Due: none

Add Home Assistant restart safe_mode support
  custom_components/spook/ectoplasms/homeassistant/services/restart.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Fix no attribute EVENT_PERSISTENT_NOTIFICATIONS_UPDATED
  custom_components/spook/ectoplasms/homeassistant/sensor.py
Due: ruff-check, ruff-format, pylint

Add Home Assistant restart safe_mode support (#426)
  custom_components/spook/ectoplasms/homeassistant/services/restart.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Fix no attribute EVENT_PERSISTENT_NOTIFICATIONS_UPDATED (#427)
  custom_components/spook/ectoplasms/homeassistant/sensor.py
Due: ruff-check, ruff-format, pylint

Fixed typo in automation integration documentation (#424)
  documentation/integrations/automation.md
  documentation/integrations/script.md
Due: none

Fix warning
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Added `timer.set_duration` service
  custom_components/spook/ectoplasms/timer/__init__.py
  custom_components/spook/ectoplasms/timer/services/__init__.py
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/services.yaml
  documentation/integrations/timer.md
Due: ruff-check, ruff-format, check-yaml, pylint

Documentation fix
  documentation/integrations/timer.md
Due: none

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Fix typo for `Boo!` service
  custom_components/spook/services.yaml
Due: check-yaml

Fix accepting list of devices in enable/disable service
  custom_components/spook/ectoplasms/homeassistant/services/disable_device.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_device.py
Due: ruff-check, ruff-format, pylint

Allow enabling/disable multiple config entries in a single call
  custom_components/spook/ectoplasms/homeassistant/services/disable_config_entry.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_config_entry.py
  documentation/integrations.md
Due: ruff-check, ruff-format, pylint

Fix accepting list of devices in enable/disable service (#472)
  custom_components/spook/ectoplasms/homeassistant/services/disable_device.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_device.py
Due: ruff-check, ruff-format, pylint

Allow enabling/disable multiple config entries in a single call (#473)
  custom_components/spook/ectoplasms/homeassistant/services/disable_config_entry.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_config_entry.py
  documentation/integrations.md
Due: ruff-check, ruff-format, pylint

Converted to using entity service
  custom_components/spook/ectoplasms/timer/services/set_duration.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

ruff
  custom_components/spook/ectoplasms/timer/services/set_duration.py
Due: ruff-check, ruff-format, pylint

Fix crash on unavailable automations & scripts
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Fix crash on unavailable automations & scripts (#497)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Skip device IDs that are empty strings
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
Due: ruff-check, ruff-format, pylint

Skip scene inspection is data platform is missing
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Small documentation tweak
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/timer.md
  documentation/services.md
Due: check-yaml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
