Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: rye run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: rye run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-json:
  name: ｛ Check JSON files
  language: system
  entry: rye run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: rye run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: rye run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: rye run pylint

Clean up Poetry from Renovate configuration
  .github/renovate.json
Due: check-json

Clean up Poetry from Renovate configuration (#693)
  .github/renovate.json
Due: check-json

Detect unknown labels used in automations
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/translations/en.json
  custom_components/spook/util.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown labels used in automations (#694)
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/translations/en.json
  custom_components/spook/util.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown floors used in automations
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/translations/en.json
  custom_components/spook/util.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown floors used in automations (#695)
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/translations/en.json
  custom_components/spook/util.py
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown labels used in scripts
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/translations/en.json
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown labels used in scripts (#696)
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/translations/en.json
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown floors used in scripts
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/translations/en.json
Due: ruff-check, ruff-format, check-json, pylint

Detect unknown floors used in scripts (#697)
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/translations/en.json
Due: ruff-check, ruff-format, check-json, pylint

Allow setting icon on homeassistant.create_area service
  custom_components/spook/ectoplasms/homeassistant/services/create_area.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Area...
  custom_components/spook/services.yaml
Due: check-yaml

Allow setting icon on homeassistant.create_area service (#699)
  custom_components/spook/ectoplasms/homeassistant/services/create_area.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.create_floor service
  custom_components/spook/ectoplasms/homeassistant/services/create_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.create_floor service (#702)
  custom_components/spook/ectoplasms/homeassistant/services/create_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_alias_to_floor service
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_alias_to_floor service (#703)
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_alias_from_floor service
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_alias_from_floor service (#704)
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.set_floor_aliases service
  custom_components/spook/ectoplasms/homeassistant/services/set_floor_aliases.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.set_floor_aliases service (#705)
  custom_components/spook/ectoplasms/homeassistant/services/set_floor_aliases.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_area_to_floor service
  custom_components/spook/ectoplasms/homeassistant/services/add_area_to_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_area_to_floor service (#706)
  custom_components/spook/ectoplasms/homeassistant/services/add_area_to_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_area_from_floor service
  custom_components/spook/ectoplasms/homeassistant/services/remove_area_from_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.remove_area_from_floor service (#707)
  custom_components/spook/ectoplasms/homeassistant/services/remove_area_from_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.delete_floor service
  custom_components/spook/ectoplasms/homeassistant/services/delete_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.delete_floor service (#708)
  custom_components/spook/ectoplasms/homeassistant/services/delete_floor.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Fix gathering of all floor IDs
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix gathering of all floor IDs (#710)
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Use floor selector in floor related services
  custom_components/spook/services.yaml
Due: check-yaml

Use floor selector in floor related services (#711)
  custom_components/spook/services.yaml
Due: check-yaml

Add homeassistant.delete_label service
  custom_components/spook/ectoplasms/homeassistant/services/delete_label.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.delete_label service (#712)
  custom_components/spook/ectoplasms/homeassistant/services/delete_label.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.create_label service
  custom_components/spook/ectoplasms/homeassistant/services/create_label.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Remove dependency onto config component
  custom_components/spook/ectoplasms/homeassistant/services/create_label.py
Due: ruff-check, ruff-format, pylint

Fix service schema
  custom_components/spook/services.yaml
Due: check-yaml

Add homeassistant.create_label service (#713)
  custom_components/spook/ectoplasms/homeassistant/services/create_label.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_label_to_area service
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_area.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_label_to_area service (#715)
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_area.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add homeassistant.add_label_to_device service
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
