Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Let Jinja read the template instead of guessing at it
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Know a filter by how it is called, not only by its name
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

What goes into replace is text, not an entity
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Manage categories from an automation
  custom_components/spook/ectoplasms/homeassistant/categories.py
  custom_components/spook/ectoplasms/homeassistant/services/add_category_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/create_category.py
  custom_components/spook/ectoplasms/homeassistant/services/delete_category.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_category_from_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/update_category.py
  custom_components/spook/services.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/categories.md
  tests/ectoplasms/homeassistant/services/test_category_services.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Look everything up before changing anything
  custom_components/spook/ectoplasms/homeassistant/services/add_category_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/delete_category.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_category_from_entity.py
  tests/ectoplasms/homeassistant/services/test_category_services.py
Due: ruff-check, ruff-format, pylint

Look up every label target before changing any
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_area.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_device.py
  custom_components/spook/ectoplasms/homeassistant/services/add_label_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_area.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_device.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_label_from_entity.py
  tests/ectoplasms/homeassistant/services/test_label_services.py
Due: ruff-check, ruff-format, pylint

Check every user and zone before changing any
  custom_components/spook/ectoplasms/homeassistant/services/disable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_user.py
  custom_components/spook/ectoplasms/zone/services/delete.py
  tests/ectoplasms/homeassistant/services/test_user.py
  tests/ectoplasms/zone/__init__.py
  tests/ectoplasms/zone/services/__init__.py
  tests/ectoplasms/zone/services/test_delete.py
Due: ruff-check, ruff-format, pylint

Delete a zone listed twice only once
  custom_components/spook/ectoplasms/zone/services/delete.py
  tests/ectoplasms/zone/services/test_delete.py
Due: ruff-check, ruff-format, pylint

Check every user and zone before changing any (#1698)
  custom_components/spook/ectoplasms/homeassistant/services/disable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_user.py
  custom_components/spook/ectoplasms/zone/services/delete.py
  tests/ectoplasms/homeassistant/services/test_user.py
  tests/ectoplasms/zone/__init__.py
  tests/ectoplasms/zone/services/__init__.py
  tests/ectoplasms/zone/services/test_delete.py
Due: ruff-check, ruff-format, pylint

Let a script make its own timer, and clean it up
  custom_components/spook/ectoplasms/timer/services/create.py
  custom_components/spook/ectoplasms/timer/services/delete.py
  custom_components/spook/helper_collections.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/timer.md
  tests/ectoplasms/timer/__init__.py
  tests/ectoplasms/timer/services/__init__.py
  tests/ectoplasms/timer/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Refuse reserved IDs, clean up a failed rename, delete disabled timers
  custom_components/spook/helper_collections.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/timer.md
  tests/ectoplasms/timer/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own timer, and clean it up (#1700)
  custom_components/spook/ectoplasms/timer/services/create.py
  custom_components/spook/ectoplasms/timer/services/delete.py
  custom_components/spook/helper_collections.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/timer.md
  tests/ectoplasms/timer/__init__.py
  tests/ectoplasms/timer/services/__init__.py
  tests/ectoplasms/timer/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own toggle, and clean it up
  custom_components/spook/ectoplasms/input_boolean/__init__.py
  custom_components/spook/ectoplasms/input_boolean/services/__init__.py
  custom_components/spook/ectoplasms/input_boolean/services/create.py
  custom_components/spook/ectoplasms/input_boolean/services/delete.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_boolean.md
  tests/ectoplasms/input_boolean/__init__.py
  tests/ectoplasms/input_boolean/services/__init__.py
  tests/ectoplasms/input_boolean/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Wait for every domain Spook adds an action to
  custom_components/spook/manifest.json
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, check-json, pylint

Let a script make its own toggle, and clean it up (#1703)
  custom_components/spook/ectoplasms/input_boolean/__init__.py
  custom_components/spook/ectoplasms/input_boolean/services/__init__.py
  custom_components/spook/ectoplasms/input_boolean/services/create.py
  custom_components/spook/ectoplasms/input_boolean/services/delete.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_boolean.md
  tests/ectoplasms/input_boolean/__init__.py
  tests/ectoplasms/input_boolean/services/__init__.py
  tests/ectoplasms/input_boolean/services/test_create_delete.py
  tests/test_ectoplasm_discovery.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own counter, and clean it up
  custom_components/spook/ectoplasms/counter/__init__.py
  custom_components/spook/ectoplasms/counter/services/__init__.py
  custom_components/spook/ectoplasms/counter/services/create.py
  custom_components/spook/ectoplasms/counter/services/delete.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/counter.md
  tests/ectoplasms/counter/__init__.py
  tests/ectoplasms/counter/services/__init__.py
  tests/ectoplasms/counter/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Put the counter card in its place, and check restore lands
  documentation/enhanced_integrations.md
  tests/ectoplasms/counter/services/test_create_delete.py
Due: ruff-check, ruff-format, pylint

Let a script make its own counter, and clean it up (#1704)
  custom_components/spook/ectoplasms/counter/__init__.py
  custom_components/spook/ectoplasms/counter/services/__init__.py
  custom_components/spook/ectoplasms/counter/services/create.py
  custom_components/spook/ectoplasms/counter/services/delete.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/counter.md
  tests/ectoplasms/counter/__init__.py
  tests/ectoplasms/counter/services/__init__.py
  tests/ectoplasms/counter/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own input text, and clean it up
  custom_components/spook/ectoplasms/input_text/__init__.py
  custom_components/spook/ectoplasms/input_text/services/__init__.py
  custom_components/spook/ectoplasms/input_text/services/create.py
  custom_components/spook/ectoplasms/input_text/services/delete.py
  custom_components/spook/helper_collections.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_text.md
  tests/ectoplasms/input_text/__init__.py
  tests/ectoplasms/input_text/services/__init__.py
  tests/ectoplasms/input_text/services/test_create_delete.py
  tests/ectoplasms/timer/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own input text, and clean it up (#1705)
  custom_components/spook/ectoplasms/input_text/__init__.py
  custom_components/spook/ectoplasms/input_text/services/__init__.py
  custom_components/spook/ectoplasms/input_text/services/create.py
  custom_components/spook/ectoplasms/input_text/services/delete.py
  custom_components/spook/helper_collections.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_text.md
  tests/ectoplasms/input_text/__init__.py
  tests/ectoplasms/input_text/services/__init__.py
  tests/ectoplasms/input_text/services/test_create_delete.py
  tests/ectoplasms/timer/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own button, and clean it up
  custom_components/spook/ectoplasms/input_button/__init__.py
  custom_components/spook/ectoplasms/input_button/services/__init__.py
  custom_components/spook/ectoplasms/input_button/services/create.py
  custom_components/spook/ectoplasms/input_button/services/delete.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_button.md
  tests/ectoplasms/input_button/__init__.py
  tests/ectoplasms/input_button/services/__init__.py
  tests/ectoplasms/input_button/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own button, and clean it up (#1706)
  custom_components/spook/ectoplasms/input_button/__init__.py
  custom_components/spook/ectoplasms/input_button/services/__init__.py
  custom_components/spook/ectoplasms/input_button/services/create.py
  custom_components/spook/ectoplasms/input_button/services/delete.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_button.md
  tests/ectoplasms/input_button/__init__.py
  tests/ectoplasms/input_button/services/__init__.py
  tests/ectoplasms/input_button/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own date or time, and clean it up
  custom_components/spook/ectoplasms/input_datetime/__init__.py
  custom_components/spook/ectoplasms/input_datetime/services/__init__.py
  custom_components/spook/ectoplasms/input_datetime/services/create.py
  custom_components/spook/ectoplasms/input_datetime/services/delete.py
  custom_components/spook/helper_collections.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_datetime.md
  tests/ectoplasms/input_datetime/__init__.py
  tests/ectoplasms/input_datetime/services/__init__.py
  tests/ectoplasms/input_datetime/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own date or time, and clean it up (#1707)
  custom_components/spook/ectoplasms/input_datetime/__init__.py
  custom_components/spook/ectoplasms/input_datetime/services/__init__.py
  custom_components/spook/ectoplasms/input_datetime/services/create.py
  custom_components/spook/ectoplasms/input_datetime/services/delete.py
  custom_components/spook/helper_collections.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/input_datetime.md
  tests/ectoplasms/input_datetime/__init__.py
  tests/ectoplasms/input_datetime/services/__init__.py
  tests/ectoplasms/input_datetime/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own dropdown, and clean it up
  custom_components/spook/ectoplasms/input_select/services/create.py
  custom_components/spook/ectoplasms/input_select/services/delete.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/input_select.md
  tests/ectoplasms/input_select/__init__.py
  tests/ectoplasms/input_select/services/__init__.py
  tests/ectoplasms/input_select/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let a script make its own dropdown, and clean it up (#1709)
  custom_components/spook/ectoplasms/input_select/services/create.py
  custom_components/spook/ectoplasms/input_select/services/delete.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/input_select.md
  tests/ectoplasms/input_select/__init__.py
  tests/ectoplasms/input_select/services/__init__.py
  tests/ectoplasms/input_select/services/test_create_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Put the input number on the shared helper base
  custom_components/spook/ectoplasms/input_number/services/create.py
  custom_components/spook/ectoplasms/input_number/services/delete.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations/input_number.md
  tests/ectoplasms/input_number/services/test_create.py
  tests/ectoplasms/input_number/services/test_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Put the input number on the shared helper base (#1710)
  custom_components/spook/ectoplasms/input_number/services/create.py
  custom_components/spook/ectoplasms/input_number/services/delete.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/integrations/input_number.md
  tests/ectoplasms/input_number/services/test_create.py
  tests/ectoplasms/input_number/services/test_delete.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

List the open repairs, for an automation or a dashboard
  custom_components/spook/ectoplasms/repairs/services/list.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/repairs.md
  tests/ectoplasms/repairs/services/__init__.py
  tests/ectoplasms/repairs/services/test_list.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Fall back to the same title the dashboard does
  custom_components/spook/ectoplasms/repairs/services/list.py
  tests/ectoplasms/repairs/services/test_list.py
Due: ruff-check, ruff-format, pylint

List the open repairs, for an automation or a dashboard (#1711)
  custom_components/spook/ectoplasms/repairs/services/list.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/repairs.md
  tests/ectoplasms/repairs/services/__init__.py
  tests/ectoplasms/repairs/services/test_list.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Take an admin to ignore every repair for everybody
  custom_components/spook/ectoplasms/repairs/services/ignore_all.py
  custom_components/spook/ectoplasms/repairs/services/unignore_all.py
  documentation/integrations/repairs.md
  tests/ectoplasms/repairs/services/test_ignore_all.py
Due: ruff-check, ruff-format, pylint

Take an admin to ignore every repair for everybody (#1712)
  custom_components/spook/ectoplasms/repairs/services/ignore_all.py
  custom_components/spook/ectoplasms/repairs/services/unignore_all.py
  documentation/integrations/repairs.md
  tests/ectoplasms/repairs/services/test_ignore_all.py
Due: ruff-check, ruff-format, pylint

Set an entity's icon and aliases from an automation
  custom_components/spook/ectoplasms/homeassistant/entity_registry_entries.py
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/remove_alias_from_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/set_entity_aliases.py
  custom_components/spook/ectoplasms/homeassistant/services/set_entity_icon.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/entities.md
  tests/ectoplasms/homeassistant/services/test_entity_icon_aliases.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/integrations/spook_inverse/translations/nb_NO.json
Due: check-json

Translated using Weblate (Norwegian Nynorsk)
  custom_components/spook/integrations/spook_inverse/translations/nn.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json
