Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

Fix ruff warnings
  pyproject.toml
Due: check-toml

Add type check for config in __async_extract_entities method
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Add type check for config in __async_extract_entities method (#973)
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Detect entities in card visibility
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Clean up useless comment
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Detect entities in card visibility (#974)
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Fix script repair to detect unknown entities in blueprint trigger inputs (#975)
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  documentation/integrations/script.md
Due: ruff-check, ruff-format, pylint

Add support for detecting entity usage in Templates
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/util.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
Due: ruff-check, ruff-format, pylint

Add rename_entity action and documentation (#877)
  custom_components/spook/ectoplasms/homeassistant/services/rename_entity.py
  custom_components/spook/services.yaml
  documentation/actions.md
  documentation/core_extensions.md
  documentation/entities.md
  documentation/images/entities/rename_entity.png
Due: ruff-check, ruff-format, check-yaml, pylint

Add support for detecting entity usage in Templates (#977)
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/util.py
  documentation/integrations/automation.md
  documentation/integrations/script.md
Due: ruff-check, ruff-format, pylint

Add caching for all entity IDs and debounce updates in sensors
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Add caching for all entity IDs and debounce updates in sensors (#978)
  custom_components/spook/__init__.py
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix ghost busters listener management in async_setup_entry
  custom_components/spook/__init__.py
Due: ruff-check, ruff-format, pylint

Fix ghost busters listener management in async_setup_entry (#979)
  custom_components/spook/__init__.py
Due: ruff-check, ruff-format, pylint

Added translation using Weblate (Lithuanian)
  custom_components/spook/integrations/spook_inverse/translations/lt.json
Due: check-json

Added translation using Weblate (Lithuanian)
  custom_components/spook/translations/lt.json
Due: check-json

Translated using Weblate (Lithuanian)
  custom_components/spook/integrations/spook_inverse/translations/lt.json
Due: check-json

Translated using Weblate (Lithuanian)
  custom_components/spook/translations/lt.json
Due: check-json

Fix copy/paste error and some alignment
  custom_components/spook/services.yaml
Due: check-yaml

Align singular/plural use in Update services.yaml
  custom_components/spook/services.yaml
Due: check-yaml

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Add entity alias actions and docs
  custom_components/spook/ectoplasms/homeassistant/services/add_alias_to_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/get_alias_from_entity.py
  custom_components/spook/services.yaml
  documentation/actions.md
  documentation/entities.md
  documentation/images/entities/add_alias_to_entity.png
  documentation/images/entities/get_aliases_from_entity.png
Due: ruff-check, ruff-format, check-yaml, pylint

Added translation using Weblate (Belarusian)
  custom_components/spook/integrations/spook_inverse/translations/be.json
Due: check-json

Added translation using Weblate (Belarusian)
  custom_components/spook/translations/be.json
Due: check-json

feat(services): list_filtered_entities service; dynamic Domains/Integrations selector options; UI-parity filtering/search; truthy-only status
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
  custom_components/spook/services.yaml
  documentation/entities.md
Due: ruff-check, ruff-format, check-yaml, pylint

docs(entities): refine list_filtered_entities docs to match service; link screenshot
  documentation/entities.md
Due: none

docs(entities): add list_filtered_entities action screenshot
  documentation/images/entities/list_filtered_entities.png
Due: none

Update custom_components/spook/services.yaml
  custom_components/spook/services.yaml
Due: check-yaml

Update documentation/entities.md
  documentation/entities.md
Due: none

Update custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

fix(services): default limit=500 and cap at 50k to align with schema/docs
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

fix(services): add explicit unavailable flag; keep substring search semantics like HA UI
  custom_components/spook/ectoplasms/homeassistant/services/list_filtered_entities.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
