Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/integrations/spook_inverse/translations/sk.json
Due: check-json

Translated using Weblate (Norwegian Bokmål)
  custom_components/spook/integrations/spook_inverse/translations/nb_NO.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/integrations/spook_inverse/translations/fi.json
Due: check-json

Fix typo in issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: check-yaml

Translated using Weblate (Danish)
  custom_components/spook/integrations/spook_inverse/translations/da.json
Due: check-json

Fix Swedish translations for utility meters
  custom_components/spook/translations/sv.json
Due: check-json

Update Swedish translations for automation errors
  custom_components/spook/translations/sv.json
Due: check-json

fix review
  custom_components/spook/translations/sv.json
Due: check-json

fix(translations): correct placeholder names in Czech translation for automation_unknown_service_references
  custom_components/spook/translations/cs.json
Due: check-json

Add sensor for tracking Home Assistant todos
  custom_components/spook/ectoplasms/homeassistant/sensor.py
Due: ruff-check, ruff-format, pylint

Add translation for homeassistant_todo
  custom_components/spook/translations/en.json
Due: check-json

Add todo entities to devices documentation
  documentation/devices_entities.md
Due: none

Fix references
  custom_components/spook/ectoplasms/homeassistant/sensor.py
Due: ruff-check, ruff-format, pylint

Rename action from hide_entity to update_entity_id
  documentation/actions.md
Due: none

Update Czech translations - variable names fix
  custom_components/spook/translations/cs.json
Due: check-json

Correct minor typos in FAQ
  documentation/faq.md
Due: none

Added translation using Weblate (Vietnamese)
  custom_components/spook/translations/vi.json
Due: check-json

Translated using Weblate (Ukrainian)
  custom_components/spook/integrations/spook_inverse/translations/uk.json
Due: check-json

Added translation using Weblate (Vietnamese)
  custom_components/spook/integrations/spook_inverse/translations/vi.json
Due: check-json

Add files via upload
  custom_components/spook/translations/sv.json
Due: check-json

sort the entity list in the unknown entity repair message for dashboards
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

fix: Correct placeholders in Finnish translation
  custom_components/spook/translations/fi.json
Due: check-json

Find unknown entities in heading badge
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Redirect repairs to the first view with unknown entities
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Review
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint
