Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Add the calendar.delete_event action
  custom_components/spook/ectoplasms/calendar/__init__.py
  custom_components/spook/ectoplasms/calendar/services/__init__.py
  custom_components/spook/ectoplasms/calendar/services/delete_event.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/calendar.md
  tests/ectoplasms/calendar/__init__.py
  tests/ectoplasms/calendar/services/__init__.py
  tests/ectoplasms/calendar/services/conftest.py
  tests/ectoplasms/calendar/services/test_delete_event.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Hand a deleted series back as the series
  custom_components/spook/ectoplasms/calendar/services/delete_event.py
  tests/ectoplasms/calendar/services/test_delete_event.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Serbian)
  custom_components/spook/integrations/spook_inverse/translations/sr.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/integrations/spook_inverse/translations/sr_Latn.json
Due: check-json

Let the calibration and time in state setups mirror each other
  custom_components/spook/integrations/spook_calibration/__init__.py
  custom_components/spook/integrations/spook_time_in_state/__init__.py
Due: ruff-check, ruff-format, pylint

Add the calendar.update_event action
  custom_components/spook/ectoplasms/calendar/services/update_event.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/integrations/calendar.md
  tests/ectoplasms/calendar/services/conftest.py
  tests/ectoplasms/calendar/services/test_delete_event.py
  tests/ectoplasms/calendar/services/test_update_event.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Hand the calendar a copy, and move day-long events by whole days
  custom_components/spook/ectoplasms/calendar/services/update_event.py
  documentation/integrations/calendar.md
  tests/ectoplasms/calendar/services/conftest.py
  tests/ectoplasms/calendar/services/test_update_event.py
Due: ruff-check, ruff-format, pylint

Add the climate.increase_temperature and climate.decrease_temperature actions
  custom_components/spook/ectoplasms/climate/__init__.py
  custom_components/spook/ectoplasms/climate/services/__init__.py
  custom_components/spook/ectoplasms/climate/services/decrease_temperature.py
  custom_components/spook/ectoplasms/climate/services/increase_temperature.py
  custom_components/spook/ectoplasms/climate/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/climate.md
  tests/ectoplasms/climate/__init__.py
  tests/ectoplasms/climate/services/__init__.py
  tests/ectoplasms/climate/services/test_step_temperature.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Move the band in heat_cool, and leave setpoints past a limit alone
  custom_components/spook/ectoplasms/climate/stepping.py
  documentation/integrations/climate.md
  tests/ectoplasms/climate/services/test_step_temperature.py
Due: ruff-check, ruff-format, pylint

Set the setpoint on the thermostat itself, and the step in its own unit
  custom_components/spook/ectoplasms/climate/stepping.py
  tests/ectoplasms/climate/services/test_step_temperature.py
Due: ruff-check, ruff-format, pylint

Stop the light actions from waiting on themselves
  custom_components/spook/ectoplasms/light/adjusting.py
  custom_components/spook/ectoplasms/light/services/set_brightness.py
  custom_components/spook/ectoplasms/light/services/set_color.py
  custom_components/spook/ectoplasms/light/services/set_color_temperature.py
  custom_components/spook/ectoplasms/light/services/set_effect.py
  custom_components/spook/ectoplasms/light/stepping.py
  tests/ectoplasms/light/services/conftest.py
  tests/ectoplasms/light/services/test_one_call_at_a_time.py
Due: ruff-check, ruff-format, pylint

Work out the step in the thermostat's own unit
  custom_components/spook/ectoplasms/climate/stepping.py
  tests/ectoplasms/climate/services/test_step_temperature.py
Due: ruff-check, ruff-format, pylint

Check who may control the lights before adjusting any
  custom_components/spook/ectoplasms/light/adjusting.py
  tests/ectoplasms/light/services/test_one_call_at_a_time.py
Due: ruff-check, ruff-format, pylint

Add the water_heater.increase_temperature and water_heater.decrease_temperature actions
  custom_components/spook/ectoplasms/climate/stepping.py
  custom_components/spook/ectoplasms/water_heater/__init__.py
  custom_components/spook/ectoplasms/water_heater/services/__init__.py
  custom_components/spook/ectoplasms/water_heater/services/decrease_temperature.py
  custom_components/spook/ectoplasms/water_heater/services/increase_temperature.py
  custom_components/spook/ectoplasms/water_heater/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/setpoints.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/water_heater.md
  tests/ectoplasms/water_heater/__init__.py
  tests/ectoplasms/water_heater/services/__init__.py
  tests/ectoplasms/water_heater/services/test_step_temperature.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the humidifier.increase_humidity and humidifier.decrease_humidity actions
  custom_components/spook/ectoplasms/humidifier/__init__.py
  custom_components/spook/ectoplasms/humidifier/services/__init__.py
  custom_components/spook/ectoplasms/humidifier/services/decrease_humidity.py
  custom_components/spook/ectoplasms/humidifier/services/increase_humidity.py
  custom_components/spook/ectoplasms/humidifier/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/humidifier.md
  tests/ectoplasms/humidifier/__init__.py
  tests/ectoplasms/humidifier/services/__init__.py
  tests/ectoplasms/humidifier/services/test_step_humidity.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the cover.increase_position and cover.decrease_position actions
  custom_components/spook/ectoplasms/cover/__init__.py
  custom_components/spook/ectoplasms/cover/services/__init__.py
  custom_components/spook/ectoplasms/cover/services/decrease_position.py
  custom_components/spook/ectoplasms/cover/services/increase_position.py
  custom_components/spook/ectoplasms/cover/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/cover.md
  tests/ectoplasms/cover/__init__.py
  tests/ectoplasms/cover/services/__init__.py
  tests/ectoplasms/cover/services/test_step_position.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the valve.increase_position and valve.decrease_position actions
  custom_components/spook/ectoplasms/valve/__init__.py
  custom_components/spook/ectoplasms/valve/services/__init__.py
  custom_components/spook/ectoplasms/valve/services/decrease_position.py
  custom_components/spook/ectoplasms/valve/services/increase_position.py
  custom_components/spook/ectoplasms/valve/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/valve.md
  tests/ectoplasms/valve/__init__.py
  tests/ectoplasms/valve/services/__init__.py
  tests/ectoplasms/valve/services/test_step_position.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the media_player.increase_volume and media_player.decrease_volume actions
  custom_components/spook/ectoplasms/media_player/__init__.py
  custom_components/spook/ectoplasms/media_player/services/__init__.py
  custom_components/spook/ectoplasms/media_player/services/decrease_volume.py
  custom_components/spook/ectoplasms/media_player/services/increase_volume.py
  custom_components/spook/ectoplasms/media_player/stepping.py
  custom_components/spook/manifest.json
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/actions.md
  documentation/enhanced_integrations.md
  documentation/integrations/media_player.md
  tests/ectoplasms/media_player/__init__.py
  tests/ectoplasms/media_player/services/__init__.py
  tests/ectoplasms/media_player/services/test_step_volume.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Take the volume step as asked, to the fraction
  custom_components/spook/ectoplasms/media_player/stepping.py
  custom_components/spook/services.yaml
  custom_components/spook/setpoints.py
  documentation/integrations/media_player.md
  tests/ectoplasms/media_player/services/test_step_volume.py
Due: ruff-check, ruff-format, check-yaml, pylint

Refuse a fraction as a step instead of cutting it down
  custom_components/spook/ectoplasms/cover/stepping.py
  custom_components/spook/ectoplasms/humidifier/stepping.py
  custom_components/spook/ectoplasms/valve/stepping.py
  custom_components/spook/setpoints.py
  tests/ectoplasms/cover/services/test_step_position.py
  tests/ectoplasms/humidifier/services/test_step_humidity.py
  tests/ectoplasms/valve/services/test_step_position.py
  tests/test_setpoints.py
Due: ruff-check, ruff-format, pylint
