Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Belarusian)
  custom_components/spook/translations/be.json
Due: check-json

Translated using Weblate (Maltese)
  custom_components/spook/translations/mt.json
Due: check-json

Translated using Weblate (Turkish)
  custom_components/spook/translations/tr.json
Due: check-json

Translated using Weblate (Lithuanian)
  custom_components/spook/translations/lt.json
Due: check-json

Update translation files
  custom_components/spook/translations/ar.json
  custom_components/spook/translations/be.json
  custom_components/spook/translations/bg.json
  custom_components/spook/translations/ca.json
  custom_components/spook/translations/el.json
  custom_components/spook/translations/es.json
  custom_components/spook/translations/et.json
  custom_components/spook/translations/gl.json
  custom_components/spook/translations/he.json
  custom_components/spook/translations/hr.json
  custom_components/spook/translations/hu.json
  custom_components/spook/translations/id.json
  custom_components/spook/translations/it.json
  custom_components/spook/translations/ja.json
  custom_components/spook/translations/ka.json
  custom_components/spook/translations/lb.json
  custom_components/spook/translations/lt.json
  custom_components/spook/translations/lv.json
  custom_components/spook/translations/mt.json
  custom_components/spook/translations/nb_NO.json
  custom_components/spook/translations/pl.json
  custom_components/spook/translations/pt-BR.json
  custom_components/spook/translations/pt.json
  custom_components/spook/translations/ro.json
  custom_components/spook/translations/sl.json
  custom_components/spook/translations/th.json
  custom_components/spook/translations/tr.json
  custom_components/spook/translations/uk.json
  custom_components/spook/translations/ur.json
  custom_components/spook/translations/vi.json
Due: check-json

Collapse dependency release notes
  .github/release-drafter.yml
Due: check-yaml

Collapse dependency release notes (#1302)
  .github/release-drafter.yml
Due: check-yaml

Handle string native number values
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/number/__init__.py
  tests/ectoplasms/number/services/__init__.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Clarify hidden entity voice exposure
  documentation/entities.md
Due: none

Handle script referenced entity extraction errors
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Ignore entity ID prefixes in templates
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Ignore Jinja import filenames
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Allow templates for zone coordinates
  custom_components/spook/services.yaml
Due: check-yaml

Skip disabled service sequence steps
  custom_components/spook/entity_filtering.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Narrow ignored script reference TypeError
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Handle grouped string match arguments
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Cover Jinja import variants
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Cover disabled service sequence variants
  custom_components/spook/entity_filtering.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Avoid regex for string argument detection
  custom_components/spook/entity_filtering.py
Due: ruff-check, ruff-format, pylint

Allow templates for zone coordinates (#1308)
  custom_components/spook/services.yaml
Due: check-yaml

Clarify hidden entity voice exposure (#1304)
  documentation/entities.md
Due: none

Add context for invalid number native values
  custom_components/spook/ectoplasms/number/services/__init__.py
  custom_components/spook/ectoplasms/number/services/decrement.py
  custom_components/spook/ectoplasms/number/services/increment.py
  tests/ectoplasms/number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint
