Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

Fix service description schema for accepting multiple devices
  custom_components/spook/services.yaml
Due: check-yaml

Fix service description schema for accepting multiple devices (#556)
  custom_components/spook/services.yaml
Due: check-yaml

Process documentation review comments
  documentation/areas.md
  documentation/devices.md
  documentation/devices_entities.md
  documentation/entities.md
  documentation/integrations.md
  documentation/integrations/_template.md
  documentation/integrations/automation.md
  documentation/integrations/blueprint.md
  documentation/integrations/cloud.md
  documentation/integrations/group.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/integration.md
  documentation/integrations/lovelace.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/recorder.md
  documentation/integrations/repairs.md
  documentation/integrations/scene.md
  documentation/integrations/script.md
  documentation/integrations/select.md
  documentation/integrations/switch_as_x.md
  documentation/integrations/timer.md
  documentation/integrations/zone.md
  documentation/misc.md
  documentation/template_engine.md
  documentation/template_functions/flatten.md
  documentation/template_functions/fnmatch.md
  documentation/template_functions/fnmatch_filter.md
  documentation/template_functions/md5.md
  documentation/template_functions/sha1.md
  documentation/template_functions/sha256.md
  documentation/template_functions/sha512.md
  documentation/template_functions/shuffle.md
  documentation/template_functions/typeof.md
Due: none

File<space>name
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/fnmatch.md
  documentation/template_functions/fnmatch_filter.md
Due: none

Add missing comma
  documentation/template_functions/typeof.md
Due: none

Process documentation review comments (#557)
  documentation/areas.md
  documentation/devices.md
  documentation/devices_entities.md
  documentation/entities.md
  documentation/integrations.md
  documentation/integrations/_template.md
  documentation/integrations/automation.md
  documentation/integrations/blueprint.md
  documentation/integrations/cloud.md
  documentation/integrations/group.md
  documentation/integrations/input_number.md
  documentation/integrations/input_select.md
  documentation/integrations/integration.md
  documentation/integrations/lovelace.md
  documentation/integrations/number.md
  documentation/integrations/person.md
  documentation/integrations/recorder.md
  documentation/integrations/repairs.md
  documentation/integrations/scene.md
  documentation/integrations/script.md
  documentation/integrations/select.md
  documentation/integrations/switch_as_x.md
  documentation/integrations/timer.md
  documentation/integrations/zone.md
  documentation/misc.md
  documentation/template_engine.md
  documentation/template_functions.md
  documentation/template_functions/flatten.md
  documentation/template_functions/fnmatch.md
  documentation/template_functions/fnmatch_filter.md
  documentation/template_functions/md5.md
  documentation/template_functions/sha1.md
  documentation/template_functions/sha256.md
  documentation/template_functions/sha512.md
  documentation/template_functions/shuffle.md
  documentation/template_functions/typeof.md
Due: none

Detect unknown source used in utility meter helpers
  custom_components/spook/ectoplasms/utility_meter/__init__.py
  custom_components/spook/ectoplasms/utility_meter/repairs/__init__.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/translations/en.json
Due: ruff-check, ruff-format, check-json, pylint

Add documentation
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/utility_meter.md
Due: check-yaml

Detect unknown source used in utility meter helpers (#558)
  custom_components/spook/ectoplasms/utility_meter/__init__.py
  custom_components/spook/ectoplasms/utility_meter/repairs/__init__.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/utility_meter.md
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Detect unknown source used in trend helpers
  custom_components/spook/ectoplasms/trend/__init__.py
  custom_components/spook/ectoplasms/trend/repairs/__init__.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/trend.md
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Detect unknown source used in trend helpers (#560)
  custom_components/spook/ectoplasms/trend/__init__.py
  custom_components/spook/ectoplasms/trend/repairs/__init__.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/enhanced_integrations.md
  documentation/integrations/trend.md
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/integrations/spook_inverse/translations/pt_BR.json
Due: check-json

Don't inspect if automation or scripts aren't loaded yet
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Don't inspect if automation or scripts aren't loaded yet (#565)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Catalan)
  custom_components/spook/translations/ca.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Bulgarian)
  custom_components/spook/translations/bg.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Latvian)
  custom_components/spook/translations/lv.json
Due: check-json

Translated using Weblate (Indonesian)
  custom_components/spook/translations/id.json
Due: check-json

Translated using Weblate (Luxembourgish)
  custom_components/spook/translations/lb.json
Due: check-json

Translated using Weblate (Korean)
  custom_components/spook/translations/ko.json
Due: check-json

Translated using Weblate (Hebrew)
  custom_components/spook/translations/he.json
Due: check-json

Translated using Weblate (Japanese)
  custom_components/spook/translations/ja.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Translated using Weblate (Estonian)
  custom_components/spook/translations/et.json
Due: check-json

Translated using Weblate (Georgian)
  custom_components/spook/translations/ka.json
Due: check-json

Translated using Weblate (Romanian)
  custom_components/spook/translations/ro.json
Due: check-json

Translated using Weblate (Chinese (Traditional))
  custom_components/spook/translations/zh_Hant.json
Due: check-json

Translated using Weblate (Arabic)
  custom_components/spook/translations/ar.json
Due: check-json

Translated using Weblate (Thai)
  custom_components/spook/translations/th.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Chinese (Simplified))
  custom_components/spook/translations/zh_Hans.json
Due: check-json

Translated using Weblate (Slovenian)
  custom_components/spook/translations/sl.json
Due: check-json

Translated using Weblate (Russian)
  custom_components/spook/translations/ru.json
Due: check-json

Translated using Weblate (Greek)
  custom_components/spook/translations/el.json
Due: check-json

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
