Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

Added option to enable/disable users
  custom_components/spook/ectoplasms/homeassistant/services/disable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_user.py
  custom_components/spook/services.yaml
  documentation/_toc.yml
  documentation/actions.md
  documentation/users.md
Due: ruff-check, ruff-format, check-yaml, pylint

requested changes
  custom_components/spook/ectoplasms/homeassistant/services/disable_user.py
  custom_components/spook/ectoplasms/homeassistant/services/enable_user.py
  documentation/actions.md
  documentation/users.md
Due: ruff-check, ruff-format, pylint

fix: Correct placeholders in Czech translation
  .gitignore
  custom_components/spook/translations/cs.json
Due: check-json

Fix spelling error in documentation/faq.md
  documentation/faq.md
Due: none

Apply suggestions from code review
  documentation/faq.md
Due: none

Fix spelling error in documentation/faq.md (#1192)
  documentation/faq.md
Due: none

Fix references
  custom_components/spook/ectoplasms/homeassistant/sensor.py
Due: ruff-check, ruff-format, pylint

Add todo entities to devices documentation
  documentation/devices_entities.md
Due: none

Add translation for homeassistant_todo
  custom_components/spook/translations/en.json
Due: check-json

Add sensor for tracking Home Assistant todos
  custom_components/spook/ectoplasms/homeassistant/sensor.py
Due: ruff-check, ruff-format, pylint

Update Czech translations for automation errors
  custom_components/spook/translations/cs.json
Due: check-json

Ruff fixes
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Fix Swedish translations in sv.json
  custom_components/spook/translations/sv.json
Due: check-json

Formatting
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Remove redundant entry updates when already at target version
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Use magic value to avoid future runs.
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

But update to latest minor
  custom_components/spook/integrations/spook_inverse/__init__.py
Due: ruff-check, ruff-format, pylint

Update cs.json
  custom_components/spook/translations/cs.json
Due: check-json

Add create and delete services for input number helpers
  custom_components/spook/ectoplasms/input_number/services/create.py
  custom_components/spook/ectoplasms/input_number/services/delete.py
  custom_components/spook/services.yaml
Due: ruff-check, ruff-format, check-yaml, pylint

Add documentation for input number create and delete actions
  documentation/images/integrations/input_number/create.png
  documentation/images/integrations/input_number/delete.png
  documentation/integrations/input_number.md
Due: none

fix(recorder): stop blocking the event loop in list_orphaned_database_entities
  custom_components/spook/ectoplasms/homeassistant/services/list_orphaned_database_entities.py
Due: ruff-check, ruff-format, pylint

Bootstrap pytest scaffold with golden-path tests for entity-reference extractors
  .github/workflows/test.yaml
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/ectoplasms/__init__.py
  tests/ectoplasms/automation/__init__.py
  tests/ectoplasms/automation/repairs/__init__.py
  tests/ectoplasms/automation/repairs/test_unknown_entity_references.py
  tests/ectoplasms/lovelace/__init__.py
  tests/ectoplasms/lovelace/repairs/__init__.py
  tests/ectoplasms/lovelace/repairs/test_unknown_entity_references.py
  uv.lock
Due: ruff-check, ruff-format, check-toml, check-yaml, pylint

Extract base classes for unknown-reference repair boilerplate
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/person/services/add_device_tracker.py
  custom_components/spook/ectoplasms/person/services/remove_device_tracker.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/repairs.py
  pyproject.toml
Due: ruff-check, ruff-format, check-toml, pylint

Widen test coverage to script trigger extractor and util helpers
  tests/ectoplasms/script/__init__.py
  tests/ectoplasms/script/repairs/__init__.py
  tests/ectoplasms/script/repairs/test_unknown_entity_references.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Translations update from Hosted Weblate (#1083)
  custom_components/spook/integrations/spook_inverse/translations/da.json
  custom_components/spook/integrations/spook_inverse/translations/fi.json
  custom_components/spook/integrations/spook_inverse/translations/nb_NO.json
  custom_components/spook/integrations/spook_inverse/translations/sk.json
  custom_components/spook/integrations/spook_inverse/translations/uk.json
  custom_components/spook/integrations/spook_inverse/translations/vi.json
Due: check-json

Split util.py into entity_filtering, setup_helpers, integration_linking
  custom_components/spook/__init__.py
  custom_components/spook/binary_sensor.py
  custom_components/spook/button.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_zone.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_floor_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_label_references.py
  custom_components/spook/ectoplasms/switch_as_x/repairs/unknown_source.py
  custom_components/spook/ectoplasms/trend/repairs/unknown_source.py
  custom_components/spook/ectoplasms/utility_meter/repairs/unknown_source.py
  custom_components/spook/entity_filtering.py
  custom_components/spook/event.py
  custom_components/spook/integration_linking.py
  custom_components/spook/number.py
  custom_components/spook/select.py
  custom_components/spook/sensor.py
  custom_components/spook/setup_helpers.py
  custom_components/spook/switch.py
  custom_components/spook/time.py
  pyproject.toml
Due: ruff-check, ruff-format, check-toml, pylint

Find unknown entities in heading badge (#1173)
  custom_components/spook/ectoplasms/lovelace/repairs/unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Correct minor typos in FAQ (#1154)
  documentation/faq.md
Due: none

Fix typo in issue template (#1088)
  .github/ISSUE_TEMPLATE/config.yml
Due: check-yaml

Fix catalan translations
  custom_components/spook/translations/ca.json
Due: check-json

Add Home Assistant test harness
  .github/workflows/tests.yml
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_setup.py
  uv.lock
Due: ruff-check, ruff-format, check-toml, check-yaml, pylint

Add Home Assistant test harness (#1266)
  .github/workflows/tests.yml
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_setup.py
  uv.lock
Due: ruff-check, ruff-format, check-toml, check-yaml, pylint

Add Python 3.14 coverage testing
  .github/workflows/pylint.yaml
  .github/workflows/ruff.yaml
  .github/workflows/tests.yml
  LICENSE.md
  README.md
  custom_components/spook/ectoplasms/blueprint/services/importer.py
  pyproject.toml
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_setup.py
  uv.lock
Due: ruff-check, ruff-format, check-toml, check-yaml, pylint

Align HACS Home Assistant metadata
  hacs.json
Due: check-json

Add Python 3.14 coverage testing (#1268)
  .github/workflows/pylint.yaml
  .github/workflows/ruff.yaml
  .github/workflows/tests.yml
  LICENSE.md
  README.md
  custom_components/spook/ectoplasms/blueprint/services/importer.py
  hacs.json
  pyproject.toml
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_setup.py
  uv.lock
Due: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

Use prek for local hooks
  .devcontainer/devcontainer.json
  .github/workflows/pylint.yaml
  pyproject.toml
  uv.lock
Due: check-json, check-toml, check-yaml

Harden GitHub Actions with zizmor
  .github/workflows/documentation.yaml
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/labels.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/pylint.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yml
  .github/workflows/zizmor.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
