Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Added translation using Weblate (Spanish (Latin America))
  custom_components/spook/integrations/spook_calibration/translations/es_419.json
Due: check-json

Added translation using Weblate (Norwegian Bokmål)
  custom_components/spook/integrations/spook_calibration/translations/nb.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/integrations/spook_calibration/translations/nl.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/integrations/spook_calibration/translations/de.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/integrations/spook_calibration/translations/fr.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/integrations/spook_calibration/translations/es.json
Due: check-json

Translated using Weblate (German)
  custom_components/spook/translations/de.json
Due: check-json

Translated using Weblate (French)
  custom_components/spook/translations/fr.json
Due: check-json

Translated using Weblate (Spanish)
  custom_components/spook/translations/es.json
Due: check-json

Translated using Weblate (Italian)
  custom_components/spook/translations/it.json
Due: check-json

Translated using Weblate (Dutch)
  custom_components/spook/translations/nl.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Portuguese)
  custom_components/spook/translations/pt.json
Due: check-json

Translated using Weblate (Chinese (Simplified Han script))
  custom_components/spook/translations/zh-Hans.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Chinese (Traditional Han script))
  custom_components/spook/translations/zh-Hant.json
Due: check-json

Translated using Weblate (Finnish)
  custom_components/spook/translations/fi.json
Due: check-json

Translated using Weblate (Spanish (Latin America))
  custom_components/spook/translations/es-419.json
Due: check-json

Translated using Weblate (English (United Kingdom))
  custom_components/spook/translations/en-GB.json
Due: check-json

Translated using Weblate (Serbian)
  custom_components/spook/integrations/spook_calibration/translations/sr.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/integrations/spook_calibration/translations/sr_Latn.json
Due: check-json

Refresh blueprint sources after external changes
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Add the spook.device_added trigger
  custom_components/spook/ectoplasms/spook/triggers/device_added.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_device_added.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add the spook.device_discovered trigger
  custom_components/spook/ectoplasms/spook/triggers/device_discovered.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_device_discovered.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Read a new device without the deprecated parts, and pin its context
  custom_components/spook/ectoplasms/spook/triggers/device_added.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_device_added.py
Due: ruff-check, ruff-format, pylint

Say what device_discovered reports again, and pin title_placeholders
  custom_components/spook/ectoplasms/spook/triggers/device_discovered.py
  documentation/other_features.md
  tests/ectoplasms/spook/triggers/test_device_discovered.py
Due: ruff-check, ruff-format, pylint

Add the spook.device_discovered trigger (#1762)
  custom_components/spook/ectoplasms/spook/triggers/device_discovered.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_device_discovered.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Invalidate blueprint payloads after source changes and external installs
  custom_components/spook/ectoplasms/blueprint/update.py
  tests/ectoplasms/blueprint/test_update.py
Due: ruff-check, ruff-format, pylint

Add the spook.device_added trigger (#1761)
  custom_components/spook/ectoplasms/spook/triggers/device_added.py
  custom_components/spook/icons.json
  custom_components/spook/translations/en.json
  custom_components/spook/triggers.yaml
  documentation/other_features.md
  documentation/triggers.md
  tests/ectoplasms/spook/triggers/test_device_added.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Translated using Weblate (Serbian)
  custom_components/spook/translations/sr.json
Due: check-json

Translated using Weblate (Serbian (Latin script))
  custom_components/spook/translations/sr-Latn.json
Due: check-json

Added translation using Weblate (Spanish)
  custom_components/spook/integrations/spook_calibration/translations/es.json
Due: check-json

Added translation using Weblate (Irish)
  custom_components/spook/integrations/spook_calibration/translations/ga.json
Due: check-json

Added translation using Weblate (French)
  custom_components/spook/integrations/spook_calibration/translations/fr.json
Due: check-json
