Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-json:
  name: Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: uv run check-yaml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: uv run pylint

fix: silence PLR0912/too-many-branches and a merge-artifact whitespace line
  custom_components/spook/entity_filtering.py
  tests/test_entity_filtering.py
Due: ruff-check, ruff-format, pylint

Set repairs up when loaded on a running Home Assistant
  custom_components/spook/__init__.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Set repairs up when loaded on a running Home Assistant (#1435)
  custom_components/spook/__init__.py
  tests/test_setup.py
Due: ruff-check, ruff-format, pylint

Report missing scenes instead of ignoring every scene
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_scene_references.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Read legacy data_template, and cover the script path
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_scene_references.py
Due: ruff-check, ruff-format, pylint

Count timers, counters and groups
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/test_sensor.py
Due: ruff-check, ruff-format, check-json, pylint

Declare counter and group, assert the name not just the key
  custom_components/spook/manifest.json
  tests/ectoplasms/homeassistant/test_sensor.py
Due: ruff-check, ruff-format, check-json, pylint

Merge both payload keys, and ignore configurations that cannot run
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_scene_references.py
Due: ruff-check, ruff-format, pylint

Report missing scenes instead of ignoring every scene (#1436)
  custom_components/spook/entity_filtering.py
  tests/ectoplasms/automation/repairs/test_unknown_scene_references.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Count timers, counters and groups (#1437)
  custom_components/spook/ectoplasms/homeassistant/sensor.py
  custom_components/spook/manifest.json
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/test_sensor.py
Due: ruff-check, ruff-format, check-json, pylint

Stop calling a helper API that Home Assistant is removing
  custom_components/spook/integrations/spook_inverse/__init__.py
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Stop calling a helper API that Home Assistant is removing (#1438)
  custom_components/spook/integrations/spook_inverse/__init__.py
  tests/integrations/spook_inverse/test_init.py
Due: ruff-check, ruff-format, pylint

Stop comparing every unknown entity against every known one
  custom_components/spook/entity_filtering.py
  custom_components/spook/entity_suggestions.py
  tests/test_entity_suggestions.py
Due: ruff-check, ruff-format, pylint

Make the suggestion cache observable in tests
  tests/test_entity_suggestions.py
Due: ruff-check, ruff-format, pylint

Stop comparing every unknown entity against every known one (#1439)
  custom_components/spook/entity_filtering.py
  custom_components/spook/entity_suggestions.py
  tests/test_entity_suggestions.py
Due: ruff-check, ruff-format, pylint

refactor: extract per-action dispatch from async_find_services_in_sequence
  custom_components/spook/entity_filtering.py
Due: ruff-check, ruff-format, pylint

Stop reporting action names as unknown entities
  custom_components/spook/entity_filtering.py
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_notify_action_names.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
  tests/test_entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Stop reporting action names as unknown entities (#1440)
  custom_components/spook/entity_filtering.py
  custom_components/spook/template_extraction.py
  tests/ectoplasms/automation/repairs/test_notify_action_names.py
  tests/ectoplasms/template/repairs/test_unknown_entity_references.py
  tests/test_entity_filtering.py
  tests/test_util.py
Due: ruff-check, ruff-format, pylint

Add an action to set a sensor's display precision
  custom_components/spook/ectoplasms/sensor/__init__.py
  custom_components/spook/ectoplasms/sensor/services/__init__.py
  custom_components/spook/ectoplasms/sensor/services/set_display_precision.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/sensor/__init__.py
  tests/ectoplasms/sensor/services/__init__.py
  tests/ectoplasms/sensor/services/test_set_display_precision.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add actions to expose entities to voice assistants
  custom_components/spook/ectoplasms/homeassistant/services/__init__.py
  custom_components/spook/ectoplasms/homeassistant/services/expose_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/unexpose_entity.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/services/test_voice_assistant_exposure.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let input_number increment and decrement cycle the range
  custom_components/spook/ectoplasms/input_number/services/__init__.py
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/input_number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Cycle at whichever end is crossed, and floor the slot count
  custom_components/spook/ectoplasms/input_number/services/__init__.py
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  tests/ectoplasms/input_number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, pylint

Cap the display precision at what can be rendered
  custom_components/spook/ectoplasms/sensor/services/set_display_precision.py
  custom_components/spook/services.yaml
  tests/ectoplasms/sensor/services/test_set_display_precision.py
Due: ruff-check, ruff-format, check-yaml, pylint

Cover the entity that has no registry entry
  tests/ectoplasms/homeassistant/services/test_voice_assistant_exposure.py
Due: ruff-check, ruff-format, pylint

Add actions to expose entities to voice assistants (#1442)
  custom_components/spook/ectoplasms/homeassistant/services/__init__.py
  custom_components/spook/ectoplasms/homeassistant/services/expose_entity.py
  custom_components/spook/ectoplasms/homeassistant/services/unexpose_entity.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/homeassistant/services/test_voice_assistant_exposure.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Let input_number increment and decrement cycle the range (#1443)
  custom_components/spook/ectoplasms/input_number/services/__init__.py
  custom_components/spook/ectoplasms/input_number/services/decrement.py
  custom_components/spook/ectoplasms/input_number/services/increment.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/input_number/services/test_increment_decrement.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Add an action to set a sensor's display precision (#1441)
  custom_components/spook/ectoplasms/sensor/__init__.py
  custom_components/spook/ectoplasms/sensor/services/__init__.py
  custom_components/spook/ectoplasms/sensor/services/set_display_precision.py
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  tests/ectoplasms/sensor/__init__.py
  tests/ectoplasms/sensor/services/__init__.py
  tests/ectoplasms/sensor/services/test_set_display_precision.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Call a config entry an integration entry
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/glossary.md
  documentation/integrations.md
Due: check-json, check-yaml

Call a config entry an integration entry (#1444)
  custom_components/spook/services.yaml
  custom_components/spook/translations/en.json
  documentation/actions.md
  documentation/glossary.md
  documentation/integrations.md
Due: check-json, check-yaml

Detect broken alerts before they need to work
  custom_components/spook/ectoplasms/alert/__init__.py
  custom_components/spook/ectoplasms/alert/configuration.py
  custom_components/spook/ectoplasms/alert/repairs/__init__.py
  custom_components/spook/ectoplasms/alert/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/alert/repairs/unknown_notifiers.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/integrations/alert.md
  tests/ectoplasms/alert/__init__.py
  tests/ectoplasms/alert/repairs/__init__.py
  tests/ectoplasms/alert/repairs/test_unknown_entity_references.py
  tests/ectoplasms/alert/repairs/test_unknown_notifiers.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Recheck alerts on state-only entities and fail loudly on unreadable YAML
  custom_components/spook/ectoplasms/alert/configuration.py
  custom_components/spook/ectoplasms/alert/repairs/unknown_entity_references.py
  documentation/integrations/alert.md
  tests/ectoplasms/alert/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Detect broken alerts before they need to work (#1446)
  custom_components/spook/ectoplasms/alert/__init__.py
  custom_components/spook/ectoplasms/alert/configuration.py
  custom_components/spook/ectoplasms/alert/repairs/__init__.py
  custom_components/spook/ectoplasms/alert/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/alert/repairs/unknown_notifiers.py
  custom_components/spook/translations/en.json
  documentation/_toc.yml
  documentation/integrations/alert.md
  tests/ectoplasms/alert/__init__.py
  tests/ectoplasms/alert/repairs/__init__.py
  tests/ectoplasms/alert/repairs/test_unknown_entity_references.py
  tests/ectoplasms/alert/repairs/test_unknown_notifiers.py
Due: ruff-check, ruff-format, check-json, check-yaml, pylint

Only wake the alert repair for entities an alert watches
  custom_components/spook/ectoplasms/alert/repairs/unknown_entity_references.py
  tests/ectoplasms/alert/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Only wake the alert repair for entities an alert watches (#1447)
  custom_components/spook/ectoplasms/alert/repairs/unknown_entity_references.py
  tests/ectoplasms/alert/repairs/test_unknown_entity_references.py
Due: ruff-check, ruff-format, pylint

Recheck people when a state-only device tracker comes or goes
  custom_components/spook/ectoplasms/person/repairs/unknown_device_trackers.py
  tests/ectoplasms/person/repairs/test_unknown_device_trackers.py
Due: ruff-check, ruff-format, pylint

Recheck people when a state-only device tracker comes or goes (#1448)
  custom_components/spook/ectoplasms/person/repairs/unknown_device_trackers.py
  tests/ectoplasms/person/repairs/test_unknown_device_trackers.py
Due: ruff-check, ruff-format, pylint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pylint: any of: \.py$
