Repository frenck/spook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-json, check-toml, check-yaml, pylint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: poetry run check-symlinks
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: poetry
        name: 📜 Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: 🎨 Format using prettier

Fix detecting service calls that use old-style service_template (#617)
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Danish)
  custom_components/spook/integrations/spook_inverse/translations/da.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/integrations/spook_inverse/translations/sv.json
Due: check-json

Make cloud switch _update_state function a coro
  custom_components/spook/ectoplasms/cloud/switch.py
Due: ruff-check, ruff-format, pylint

Make ruff happy
  custom_components/spook/ectoplasms/cloud/switch.py
Due: ruff-check, ruff-format, pylint

Make cloud switch entity `_update_state` function a coro (#647)
  custom_components/spook/ectoplasms/cloud/switch.py
Due: ruff-check, ruff-format, pylint

Adjust to latest version
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
Due: ruff-check, ruff-format, pylint

Drop hass-nabucasa direct dependency
  poetry.lock
  pyproject.toml
Due: check-toml

Fix for event filter
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Styling fixes
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Fix for event filter (#666)
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Translated using Weblate (Polish)
  custom_components/spook/translations/pl.json
Due: check-json

Translated using Weblate (Swedish)
  custom_components/spook/translations/sv.json
Due: check-json

Translated using Weblate (Slovak)
  custom_components/spook/translations/sk.json
Due: check-json

Translated using Weblate (Portuguese (Brazil))
  custom_components/spook/translations/pt-BR.json
Due: check-json

Translated using Weblate (Galician)
  custom_components/spook/translations/gl.json
Due: check-json

Translated using Weblate (Danish)
  custom_components/spook/translations/da.json
Due: check-json

Fix auto-cleanup of repair issues
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Clean up both cases
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Trigger inspection on reload
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
Due: ruff-check, ruff-format, pylint

Fix auto-cleanup of repair issues (#667)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/integration/repairs/unknown_source.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
  custom_components/spook/repairs.py
Due: ruff-check, ruff-format, pylint

Fix detecting empty device IDs
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Fix detecting empty device IDs (#669)
  custom_components/spook/util.py
Due: ruff-check, ruff-format, pylint

Publish source code with MIT license
  .github/CONTRIBUTING.md
  .github/LICENSE.md
  README.md
  documentation/about.md
  documentation/faq.md
  documentation/license.md
  pyproject.toml
Due: check-toml

Switch Spook to MIT license (#672)
  .github/CONTRIBUTING.md
  .github/LICENSE.md
  README.md
  documentation/about.md
  documentation/faq.md
  documentation/license.md
  pyproject.toml
Due: check-toml

Migrate from Poetry to rye
  .github/workflows/pylint.yaml
  .github/workflows/ruff.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-toml, check-yaml

Use uv
  .github/workflows/pylint.yaml
  .github/workflows/ruff.yaml
Due: check-yaml

Fixes
  custom_components/spook/ectoplasms/blueprint/services/importer.py
  custom_components/spook/ectoplasms/homeassistant/templating/flatten.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch.py
  custom_components/spook/ectoplasms/homeassistant/templating/fnmatch_filter.py
  custom_components/spook/ectoplasms/homeassistant/templating/shuffle.py
  pyproject.toml
Due: ruff-check, ruff-format, check-toml, pylint

Use correct ruff command
  .github/workflows/ruff.yaml
Due: check-yaml

Update devcontainer
  .devcontainer/devcontainer.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/translations/cs.json
Due: check-json

Translated using Weblate (Czech)
  custom_components/spook/integrations/spook_inverse/translations/cs.json
Due: check-json

Fix typo:
  .devcontainer/devcontainer.json
Due: check-json

Performance improvements
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
Due: ruff-check, ruff-format, pylint

Performance improvements (#679)
  custom_components/spook/ectoplasms/automation/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_device_references.py
  custom_components/spook/ectoplasms/automation/repairs/unknown_service_references.py
  custom_components/spook/ectoplasms/group/repairs/unknown_members.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_ignored_zones.py
  custom_components/spook/ectoplasms/proximity/repairs/unknown_tracked_entities.py
  custom_components/spook/ectoplasms/scene/repairs/unknown_entity_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_area_references.py
  custom_components/spook/ectoplasms/script/repairs/unknown_device_references.py
Due: ruff-check, ruff-format, pylint
